<div class="app-card form-card tabs-card max-width">
  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Details</h2>
  </div>

  <div class="app-inner inset-wide has-border">
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Building Information</h2>
  </div>

  <div class="app-inner inset-wide has-border">
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value value="4053 18TH ST, SAN FRANCISCO, CA, 94114-2535" }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value value="4053 18TH ST, SAN FRANCISCO, CA, 94114-2535" }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 column">
        <div class="form-group">
          {{> forms.text-value value="http://sfmohcd.org/sites/default/files/Documents/
MOHHousing%20Listing%20PhotosTrinity%20Place
%201188%20Mission.jpg" }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Listing Preferences</h2>
  </div>

  <div class="app-inner inset-wide has-border">
    <div class="form-grid row expand">
        <div class="small-12 column">
          <div class="scrollable-table-container">
            {{> tables.table--percent classes="td-plain th-plain"}}
          </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Accessibility, Amenities, Fees</h2>
  </div>

  <div class="app-inner inset-wide has-border">
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 column">
        <div class="form-group">
          {{> forms.text-value value="Laundry room, underground parking, courtyard, bike room" }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 column">
        <div class="form-group">
          {{> forms.text-value value="Tenants pay for gas, electricity. For pet fees: Cat is allowed with a $500 refundable deposit, $250 non-refundable cleaning fee and a pet addendum.  Dogs are not allowed in the building. One parking space per unit available for $175 a month." }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Lottery Information</h2>
  </div>

  <div class="app-inner inset-wide has-border">
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Application Information</h2>
  </div>

  <div class="app-inner inset-wide has-border">
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Leasing Agent and Developer Information</h2>
  </div>

  <div class="app-inner inset-wide has-border">
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Additional Eligibility Rules</h2>
  </div>

  <div class="app-inner inset-wide has-border no-border-on-small">
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 column">
        <div class="form-group">
          {{> forms.text-value value="Provide a credit report with score from Equifax, Experian, or TransUnion dated within thirty (30) days of the application. Accounts that are not current or that are derogatory will negatively affect the overall scoring, which could result in the denial of the application or an additional deposit may be required. Collection accounts exceeding a combined amount of $1,000.00 (excluding student loans and medical debt) will negatively affect the overall scoring, which could result in the denial of the application or an additional deposit may be required. Bankruptcy if not cleared will be an automatic denial of the rental application. No Guarantors permitted. Mitigating circumstances may be considered." }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 column">
        <div class="form-group">
          {{> forms.text-value value="Provide minimum of 4 years rental history with at least two prior rentals in which you were responsible for paying the rent. Applicants without rental history will still be considered. No Guarantors permitted. Previous rental history will be reviewed and must exhibit no derogatory references. Landlord references will only check for evictions, payment history, and documented lease violations. No-fault evictions (Ellis Act, Owner Move-in evictions) will not be held against a household. All debt owed to an apartment community must be satisfied. Mitigating circumstances may be considered." }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 column">
        <div class="form-group">
          {{> forms.text-value }}
        </div>
      </div>
    </div>
  </div>

  <div class="padding-bottom--2x margin-bottom--2x"></div>
</div>