<div class="app-card form-card tabs-card max-width">

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Primary Applicant</h2>
  </div>

  <div class="app-inner inset-wide border-bottom">
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner subheader-wide">
    <h3 class="app-card_h3 t-sans">Home Address</h3>
  </div>

  <div class="app-inner inset-wide border-bottom">
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="row">
          <div class="small-6 column">
            <div class="form-group">
              <label for="" class="">{{default label "Text label"}}</label>
              {{> @select }}
            </div>
          </div>
          <div class="small-6 column">
            <div class="form-group">
              {{> @text-input }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner subheader-wide">
    <h3 class="app-card_h3 t-sans">Mailing Address</h3>
  </div>

  <div class="app-inner inset-wide border-bottom">
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="row">
          <div class="small-6 column">
            <div class="form-group">
              <label for="" class="">{{default label "Text label"}}</label>
              {{> @select }}
            </div>
          </div>
          <div class="small-6 column">
            <div class="form-group">
              {{> @text-input }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Alternate Contact</h2>
  </div>

  <div class="app-inner inset-wide border-bottom">
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Household Members</h2>
  </div>

  <div class="app-inner inset-wide border-bottom">
    <div class="form-grid row expand">
      <div class="small-12 column">
        {{> @button classes="small" text="Add household member"}}
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Reserved and Priority Qualifying Information</h2>
  </div>

  <div class="app-inner inset-wide border-bottom">
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          <label for="" class="">{{default label "Text label"}}</label>
          {{> @radio-group--inline items=inputs.yesno }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          <label for="" class="">{{default label "Text label"}}</label>
          {{> @radio-group--inline items=inputs.yesno }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          <label for="" class="">{{default label "Text label"}}</label>
          {{> @radio-group--inline items=inputs.yesno }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          <label for="" class="">{{default label "Text label"}}</label>
          {{> @checkbox-group classes="form-checkbox-item"}}
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Application Preferences</h2>
  </div>

  <div class="app-inner inset-wide border-bottom">
    <div class="form-grid row expand">
      <div class="small-12 column">
        {{> @button classes="small" text="Add Preference"}}
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Declared Household Income</h2>
  </div>

  <div class="app-inner inset-wide border-bottom">
    <div class="form-grid row expand">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
    </div>
  </div>

  <div class="app-inner header-wide">
    <h2 class="app-card_h2">Demographic Information</h2>
  </div>

  <div class="app-inner inset-wide">
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
    </div>
    <div class="form-grid row expand padding-bottom">
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
      <div class="form-grid_item small-12 medium-6 large-3 column">
        <div class="form-group">
          {{> @text-input }}
        </div>
      </div>
    </div>
  </div>

  <div class="padding-bottom--2x margin-bottom--2x"></div>

  <div class="button-pager">
    <div class="button-pager_row align-buttons-center primary">
      <button class="button primary">{{default left 'Save'}}</button><button class="button secondary}}">{{default left 'Save and New'}}</button>
    </div>
    <div class="button-pager_row {{default r-row-classes ''}}">
      <button class="button button expand-small button-link button-lined small-text-center">{{default right 'Cancel'}}</button>
  </div>
  </div>
</div>