<div class="content-column">
  <div class="content-group has-divider">
    <h2 class="h-caps-lined">How to Apply</h2>

    {{> @button text="Apply Now Online" classes="primary expand no-margin" data="gtm-apply-online"}}

    <div class="option-divider"><span class="or">or</span></div>
  </div>

  <div class="content-group has-divider">
    <div class="t-delta t-serif margin-bottom"><span class="c-primary">1</span> Get a Paper Application</div>
    <p class="c-charcoal t-small margin-bottom">Paper applications must be sent by US Mail and cannot be submitted in person.</p>

    {{> @link-icon text="Download Application" classes="secondary expand no-margin has-icon--right" url="http://www.sfmohcd.org/index.aspx?page=133"}}

    <div class="option-divider"><span class="or">or</span></div>
  </div>

  <div class="content-group has-divider">
    <h3 class="content-group_title">Pickup an application</h3>
  {{#compare application_pickup '==' true }}
    <p class="content-group_address no-margin">Caritas Management Corporation<br>
    1358 Valencia St,<br> San Francisco, CA 94102</p>
    <a href="#" class="a-deep t-small d-block margin-bottom--2x hide-for-print">
      {{> icons.base icon="map" fill="primary"}}
      View Map
    </a>

    <div class="content-group_hours">
      <h3 class="content-group_title">Office Hours</h3>
      <div class="content-group_days inline">
        <p>Monday&ndash;Friday
          <strong>8:30am&ndash;12:00pm</strong>
          <strong>1:30pm&ndash;5:00pm</strong>
        </p>
        <p>Saturday
          <strong>8:30am&ndash;5:00pm</strong>
        </p>
      </div>
    </div>
  {{else }}
    <p class="c-charcoal t-small">You may pick up an application by visiting any of our housing counselors.</p>

    {{> @button text="Visit a Housing Counselor" classes="secondary expand no-margin" data="gtm-apply-online"}}
  {{/compare}}
    <p class="c-charcoal t-small margin-top">Paper applications must be mailed to the P.O. Box below.</p>
  </div>

  <div class="content-group bg-snow">
    <div class="t-delta t-serif margin-bottom"><span class="c-primary">2</span> Submit a Paper Application</div>

    <h3 class="content-group_title">Send Application by US Mail</h3>
    <p class="content-group_address">Trinity Place Apartments<br>
    P.O. Box 410775<br>
    San Francisco, CA 94141</p>
    <p class="c-charcoal t-small">In order to receive your lottery number, include a self addressed stamped envelope, otherwise one will not be mailed to you. Applications must be received by the deadline and postmarks will not be considered.</p>
    <p class="c-charcoal t-small">
    Do not apply online and also send in a paper application. All applications containing any person who appears on more than on application will be removed from the lottery.</p>
  </div>  

  <div class="content-group">
    <h4 class="h-caps-lined">Need Help?</h4>
    <p class="c-charcoal t-small margin-bottom">Visit a local housing counselors for help with your online or paper application.</p>
    {{> @button text="Find a Housing Counselor" classes="secondary expand no-margin" data="gtm-apply-online"}}
  </div>

  <div class="content-group">
    <h4 class="h-caps-lined">Contact Leasing Agent</h4>
    <h3 class="t-delta t-sans no-margin">Sophia Sidhu</h3>
    <p class="c-steel">Affordable Leasing Administrator</p>

    <p class="margin-bottom--half">
      <a href="#" class="margin-bottom--half">
        {{> icons.base icon="phone" fill="primary"}}
        Call 415-928-5910
      </a>
    </p>
    <p class="c-charcoal t-small">Due to high call volume you may hear a recorded message</p>
  </div>
</div>
