<section class="content-wrap">
  <div class="content-group no-padding show-for-medium-up">
    {{> @flag-label classes="text-wrap"}}
  </div>

  {{#compare multifamily '==' true }}
  <div class="content-group show-for-medium-up">
    <h4 class="content-group_title c-primary">Apply to the Waitlist for 84 Units</h4>
    <p class="t-small c-steel">
    300 people are currently on this list <br>
    200 open slots remaining
    </p>

    <p class="t-small c-steel">There are no vacant units available for this listing at this time. Once vacancies are filled the top portion of lottery applicants will be placed on a waitlist and be reviewed based on their ranking as units become available.</p> 
  </div>
  {{/compare}}

  <div class="content-group">
    <h4 class="content-group_title">Information Session</h4>
    <ul>
      <li>
        <p class="content-group_date">
          <span class="content-group_day">October 27, 2015</span>
          <span class="content-group_time">1:00pm&ndash;2:30pm</span>
        </p>
        <p class="content-group_address c-steel">San Francisco LGBT Community Center<br> 1800 Market Street,<br> San Francisco</p>
      </li>
    </ul>
  </div>
  
  <div class="content-group">
    <h4 class="content-group_title">Open Houses</h4>
    <ul class="content-list">
      <li>
        <p class="content-group_date">
          <span class="content-group_day">October 10, 2015</span>
          <span class="content-group_time">1:00pm&ndash;2:30pm</span>
        </p>
      </li>

      <li>
        <p class="content-group_date">
          <span class="content-group_day">October 18, 2015</span>
          <span class="content-group_time">1:00pm&ndash;2:30pm</span>
        </p>  
      </li> 
    </ul>   
  </div>

  <div class="show-for-medium-up">
    {{> @content-column-apply application_pickup=true}} 
  </div>

  <div class="content-group">
    <h4 class="h-caps-lined">Public Lottery</h4>
    <ul>
      <li>
        <p class="content-group_date">
          <span class="content-group_day">November 28, 2015</span>
          <span class="content-group_time">1:00pm&ndash;2:30pm</span>
        </p>
        <p class="content-group_address">San Francisco LGBT Community Center<br>
        1800 Market Street,<br> San Francisco</p>
      </li>
    </ul>
  </div>

  <div class="content-group">
    <p class="t-small">Listing Updated August 15, 2015</p>
  </div>
</section> 
