<div class="dash-container" ng-app="dahlia" ng-controller="AnimateController">
  <section class="row collapse">
    <div class="medium-8 medium-centered columns fixed-width">
      <main class="dash-card">
        <header class="dash-header text-center">
          <span class="header-badge">
            {{> @icons-base icon="application" }}
          </span>
          <h1 class="dash-title no-margin">My Applications</h1>
        </header>

        <div class="block--short bg-dust dash-footer animated-fade" ng-if="!hasApplications()">
          <h2 class="t-delta t-serif c-oil">It looks like you haven’t applied to any listings yet.</h1>

          <a href="#" class="button ghost-white">Browse Listings</a>
        </div>

        {{> components.feed-item state="editable" }}
        {{> components.feed-item state="submitted" }}
        {{> components.feed-item state="past-due" }}
      </main>
    </div>
  </section>
</div>
