<footer class="footer-section bg-tuatara {{default classes ''}}">
  <div class="row text-center padding-top--2x padding-bottom--2x">
    <div class="medium-12 columns">
      <ul class="inline-list welcome-links t-semi">
        <li>
          <a href="#">Bienvenido</a>
        </li>
        <li>
          <a href="#">歡迎</a>
        </li>
        <li>
          <a href="#">Maligayang pagdating</a>
        </li>
      </ul>
    </div>
    <div class="medium-12 columns">
      <img src="/dist/toolkit/images/logo-city.png" class="city-logo margin-bottom--2x" alt="City & County of San Francisco Logo">
    </div>
    <div class="clear"></div>
    <div class="medium-8 medium-centered columns">
      <p class="c-iron">The San Francisco Housing Portal is a project of the <br> <a href="#" class="a-white">Mayor's Office of Housing and Community Development</a></p>

      <p class="t-small c-iron margin-top">in partnership with <br>
         <a href="#" class="a-white">San Francisco Department of Technology</a><br>
         <a href="#" class="a-white">Mayor's Office of Civic Innovation</a>
      </p>

      <p class="t-small c-iron margin-top--2x">For listing and application questions, please contact the Leasing Agent displayed on the listing.<br> For general program inquiries, you may call MOHCD at 415-701-5560.</p>

    </div>
  </div>
  <section class="footer-sock bg-ebony padding-top--2x padding-bottom">
    <div class="row">
      <div class="medium-3 large-4 columns small-only-text-center">
        <span class="c-aluminum">© City & County of San Francisco</span>
      </div>
      <div class="medium-9 large-8 columns small-only-text-center">
        <ul class="inline-list">
          <li>
            <a href="#">Give Feedback</a>
          </li>
          <li>
            <a href="mailto:sfhousing.info@sfgov.org">Contact</a>
          </li>
          <li>
            <a href="/pages/disclaimer.html">Disclaimer</a>
          </li>
          <li>
            <a href="/pages/privacy-policy.html">Privacy Policy</a>
          </li>
          <li>
            <a href="https://heapanalytics.com/?utm_source=badge" rel="nofollow"><img style="width:108px;height:41px" src="/dist/toolkit/images/heap.png" alt="Heap | Mobile and Web Analytics" /></a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="footer-sole">
    <span >made with {{> @icons-base icon="love" size="small" }} by <a href="#">exygy</a> & <a href="#">vertiba</a> </span>
  </section>
</footer>
