<div class="property-hero" ng-app="dahlia" ng-controller="CarouselSampleController">
  <figure class="property-hero_figure">
    <div class="property-hero_container">
      <ng-carousel ng-carousel-name="example-carousel1">
        <slidecontainer class="carousel-slides">
          <slide ng-repeat="image in ::images track by $index">
            <img class="property-hero_thumb" reflow-after-load ng-src="{% image %}" alt="Trinity Place Apartments, 1188 Mission St">
          </slide>
        </slidecontainer>
        <div class="carousel-arrow carousel-arrow-left">
          <button title="previous" ng-click="Carousel.get('example-carousel1').previous()">
            {{> @icons-base icon="left" fill="white" size="large"}}
          </button>
        </div>
        <div class="carousel-arrow carousel-arrow-right">
          <button title="next" ng-click="Carousel.get('example-carousel1').next()">
            {{> @icons-base icon="right" fill="white" size="large"}}
          </button>
        </div>
      </ng-carousel>
    </div>

    <h1 class="property-hero_title offset">
      Trinity Place Apartments
    </h1>
    <span class="property-hero_label label radius bg-splash">Senior Community Building</span>
  </figure>

  <header class="property-hero_content margin-bottom p-relative">
    <hgroup class="clearfix">
      <p class="property-hero_address">1188 Mission St,<br> San Francisco CA, 94134<br>
      Caritas Management Group</p>
      <a href="#" class="ui-link t-tiny">
        View on Map
      </a>
    </hgroup>

    <div class="property-hero_favorite show-for-medium-up">
      {{> @button-round fill="primary"}}
      {{> @button-round fill="primary" icon="forward"}}
    </div>

    <ul class="property-hero_favorite button-group button-group--favorite row collapse hide-for-medium-up">
      <li class="small-6 columns">{{> @button-icon text="favorite" fill="primary" icon="like" scale="medium" classes="tertiary small no-margin"}}</li>
      <li class="small-6 columns">{{> @button-icon text="share" fill="primary" icon="forward" scale="medium" classes="tertiary small no-margin"}}</li>
    </ul>
  </header>

  <section class="property-hero_stats margin-bottom--2x">
    <div class="message-group">
      {{> @message text="ALL UNITS RESERVED FOR SENIORS 55+" }}
      {{> @message text="Reserved units for People with Developental Disabilities" icon="star"}}
    </div>

    <div class="property-hero_stat">
      <h2 class="property-hero_stat-header">30% AMI <a href="#" class="property-hero_stat-info">{{> @icons-base scale="tiny" icon="info" fill="primary"}} More Info</a></h2>
      {{> @table-flex classes="no-margin" items=tables.minimum-flex-reserved}}
    </div>

    <div class="property-hero_stat margin-top--2x">
      <h2 class="property-hero_stat-header">50% AMI <a href="#" class="property-hero_stat-info">{{> @icons-base scale="tiny" icon="info" fill="primary"}} More Info</a></h2>
      {{> @table-flex classes="no-margin" items=tables.minimum-flex-reserved}}
    </div>
  <section>

  <div class="property-hero_apply">
    <div class="hide-for-medium-up">

    <div class="content-group">
      <h4 class="content-group_title c-primary">Apply to the Waitlist for 84 Units</h4>
      <p class="t-small c-steel">
      300 people are currently on this list <br>
      200 open slots remaining
      </p>

      <p class="t-small c-steel">There are no vacant units available for this listing at this time. Once vacancies are filled the top portion of lottery applicants will be placed on a waitlist and be reviewed based on their ranking as units become available.</p> 
    </div>

      {{> @content-column }}  
    </div>
  </div>
</div>
