//
// Accordion
//

// prototyping classes
.accordion {

  &.has-trigger {
    .ui-control {
      @include absolute(1rem,1rem,null,null);
    }
  }

  &.trigger-left {
    @media #{$medium-up} {
      .accordion-navigation a {
        padding-left: 2.5rem;
      }

      .ui-control {
        @include absolute(1.125rem,null,null,.75rem);
      }
    }
  }
}

.accordion-container {
  &.expanded-content {
    .content {
      padding: 0;
    }

    .accordion {
      margin-top: 0;
    }
  }
}

// accordion nested inside a parent accordion
.accordion-nested {
  @include responsive-text-size('small');

  .accordion-navigation a {
    @include type-weight(bold);
    @include responsive-text-size('small');
    background-color: $dust;
    border-bottom: 1px solid $silver;
    padding-left: 0;
    position: relative;
  }
}

.results-accordion {
  &.accordion-container {
    dd > a {
      @include scut-padding(n 1.5rem);

      &.active {
        border-bottom-width: 0;
      }
    }
  }
}

.accordion-plus-minus {
  @include responsive-text-size('small');

  .ui-minus {
    display: none;
  }

  .ui-plus {
    display: block;
  }

  .content {
    border: 1px solid $smoke;
  }

  .accordion-navigation {
    margin-bottom: 16px !important;
  }

  .accordion-navigation a, .accordion-navigation.active a {
    @include type-weight(bold);
    @include responsive-text-size('small');
    text-decoration: none;
    color: $oil;
    background-color: $smoke;
    position: relative;
    margin-bottom: 16px;
    &:hover, &:focus {
      background-color: $smoke;
      text-decoration: none;
    }
    .ui-medium svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &.accordion-header {
      background-color: $smoke;
      margin-bottom: 0;
      &.active {
        background-color: $smoke;
        margin-bottom: 0;
      }
    }
  }

  .accordion-navigation.active a {
    .ui-minus {
      display: block;
    }
    .ui-plus {
      display: none;
    }
  }

  .checkbox-block {
    margin-bottom: 16px;
  }
}