//
// Alerts
//

.alert-box {
  line-height: 1.375;
  padding-right: 2.5rem;

  // Inverts color scheme of alert
  &.invert {
    color: $white;

    svg use {
      fill: $white;
    }

    .close {
      color: $white;
    }
  }  

  &.alert {
    background-color: $alert-tint;

    &.invert {
      background-color: $alert;
    }
  }

  &.primary {
    background-color: $dust;

    &.invert {
      background-color: $primary;
    }
  }

  &.success {
    background-color: $success-tint;

    &.invert {
      background-color: $success;
    }
  }

  // Removes margin when alert has additional text
  &.has-notice {
    margin-bottom: 0;
  }

  // Adjust spacing when no icon required
  &.no-icon {
    .alert-body {
      padding-left: 0;
    }
  }

  // Adjust spacing when no close button required
  &.no-close {
    padding-right: 1rem;

    .close {
      display: none;
    }
  }

  .close {
    line-height: .9rem;

    &.text {
      color: inherit;
      font-size: rem-calc(12);
      opacity: 1;
      text-decoration: underline;
      text-transform: capitalize;
      margin-top: -.5rem;
    }
  }
}

.alert-icon {
  position: absolute;
  top: .9rem;
  left: 1rem;
}

.alert-body {
  @include scut-padding(n n n 2rem);
  margin-bottom: 0;
}

// secondary alert messaging
.alert-notice {
  @include responsive-text-size('tiny');
  @include scut-padding(1rem 2.75rem);
  background-color: $vapor;
  border: 2px solid $primary;

  &.alert {
    border-color: $alert-tint;

    &.invert {
      border-color: $alert;
    }
  }

  p {
    margin-bottom: .25rem;
  }
}

.alert-notice_title {

}

.alert-notice_item {
  color: $alert;
  font-weight: $t-semi;
}

// Inset spacing for use in modals etc
.alert-box.inset {
  @include scut-padding(n 3rem n 1.5rem);

  &.no-icon {
    padding-left: 1.5rem;

    .alert-body {
      padding-left: 0;
    }  
  }

  .alert-body {
    padding-left: 2.5rem;
  }  

  .alert-icon {
    left: 1.5rem;
  }

  .close {
    right: 1rem;
  }
}
