//
// Dropdowns
//

.dropdown-menu {
  @include dropdown-container(list, bottom);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  display: block;
  left: 0;
  max-height: 30vh;
  overflow-y: scroll;

  @media #{$medium-up} {
    max-height: 25vh;
  }

  &.drop-#{$opposite-direction} {
    @include dropdown-container(list, #{$default-float});
  }

  &.drop-#{$default-float} {
    @include dropdown-container(list, #{$opposite-direction});
  }

  &.drop-top {
    @include dropdown-container(list, top);
  }

  // You can also put custom content in these dropdowns
  &.content {
    @include dropdown-container(content, $triangle: false);
  }

  // Sizes
  &.mega {
    width: 100% !important;
    max-width: 100% !important;

    &.open {
      left: 0 !important;
    }
  }
}

.dropdown-menu_item {
  @include dropdown-style;
  list-style: none;

  &.is {
    @each $color-name, $color-value in $state-colors {
      &-#{'' + $color-name} {
        a {
          box-shadow: inset 5px 0px 0px 0px $color-value !important;
          padding-left: 1.125rem;
        }
      }
    }

    &-selected {
      background-color: $dust;
    }
  }

  &:hover, &:focus {
    background-color: $mist;
  }


  // Checkboxes
  .checkbox {
    padding: 0.75rem;
  }

  input[type='checkbox'] + label {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  input[type='checkbox'] {
    margin-left: -0.625rem;
  }
}

.dropdown-menu_divider {
  width: 100%;
  border-top: 1px solid $f-dropdown-border-color;
}

.dropdown {
  position: relative;

  .dropdown-menu-wrapper {
    position: absolute;
    width: 100%;
  }

  .dropdown-button {
    margin-bottom: 0;
  }
  .dropdown-menu {
    max-width: 100%;
    position: relative;
  }
}
