.filter-row {
  padding-left: 1rem;
  padding-right: 1rem;

  @media #{$large-up} {
    display: flex;
    justify-content: flex-end;
  }
}

.filter-group {
  @media #{$medium-up} {
    display: flex;
    flex-wrap: wrap;
  }

  @media #{$large-up} {
    flex-basis: rem-calc(1280px);
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.filter-group_item,
.filter-group_item__large,
.filter-group_action {
  @media #{$medium-up} {
    margin-right: 1.5rem;
  }

  @media #{$medium-only} {
    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @media #{$large-up} {
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.filter-group_item,
.filter-group_item__large {
  @media #{$medium-up} {
    flex-basis: calc(50% - .75rem);
  }

  @media #{$large-up} {
    flex-basis: rem-calc(240);
    max-width: rem-calc(240);
  }
}

.filter-group_item__large {
  @media #{$large-up} {
    flex-basis: rem-calc(300);
    max-width: rem-calc(300);
  }
}