//
// Custom input styles

$color-focus:           #3e94cf;
$color-visited:         #4c2c92;
$color-primary:        $primary;
$color-white:              #fff;
$color-gray:             $smoke;
$color-gray-light:       $ghost;
$color-gray-lighter:      $wash;
$border-radius:   rem-calc(3px);

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $snow;
  background-image: none, url("../images/arrow-down.svg"), url("../images/arrow-down.png");
  background-position: right .75rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  padding-right: 2.25rem;
}

//
// Custom checkboxes
//

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  position: absolute;
  margin-left: -20px;

  &:focus {
    text-decoration: none;
    // Appears to be for the case of no label
    outline: none;
    box-shadow: inset 0 0 0 1px #ffffff, 0 0 3px 4px $attention;
  }
}

.ie9 {
  input[type="radio"],
  input[type="checkbox"] {
    left: 0 !important;
    position: relative !important;
  }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-left: 0;
  display: block;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  background: white;
  border-radius: $border-radius;
  box-shadow: inset 0 0 0 1px $color-white, 0 0 0 1px $input-border-color;
  content: '\a0';
  display: inline-block;
  height: 1.25rem;
  line-height: .8;
  margin-right: .6em;
  text-indent: .15em;
  vertical-align: .2em;
  width: 1.25rem;
}

input[type="checkbox"].no-margin + label::before {
  margin-right: 0rem;
}

input[type="radio"] + label::before {
  height:1.2rem;
  width: 1.2rem;
  border-radius: 100%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background-color: $color-primary;
  box-shadow: inset 0 0 0 1px $color-primary;
}

input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 1px $color-white, 0 0 0 2px $input-border-color;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../images/check.png");
  background-image: url("../images/check.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked.indeterminate + label::before {
  background-image: url("../images/indeterminate.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

input[type="radio"]:focus + label::before,
input[type="checkbox"]:focus + label::before {
  box-shadow: inset 0 0 0 1px $color-white, 0 0 0 1px $input-border-color, 0 0 3px 4px $attention;
}

input[type="checkbox"]:disabled + label {
  color: $color-gray !important;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  background: $color-gray-lighter;
  box-shadow: inset 0 0 0 1px $color-gray-light;
  cursor: not-allowed;
}

// Checkbox with multiline label and offset
.checkbox-inset {
  input[type="checkbox"] + label {
    padding-left: 2rem;
    &::before {
      margin-left: -1.8rem;
    }
  }
  input[type="checkbox"]:not(.error) + label {
    color: $primary;
  }
}

// Checkboxes and radios with all caps labels and nested elements
.radio-block,
.checkbox-block {
  position: relative;

  input[type="radio"] + label::before,
  input[type="checkbox"] + label::before {
    position: absolute;
    top: .125rem;
    left: .125rem;
  }

  strong {
    display: block;
  }

  &_label {
    font-size: 1rem;
    margin-left: 2.125rem !important;
    line-height: 1.2;
  }

  &_note, &_note-inner {
    @include responsive-text-size('tiny');
    @include type-weight('regular');
    color: $charcoal;
    line-height: 1.4;
    display: inline-block;
    margin-top: .25rem;
    margin-bottom: .5rem;
    ul {
      list-style: disc;
      padding-left: 1.5rem;
    }
  }

  &_note-inner {
    margin-top: 0.5rem;
    margin-left: 2.125rem;
  }
}

// Inline radio buttons
.radio-group,
.radio-group-inline {
  p {
    label {
      text-transform: none;
    }
  }
}

.radio-group-inline {
  .radio-inline {
    display: inline-block;
    margin-right: 0;
  }

  &.double {
    .radio-inline {
      width: 45%;
    }
  }
}

// Helper class for Elements with nested radio buttons
.has-radio {
  input {
    margin-bottom: 0 !important;
  }

  .radio-group,
  .radio-group-inline {
    margin-top: 1rem;
  }
}

// Memorable dates
.form-date-of-birth {
  label {
    margin-top: 0;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.form-group-day,
.form-group-month,
.form-group-year {
  float: left;
  clear: none;
  margin-right: 1rem;
  width: 4rem;
}

.form-group-year {
  width: 5rem;
}


.form-income {
  position: relative;

  &_input {
    padding-left: 1.825rem !important;
  }

  .label-dollar {
    @include absolute(.625rem,null,null,.825rem);
    font-size: 1rem;
    line-height: 1.625;
  }
}

// Editable Input
.form-editable {
  position: relative;
}

.input-editor {
  @include absolute(null,4px,4px,null);
  margin: 0;
}

.has-options {
  margin-bottom: .5rem !important;
}

.button-radio {
  position: relative;
  line-height: .75rem;

  input[type="radio"] {
    -webkit-appearance: none;
    opacity: 1;
    position: relative !important;
    margin: 0 !important;
  }

  input.button {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid $primary;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 5rem;

    &:hover,
    &:focus {
      background-color: $primary;

      + label {
        color: #fff;
      }
    }

    &[type="radio"]:checked {
      background: $primary;
      color: #fff;

      + label {
        color: #fff;
      }
    }

    + label {
      color: $primary;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      display: inline-block;
      width: auto;
      transform: translate(-50%, -50%);

      &::before {
        display: none;
      }
    }
  }
}

// Radio buttons displayed as button group
.segmented-radios {
  input[type=radio] {
   + label::before {
      display: none;
    }
  }

  label.button {
    margin: 0;
    border: 2px solid $primary;
    border-radius: 0;
    box-shadow: none;

    &:hover,
    &:focus {
      background-color: $primary;
      color: #fff;
      outline: none;
      box-shadow: 0 0 0 2px #ffffff, 0 0 3px 4px $attention;
    }
  }

  input:checked + label {
    background: $primary;
    color: #fff;
  }
}

.button-radio-group,
.segmented-radios {
  li {
    label.button,
    input.button {
      border-right: 0;
    }

    &:first-of-type {
      label.button,
      input.button {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    &:last-of-type {
      label.button,
      input.button {
        border-right: 2px solid $primary;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

// Field input with icon action

$icon-input-height: 3.875rem;

input.icon-input-field {
  height: $icon-input-height;
  padding: 1rem;
}

.icon-input-button {
  line-height: $icon-input-height;
  height: $icon-input-height;
}


$clear-icon-size: 16px;

// Search text field with x icon to clear
// Javascript must be added to
$clear-icon-margin: (52px - $clear-icon-size) / 2;

.search {
  display: inline-block;
  position: relative;
  width: 100%;

  input {
    width: 100%;
  }

  input.has-value {
    // Center the icon within the padding. Subtract 1px to account for the border.
    padding-right: rem-calc(($clear-icon-margin - 1) * 2 + $clear-icon-size);
  }

  .button, .search-icon {
    position: absolute;
    right: $clear-icon-margin;
    top: $clear-icon-margin;
  }
}