.page-content-column {
  padding-left: 0;
  @media (max-width: $medium-breakpoint) {
    padding-right: 0;
  }
}

.sidebar-column {
  padding-right: 0;
  @media (max-width: $medium-breakpoint) {
    padding-left: 0;
  }

  @media #{$large-up} {
    height: 100%;
  }

  .sticky-sidebar-large-up {
    @media #{$large-up} {
      position: -webkit-sticky;
      position: sticky;
      top: 2rem;
      box-sizing: border-box;
    }

    .sidebar-content {
      display: flex;
      flex-direction: column;
      @media #{$large-up} {
        overflow: hidden;
        height: calc(100vh - 2rem);
      }
    }
  }
}

h3.status-history-label {
  margin-top: 3rem;
  @media #{$large-up} {
    @include text-size('delta', 'medium');
  }
}

.status-items {
  overflow-y: auto;

  .status-item {
    padding-bottom: 1rem;

    &:last-child {
      padding-bottom: 0;
    }

    .status-item-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.5rem;

      &:last-child {
        text-align: right;
      }

      .status-item-date {
        @include responsive-text-size('small');
        color: $steel;
      }
    }

    .status-item-text {
      @include responsive-text-size('small');
      color: $jet;
      width: 100%
    }
  }
}

.status-history-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $medium-breakpoint) {
    // at small size we want buttons below status history.
    order: 1;
  }

  button, .button {
    width: calc(50% - 0.5rem);
    margin-bottom: 0;
    word-wrap: break-word;
  }

  button.save-button {
    width: 100%;
    margin-bottom: 1rem;
  }
}





