//
// Stats list
// Toggling table containers

.stats-list {
  
}

.stats-list_value {
  font-weight: 600;

  .value-label {
    @include responsive-text-size('small');
    font-weight: 400;
    white-space: nowrap;
  }
}

.stats-list_label {
  @include responsive-text-size('tiny');
  color: $charcoal;
  vertical-align: top;

  &.bottom {
    vertical-align: bottom;
  }
}

.stats-toggle {
  background-color: $tint !important;

  .highlight {
    color: $dark;
  }

  .ui-icon {
    svg {
      use {
        fill: $dark;
      }
    }
  }

  .has-toggle {
    padding-right: 2rem;
  }
}

//
// Stats
// Multiple stats container

.stats-card {
  margin-bottom: .5rem;
  
  table {
    margin-bottom: 0;
  }
}
