//
// Tabs
//

.tabs dd, 
.tabs .tab-title {
  > a,
  > button {
    display: block;
    font-size: $tabs-navigation-font-size;
    background-color: $tabs-navigation-bg-color;
    padding: $tabs-navigation-padding $tabs-navigation-padding * 2;
    color: $tabs-navigation-font-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include type-weight(semi);
    line-height: $base-line-height;
    &:hover {
      color: $jet;
      box-shadow: inset 0 -2px 0 0 $primary;
    }
  }

  &.active > a,
  &.active > button {
    box-shadow: inset 0 2px 0 0 $primary;
    color: $tabs-navigation-active-font-color;
    @include type-weight(semi);
    &:hover {
      box-shadow: inset 0 2px 0 0 $primary;
    }
  }
}

// Small full width
.full-width-small-only {
  @media #{$small-only} {
    &.tabs dd, 
    &.tabs .tab-title {
      width: 100%;

      > a,
      > button {
        text-align: center;

        &:hover {
          box-shadow: none;
        }
      }

      &.active > a,
      &.active > button {
        box-shadow: none;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}
