//
// Tabs
//

.tabs .tab-title {
  width: 23rem;

  // Switch tabs to full width buttons for medium and small screens
  @media #{$medium-only}, #{$small-only} {
    width: 50%;
  }

  > a,
  > button {
    font-size: $tabs-navigation-font-size;
    background-color: $tabs-navigation-bg-color;
    padding: $tabs-navigation-padding $tabs-navigation-padding * 2;
    color: $tabs-navigation-font-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include type-weight(semi);
    line-height: $base-line-height;
    &:hover {
      color: $jet;
      box-shadow: inset 0 -2px 0 0 $primary;
    }
    @include a-center;
    width: 100%;
  }

  &.active > a,
  &.active > button {
    box-shadow: inset 0 2px 0 0 $primary;
    color: $tabs-navigation-active-font-color;
    background: white;
    @include type-weight(semi);
    &:hover {
      box-shadow: inset 0 2px 0 0 $primary;
    }
  }
}