//
// Toolkit styles
//

@import "settings";
@import "vendors/normalize";
//@import "vendors/foundation/foundation";

// Or selectively include components
@import
   "vendors/foundation/foundation/components/accordion",
   "vendors/foundation/foundation/components/alert-boxes",
   "vendors/foundation/foundation/components/block-grid",
   "vendors/foundation/foundation/components/breadcrumbs",
   "vendors/foundation/foundation/components/button-groups",
   "vendors/foundation/foundation/components/buttons",
   "vendors/foundation/foundation/components/clearing",
   "vendors/foundation/foundation/components/dropdown",
   "vendors/foundation/foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "vendors/foundation/foundation/components/forms",
   "vendors/foundation/foundation/components/grid",
   "vendors/foundation/foundation/components/icon-bar",
   "vendors/foundation/foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
   "vendors/foundation/foundation/components/labels",
//   "foundation/components/magellan",
   "vendors/foundation/foundation/components/orbit",
   "vendors/foundation/foundation/components/pagination",
   "vendors/foundation/foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
   "vendors/foundation/foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
   "vendors/foundation/foundation/components/sub-nav",
//   "foundation/components/switches",
   "vendors/foundation/foundation/components/tables",
   "vendors/foundation/foundation/components/tabs",
//   "foundation/components/thumbs",
   // "vendors/foundation/foundation/components/tooltips",
   "vendors/foundation/foundation/components/top-bar",
//   "foundation/components/type",
   // "vendors/foundation/foundation/components/offcanvas",
   "vendors/foundation/foundation/components/visibility";

@import "vendors/compass";
@import "vendors/scut";
@import "vendors/buttons";
@import "vendors-extensions/all";

@import "utilities/all";

@import "base/all";
@import "structures/all";
@import "components/all";

@import "templates/all";
@import "pages/all";
