<div class="checkbox-block">
  <input type="checkbox" name="{{default name 'preferences'}}" value="{{default name 'preferences'}}-{{COP}}" id="{{default name 'preferences'}}-{{COP}}">
  <label class="checkbox-block_label" for="{{default name 'preferences'}}-{{COP}}">
    <strong class="form-label caps">{{default title 'Certificate of Preference'}}</strong>
  </label>

  {{#if note}}
  <div class="checkbox-block_note-inner">
    {{> @more classes="open-bottom" icon="arrow-down" size="tiny" fill="primary"}}
    <p class="checkbox-block_more">{{default note 'Primarily households displaced by Agency action in Redevelopment Project Areas during the 1960s and 1970s, but may also include other persons displaced by Agency action.'}}</p>
  </div>
  {{/if}}
</div>