<div class="checkbox-group">
  {{#each inputs.preferences}}
    <div class="checkbox-block margin-bottom--2x">
      <input type="checkbox" name="preferences" value="preferences-{{value}}" id="preferences-{{value}}">
      <label class="checkbox-block_label" for="preferences-{{value}}">
        <strong class="form-label caps">{{name}}</strong>
      </label>
      {{#if note}}
        <div class="checkbox-block_note-inner">
          <div class="checkbox-block_note">{{note}}</div>
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>
