<div class="income-source">
  <div class="income-source_item add-item">
    <div class="clearfix">
      {{> @icons-base icon="plus" fill="deep"}}
      <span class="income-source_add toggler t-caps t-alt-sans t-bold">Add additional income source</span>
    </div>

    <div class="income-source_nested margin-top padding-bottom bg-mist toggled">
      
      <div class="form-group padding-top--2x border-top">
        <label for="options" class="form-label margin-bottom--half">Where does this income come from?</label>
        {{> forms.select}}
      </div>

      <div class="form-group">
        <label for="options" class="form-label margin-bottom--half">How much is the income?</label>
        {{> forms.input-income}}
        {{> forms.radio-group--inline name="income" items=inputs.income}}
      </div>

      <div class="form-group text-center border-top padding-top"> 
       {{> @button text="Save Income Source" classes="ghost-white expand-small no-margin"}}
      </div> 
    </div>
  </div>
</div>
