<div class="radio-group" role="radiogroup" aria-label="label">
    {{#each inputs.homeless}}
      <p class="radio-block margin-bottom">
        <input type="radio" name="homeless" value="homeless-{{value}}" id="homeless-{{value}}" aria-describedby="ariaDescribedby">
        <label class="radio-block_label" for="homeless-{{value}}">
          <strong>{{name}}</strong>
          {{#if note}}
          <span class="radio-block_note">{{note}}</span>
          {{/if}}
        </label>
      </p>
    {{/each}}
</div>
