<div class="{{default size 'icon'}}-block {{default classes ''}}">
  {{#if icon }}
  <figure class="block-icon">
    <img src="/dist/toolkit/images/{{default icon 'icon-phone.png'}}"" alt="icon">
  </figure>
  {{/if}}
  <h2 class="t-delta t-serif c-oil no-margin">{{default description 'For more help, we suggest talking with a housing counselor to explore your options.'}}</h1>
  {{#if action }}
  <a href="#" class="button ghost-white margin-top">{{default action 'Find a Housing Counselor'}}</a>
  {{/if}}
</div>
