<button class="dropdown-button dropdown-select has-icon--right text-align-left {{default classes ''}}" href="#" aria-expanded="false">
  <span class="ui-icon ui-{{default scale 'small'}}" aria-hidden="true">
    <svg>
      <use xlink:href="#i-{{default icon 'arrow-down'}}"></use>
    </svg>
  </span>
  {{default text 'Button'}}
</button>
<ul class="dropdown-menu" style="max-width: 400px;" role="listbox" aria-hidden="true" aria-activedescendant tabindex="-1">
  <li class="dropdown-menu_item dropdown-menu_unit row">
    Select One...
  </li>
  <li class="dropdown-menu_item dropdown-menu_unit row">
    <div class="columns small-2">
      <strong>123</strong>
    </div>
    <div class="columns small-10">
      <div><strong>1 BR</strong>Mobility impairments</div>
      <div>50% (HUD Unadjusted)</div>
    </div>
  </li>
  <li class="dropdown-menu_item dropdown-menu_unit row">
    <div class="columns small-2">
      <strong>234</strong>
    </div>
    <div class="columns small-10">
      <div><strong>2 BR</strong></div>
      <div>50% (HUD Unadjusted)</div>
    </div>
  </li>
</ul>