<button class="dropdown-button dropdown-select has-icon--right text-align-left {{default classes ''}}" href="#" aria-expanded="false">
  <span class="ui-icon ui-{{default scale 'small'}}" aria-hidden="true">
    <svg>
      <use xlink:href="#i-{{default icon 'arrow-down'}}"></use>
    </svg>
  </span>
  {{default text 'Button'}}
</button>
<ul class="dropdown-menu" role="listbox" aria-hidden="true" aria-activedescendant tabindex="-1">
  <li class="dropdown-menu_item">
    <p>Select One...</p>
  </li>
  <li class="dropdown-menu_item">
    <p><strong>123</strong><strong>1 BR</strong>Mobility impairments</p>
    <p>50% (HUD Unadjusted)</p>
  </li>
  <li class="dropdown-menu_item">
    <p><strong>234</strong><strong>2 BR</strong></p>
    <p>50% (HUD Unadjusted)</p>
  </li>
</ul>