{{> @translate-bar }}
{{> @version-bar }}
{{> @top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> @app-header }}
      <form class="app-card form-card">

        <div class="app-inner leader border-bottom">
          <div class="form-back"><a href="#" class="lined">Back</a></div>
          <h2 class="app-card_question">We’ll get started by getting some information about you. First, what’s your name?</h2>
        </div>

        <div class="app-inner inset">
          <div class="form-group error">
            <h3 class="form-label caps">Your Name</h3>
            {{> @text-input--base placeholder="First Name" label="First Name" classes="error"}}
            <small class="error">Please enter a first name</small>
            {{> @text-input--base placeholder="Midde Name (optional)" label="Midde Name (optional)" }}
            {{> @text-input--base placeholder="Last Name" label="Last Name" }}
          </div>

          <div class="form-group error">
            <h3 class="form-label caps">Your Date of Birth</h3>

            <div class="form-date-of-birth row collapse">
              <div class="form-group-month large-2 columns">
                <label for="date_of_birth_1" class="sr-only">Month</label>
                <input type="number" name="date_of_birth_1" min="1" max="12" placeholder="MM" class="error" />
              </div>
              <div class="form-group-day large-2 columns">
                <label for="date_of_birth_2" class="sr-only">Day</label>
                <input type="number" name="date_of_birth_2" min="1" max="31" placeholder="DD" class="error" />
              </div>
              <div class="form-group-year large-2 columns end">
                <label for="date_of_birth_3" class="sr-only">Year</label>
                <input type="number" name="date_of_birth_3" min="1900" max="2016" placeholder="YYYY" class="error" />
              </div>
            </div>

            <small class="error">Please enter valid date of birth</small>
          </div>
        </div>

        {{> @button-pager left="Next" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}

      </form>
    </div>
  </div>
</section>
{{> @footer}}
