---
layout: center
title: Application
---

{{> @translate-bar }}
{{> @version-bar }}
{{> @top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> @app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <div class="form-back"><a href="#" class="lined margin-right">Back</a></div>
          <h2 class="app-card_question">You qualify for this preference because you said your household is currently spending more than 50% of your income on rent.</h2>
          <div class="form-group">
            <p class="form-note margin-bottom">Just upload a copy of a valid lease and proof of rent payment for a higher ranking in the lottery.</p>
          </div>
        </div>

        <div class="app-inner">
          <div class="form-group">
            <div class="checkbox-group">
              <div class="">
                {{> @checkbox-block title="Rent Burden Preference" name="preference" value="rent-burdened" note="Households who are currently spending more than 50% of your income on rent."}}

                <div class="form-group input-inset">
                  <p class="form-label caps">1. Upload Copy of Lease</p>

                  <p class="form-note margin-bottom">Please upload the first page, or whichever page shows the rent amount.</p>
                  <div class="form-group text-center">
                    {{> @button text="Upload Copy of Lease"}}
                    <p class="form-note micro input-inset margin-bottom">If you’re on a smartphone, you can take a picture.</p>
                    <p class="form-note micro input-inset">Max file size is 2MB.<br>Supported file types: pdf, jpg, png</p>
                  </div>
                </div>

                <div class="form-group input-inset">
                  <p class="form-label caps">2. Upload Proof of Rent Payment</p>

                  <p class="form-note margin-bottom">Please provide proof for your monthly rent. You said your rent at this address is: <strong>$1200.00</strong></p>

                  <p class="form-note margin-bottom--2x">You can upload multiple documents, if your household pays with multiple checks, money orders etc.</p>

                  {{> @attachment classes="no-margin" name="Money Order"}}

                  <label class="form-label caps margin-top--2x">Which one of the following documents would you like to upload in order to prove eligibility?</label>
                  {{> @select name="proof" options=inputs.rent }}

                  <div class="form-group text-center">
                    {{> @button text="Upload Proof of Rent Payment"}}
                    <p class="form-note micro input-inset margin-bottom">If you’re on a smartphone, you can take a picture.</p>
                    <p class="form-note micro input-inset">Max file size is 2MB.<br>Supported file types: pdf, jpg, png</p>

                    <p class="margin-top"><a href="#" class="t-small has-line">Cancel upload</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{> @button-pager left="Next" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}
      </form>
    </div>
  </div>
</section>

{{> @footer}}
