{{> @translate-bar }}
{{> @version-bar }}
{{> @top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> @app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question">Here’s the income you’ve added so far for yourself.</h2>
        </div>

        <div class="form-group no-margin border-bottom">
          {{> @income-source-item}}
        </div>

        <div class="form-group no-margin border-bottom">
          {{> @income-source-item--edit link="Cancel"}}
        </div>

        <div class="form-group no-margin border-bottom">
          {{> @income-source-item}}
        </div>
         {{> @button-pager left="Next" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}
      </form>
    </div>
  </div>
</section>

{{> @footer}}
