---
layout: center
title: Application
---

{{> @version-bar }}
{{> @top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> @app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <div class="form-back"><a href="#" class="lined">Back</a></div>
          <h2 class="app-card_question">Welcome back!</h2>

          <div class="form-group">
            <p class="form-note">It looks like you may already have an account. Signing in will save your information to your existing account, and allow you to check the status of this application at any time.</p>
          </div>
        </div>
        
        <div class="app-inner inset">
          <div class="form-group">
            <h3 class="form-label caps">Email {{> @icons-base icon="lock" fill="primary"}}</h3>
            {{> @text-input--base placeholder="example@web.com" label="Email address" type="email" readonly="readonly"}}
          </div>

          <div class="form-group">
            <h3 class="form-label caps">Password</h3>
            {{> @text-input--base placeholder="Must be 6 characters" label="password"}}
            <small class="form-note shift-up margin-bottom-none"><a href="#">Forgot Password?</a></small>
          </div>

          <div class="form-group text-center">
            <p class="t-small c-steel padding-top">{{> @button text="Sign In" classes="primary no-margin" }}</p>
          </div>
        </div>

        <div class="button-pager round border-top">
          <div class="button-pager_row padding-top--2x padding-bottom--2x">
            <button class="button ">Continue without signing in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{{> @footer}}