<accordion-group> 
  <accordion-heading class="lead">
    <img class="accordion-icon" src="/assets/toolkit/images/listing-legal.svg" alt="legal-documents">
    <h3 class="accordion-name">Additional Information</h3>
    {{> icons.base icon="arrow-down" size="small" position="control"}}
  </accordion-heading>

  <header class="listing-header show-for-medium-up">
    <h3 class="listing-header_name">Additional Information</h3>
  </header>

  <div class="content content-section">
    {{> components.content-card-stack}}
  </div>
</accordion-group>
