{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.application-header}}

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="application-form form-card has-nav">
      {{> navigation.sub-nav--application}}

      <div class="form-count">1 of 5</div>

      <h2 class="application-title t-gamma padding-bottom">There are some special programs we’d like to ask you about. Do you have any of the following?</h2>

      <div class="form-group margin-bottom--2x">
        {{> forms.checkbox-group--block name="preferences" items=inputs.preferences}}
      </div>

      {{> forms.button-stack--paginate left="Save and finish later"}}
    </form>
  </div>
</section>    

{{> components.footer}}