{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.application-header}}

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="application-form form-card has-nav">
      {{> navigation.sub-nav--application}}

      <div class="form-count">1 of 5</div>

      <h2 class="application-title t-gamma padding-bottom">Who would you’d like us to contact if we can’t get ahold of you?</h2>

      <div class="form-group margin-bottom--2x">
        <label class="form-label">Alternate contact</label>
        <p class="form-note margin-bottom">Please select one.</p>
        {{> forms.radio-group name="contacts" items=inputs.contacts}}
      </div>

      {{> forms.button-stack--paginate left="Save and finish later"}}
    </form>
  </div>
</section>    

{{> components.footer}}