{{> headers.version-header }}
{{> navigation.top-bar }}

<div class="app-container">
  <section class="row collapse">
    <div class="medium-6 medium-centered columns">
      <div class="app-header app-card form-card">
        <header class="app-card_header">
          <h1 class="app-card_title">Application: 123 Main St.</h1>
        </header>
        <div class="app-card_nav">
          {{> navigation.progress-nav}}
        </div>
      </div>

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question">There are some special programs we’d like to ask you about. Do you have any of the following?</h2>
        </div>

        <div class="app-inner">
          <div class="form-group">
            {{> forms.checkbox-group--block name="preferences" items=inputs.preferences}}
          </div>
        </div>
        
        {{> forms.button-pager left="Next" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}  
      </form>
    </div>
  </section>    
</div>

{{> components.footer}}