---
layout: center
title: Application
---

{{> headers.version-header }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> app-header }}

      <form class="app-card form-card">

        <div class="app-inner leader border-bottom">
          <div class="form-back"><a href="#" class="lined">Back</a></div>
          <h2 class="app-card_question">Who would you’d like us to contact if we can’t get ahold of you?</h2>
        </div>

        <div class="app-inner inset">
          <div class="form-group">
            <label class="form-label caps">Alternate contact</label>
            <p class="form-note margin-bottom">Please select one.</p>
            {{> forms.radio-group name="contacts" items=inputs.contacts}}
          </div>
        </div>

        {{> forms.button-pager left="Next" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}

      </form>

    </div>
  </div>
</section>


{{> footer}}