{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.application-header}}

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="application-form form-card">

      <h2 class="application-title t-gamma padding-bottom">Let’s get started on your application for</h2>

      <div class="form-group margin-bottom--2x">
        
        <div class="property-card">
          <img class="property-thumb" src="/assets/toolkit/images/property3.jpg" alt="image of property3">
          <h3 class="property-title t-serif gamma margin-top">
            Trinity Place Apartments
          </h3>
          <p>1188 Mission St, San Francisco CA, 94134</p>
          <p class="c-steel margin-bottom--half">Caritas Management Group</p>
          <p>Application Due Februrary 2, 2016</p>
        </div>
        
      </div>

      {{> buttons.button text="Get Started" classes="expand-small"}}
    </form>
  </div>
</section>    

{{> components.footer}}