---
layout: center
title: Center
---

{{> headers.version-header }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <div class="form-back"><a href="#" class="lined">Back</a></div>
          <h2 class="app-card_question">There are some special programs we’d like to ask you about. Do you have any of the following?</h2>
        </div>

        <div class="app-inner">
          <div class="form-group">
            <p>This application must be submitted by Aug 31, 2017.</p>
            <p>Applicants will be contacted by the leasing agent in lottery rank and preference order until vacancies are filled.</p>
            <p>All of the information that you have provided will be verified and your eligibility confirmed.  Your application will be removed from the lottery if you have made any fraudulent statements, or if any household member appears on more than one application for this listing. If we cannot verify a housing lottery preference that you have claimed, you will not receive the preference but will not be otherwise penalized.</p>
            <p>Should your application be chosen from the lottery, be prepared to fill out a more detailed application and provide required supporting documents.  For more information, please contact the developer or leasing agent posted in the listing. Completing this lottery application does not entitle you to housing or indicate you are eligible for housing; all applicants will be screened as outlined in the property's Resident Selection Criteria.<br><br>You cannot change your online application after you submit.</p>
            <p>I declare that the foregoing is true and accurate, and acknowledge that any misstatement fraudulently or negligently made on this application will result in removal from the lottery.</p>

            <div class="checkbox checkbox-inset margin-top--2x">
              <input aria-describedby="terms_yes_error" id="terms_yes" name="terms" type="checkbox" aria-invalid="false" required="required">
              <label for="terms_yes">I agree and understand that I cannot change anything after I submit.</label>
            </div>
          </div>
        </div>

      {{> forms.button-pager left="Confirm" l-classes="primary" right="Save draft and come back later" r-classes="secondary expand-small" r-row-classes="padding-top--2x padding-bottom--2x"}}

      </form>
    </div>
  </div>
</section>

{{> footer}}
