{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.application-header}}

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="application-form form-card has-nav">
      {{> navigation.sub-nav--application}}

      <div class="form-count">1 of 5</div>

      <h2 class="application-title t-gamma padding-bottom">Thanks, Lara. Now we need to know how to contact you about your application.</h2>

      <div class="form-group has-checkbox">
        {{> forms.input-tel}}

        <div class="form-item padding-bottom">
          {{> forms.checkbox text="I don't have a telephone number"}}
        </div>
      </div>

      <div class="form-group has-checkbox">
        <label class="form-label no-margin">Your email address</label>
        <p class="form-note margin-bottom">We will only use your email address to contact you about your application.</p>
        {{> forms.input-email visibility="sr-only"}}

        <div class="form-item padding-bottom">
          {{> forms.checkbox text="I don't have an email address"}}
        </div>
      </div>
      
      <div class="form-group has-checkbox">
        <label class="form-label no-margin">Your address</label>
        <p class="form-note margin-bottom">Ideally this is an address where we can send updates about your application.</p>
        {{> forms.input-address}}
        
        <div class="form-item padding-bottom">
          {{> forms.checkbox text="I don't have an email address"}}
        </div>
        <div class="padding-bottom">
          {{> forms.checkbox text="I have a seperate mailing address"}}
        </div>
      </div>

      <div class="form-group">
        <label class="form-label no-margin">Mailing address</label>
        <p class="form-note margin-bottom">Provide an address where you can receive updates and materials about your application.</p>
        {{> forms.input-address}}
      </div>

      <div class="form-group">
        <label class="form-label margin-bottom--half">What is your primary language?</label>
        {{> forms.select}}
      </div>

      {{> forms.button-stack--paginate left="Save and finish later"}}
    </form>
  </div>
</section>    

{{> components.footer}}