{{> headers.version-header }}
{{> navigation.top-bar }}

<div class="app-container">
  <section class="row collapse">
    <div class="medium-6 medium-centered columns">
      <div class="app-header app-card form-card">
        <header class="app-card_header">
          <h1 class="app-card_title">Application: 123 Main St.</h1>
        </header>
        <div class="app-card_nav">
          {{> navigation.progress-nav}}
        </div>
      </div>

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question">Take a moment to review your information before submitting your application.</h2>
        </div>
      
        {{#each application.sections}}
        <header class="app-sub-header border-top">
          <h3 class="app-sub-header_title">{{header}}</h3>
          <a class="info-item_link edit-link" href="#">Edit</a>
        </header>

        <div class="app-inner">
          {{#each info-items}}
          <div class="info-item margin-bottom">
            <h4 class="info-item_name">{{name}}</h4>
            <p class="info-item_value">{{{value}}}</p>
            {{#if note }}
            <span class="info-item_note">{{note}}</span>
            {{/if }}
          </div>
          {{/each}}
        </div>  
        {{/each}}

      {{> forms.button-pager left="Confirm" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}
    </form>

  </div>
</section>    
</div>

{{> components.footer}}