{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.lead-header title="Application: 123 Main St" background="dark" color="white" classes="bg-gradient"}}

<div class="row margin-top--2x show-for-medium-up"></div>

<section class="row">
  <div class="medium-8 medium-centered columns">
    <form class="application-form form-card has-nav">
      {{> navigation.sub-nav--application}}

      <div class="form-count"><a href="#" class="lined margin-right">Back</a></div>

      <h2 class="application-title t-gamma padding-bottom">We’ll get started by getting some information about you. First, what’s your name?</h2>

      {{> forms.alert-box text="These fields are editable via your account settings" status="primary"}}

      <div class="form-group">
        <h3 class="form-label">Your Name</h3>
        <div class="form-item has-icon">
          {{> forms.text-input--base placeholder="First Name" label="First Name" readonly="readonly"}}
          {{> icons.base icon="lock" fill="base"}}
        </div>
        <div class="form-item has-icon">
          {{> forms.text-input--base placeholder="Last Name" label="Last Name" readonly="readonly"}}
          {{> icons.base icon="lock" fill="base"}}
        </div>
      </div>

      <div class="form-group margin-bottom--2x">
        <h3 class="form-label">Your Date of Birth</h3>
        {{> forms.input-dob readonly="readonly"}}
      </div>
    </form>

    {{> forms.button-stack--paginate left="Save and finish later" l-classes="button-link button-lined small-text-center expand-small" r-classes="primary right expand-small"}}
  </div>
</section>    

{{> components.footer}}