---
layout: center
title: Application
---

{{> headers.version-header }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader">
          <div class="form-back"><a href="#" class="lined">Back</a></div>
          <h2 class="app-card_question">Don't have an account?</h2>
          <p class="form-note margin-bottom">Simply add a password to create an account. We'll save your information, and allow you to check the status of this application at any time. You can also <a href="#">continue without an account</a>.</p>
        </div>

        {{> forms.alert-box text="Just confirm your email address and create a password." status="primary" classes="no-icon"}}

        <!-- <div class="app-inner inset border-bottom">
          <div class="form-group padding-bottom--2x">
            <h2 class="form-label caps">Your Name {{> icons.base icon="lock" fill="primary"}}</h2>
            {{> forms.text-input--base placeholder="First Name" label="Email address" type="text" readonly="readonly"}}
            {{> forms.text-input--base placeholder="Middle Name (optional)" label="Middle Name (optional)" type="text" readonly="readonly"}}
            {{> forms.text-input--base placeholder="Last Name" label="Last Name" type="text" readonly="readonly"}}
          </div>

          <div class="form-group">
            <h2 class="form-label caps">Your Date of Birth {{> icons.base icon="lock" fill="primary"}}</h2>
            {{> forms.input-dob readonly="readonly"}}
          </div>
        </div>
 -->
        <div class="app-inner inset border-bottom">
          <div class="form-group">
            <h3 class="form-label caps">Email Address {{> icons.base icon="lock" fill="primary"}}</h3>
            <p class="form-note margin-bottom">We'll send you an email to verify this address is correct.</p>
            {{> forms.text-input--base placeholder="example@web.com" label="Email address" type="email" readonly="readonly"}}
            {{> forms.text-input placeholder="example@web.com" label="Re-enter email address" type="email" classes="label-secondary"}}
          </div>
        </div>

        <div class="app-inner inset border-bottom">
          <div class="form-group">
            <h3 class="form-label caps">Password</h3>
            <p class="form-note margin-bottom">Must be at least 8 characters and include 1 numeric character.</p>

            {{> forms.text-input--base placeholder="Must be 8 characters" label="password"}}
            {{> forms.text-input placeholder="Must be 8 characters" label="Re-enter your password to confirm" classes="label-secondary"}}
          </div>

          <div class="form-group">
            <p class="t-small c-steel text-center padding-top">{{> buttons.button text="Create Account" classes="primary no-margin" }}</p>
          </div>
        </div>

        <div class="app-inner inset">
          <h2 class="app-card_question">Already have an account?</h2>

          <div class="form-group text-center">
            <p class="t-small c-steel padding-top">{{> buttons.button text="Sign In" classes="no-margin" }}</p>
          </div>
        </div>

        {{> forms.button-pager left="Continue without an account" l-classes="" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}
      </form>
    </div>
  </div>
</section>

{{> footer}}