---
layout: center
title: Center
---

{{> headers.version-bar }}
{{> headers.version-bar }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      <div class="app-header app-card form-card">
        <header class="app-card_header">
          <h1 class="app-card_title">Application: 123 Main St</h1>
        </header>
        <div class="app-card_nav text-center">
          {{> buttons.link classes="button-link button-lined small-text-center expand-small" text="View the original listing" }}
        </div>
      </div>

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question">Here's the information you submitted.</h2>
          <p class="feed-item-date text-center">Submitted: January 12th 2016</p>
        </div>

        <div class="app-inner inset border-bottom">
          <div class="form-group text-center">
            <h3 class="form-label caps">Your lottery number</h3>
            <p class="beta t-serif no-margin">#98AU18</p>
          </div>
        </div>
      
        {{#each application.sections}}
        <header class="app-sub-header border-top">
          <h3 class="app-sub-header_title">{{header}}</h3>
        </header>

        <div class="app-inner">
          {{#each info-items}}
          <div class="info-item margin-bottom">
            <h4 class="info-item_value margin-bottom">{{name}}</h4>
            <p class="info-item_name">{{{value}}}</p>
            {{#if note }}
            <span class="info-item_note">{{note}}</span>
            {{/if }}
            {{#if secondary }}
            <span class="info-item_note t-bold">{{secondary}}</span>
            {{/if }}
            {{#if note-2 }}
            <span class="info-item_note">{{note-2}}</span>
            {{/if }}
            {{#if secondary-2 }}
            <span class="info-item_note t-bold">{{secondary-2}}</span>
            {{/if }}
          </div>
          {{#if divider }}
            <div class="border-top info-item_divider"></div>
          {{/if }}
          {{/each}}
        </div> 
        {{/each}}

        <div class="padding--2x text-center">
          <a class="t-small lined hide-for-print" href="#">Print a copy for your records</a>
        </div>

        <div class="button-pager">
          <div class="button-pager_row primary app-card_footer">
            {{> buttons.button classes="button-link button-lined small-text-center expand-small" text="Back to My Applications" }}
          </div>
          </div>
      </form>

    </div>
  </div>
</section>

{{> footer}}
