{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.application-header}}

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="application-form form-card has-nav">
      {{> navigation.sub-nav--application}}

      <div class="form-count"><a href="#" class="lined margin-right">Back</a> 1 of 5</div>

      <h2 class="application-title t-gamma padding-bottom">We’ll get started by getting some information about you. First, what’s your name?</h2>

      <div class="form-group error">
        <h3 class="form-label">Your Name</h3>
        {{> forms.text-input--base placeholder="First Name" label="First Name" classes="error"}}
        <small class="error">Please enter a household size</small>
        {{> forms.text-input--base placeholder="Last Name" label="Last Name" classes="error"}}
        <small class="error">Please enter a household size</small>
      </div>

      <div class="form-group error margin-bottom--2x">
        <h3 class="form-label">Your Date of Birth</h3>
        
        <div class="form-date-of-birth row collapse">
          <div class="form-group-month large-2 columns">
            <label for="date_of_birth_1" class="sr-only">Month</label>
            <input type="number" name="date_of_birth_1" min="1" max="12" placeholder="MM" class="error" />
          </div>
          <div class="form-group-day large-2 columns">
            <label for="date_of_birth_2" class="sr-only">Day</label>
            <input type="number" name="date_of_birth_2" min="1" max="31" placeholder="DD" class="error" />
          </div>
          <div class="form-group-year large-2 columns end">
            <label for="date_of_birth_3" class="sr-only">Year</label>
            <input type="number" name="date_of_birth_3" min="1900" max="2016" placeholder="YYYY" class="error" />
          </div>
        </div>

        <small class="error">Please enter valid date of birth</small>
      </div>

      {{> forms.button-stack--paginate left="Save and finish later"}}
    </form>
  </div>
</section>    

{{> components.footer}}