{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.application-header}}

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="application-form form-card has-nav">
      {{> navigation.sub-nav--application}}

      <div class="form-count"><a href="#" class="lined margin-right">Back</a> Question 2 of 6</div>

      <h2 class="application-title t-gamma padding-bottom">Thanks, Lara. Now we need to know how to contact you about your application.</h2>

      <div class="form-group has-option">
        <!-- <small class="required">Required</small> -->
        {{> forms.input-tel}}

        <div class="form-item padding-bottom">
          {{> forms.checkbox text="I don't have a telephone number"}}
        </div>
      </div>

      <div class="form-group has-option">
        <label class="form-label no-margin">Your email address</label>
        <p class="form-note margin-bottom">We will only use your email address to contact you about your application.</p>
        {{> forms.input-email visibility="sr-only"}}

        <div class="form-item padding-bottom">
          {{> forms.checkbox text="I don't have an email address"}}
        </div>
      </div>
      
      <div class="form-group has-option">
        <label class="form-label no-margin">Your address</label>
        <p class="form-note margin-bottom">Ideally this is an address where we can send updates about your application.</p>
        {{> forms.input-address}}
        
        <div class="form-item padding-bottom">
          <div class="radio">
            <input type="radio" name="groupName" id="radio1" /> 
            <label for="radio1">I don't have an address</label>
          </div>
        </div>

        <div class="form-item padding-bottom">
          <div class="radio">
            <input type="radio" name="groupName" id="radio2" /> 
            <label for="radio2">I have a seperate mailing address</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-label no-margin">Mailing address</label>
        <p class="form-note margin-bottom">Provide an address where you can receive updates and materials about your application.</p>
        {{> forms.input-address}}
      </div>

      <div class="form-group">
        <label class="form-label margin-bottom--half">What is your primary language?</label>
        {{> forms.select}}
      </div>

      {{> forms.button-stack--paginate left="Save and finish later"}}
    </form>
  </div>
</section>    

{{> components.footer}}