---
layout: center
title: Application
---

{{> headers.version-header }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question">Tell us about your household.</h2>
        </div>

        {{> forms.alert-box classes="invert no-margin" icon="warning" text="Unfortunately it appears you did not qualify for this listing."}}

        {{> forms.alert-notice alert-text="Your household size is too small." alert-text-alt="Everyone in your household must be a Senior 55+." text="Please make changes if you believe you might have made a mistake. Be aware that if you falsify any information on your application you will be disqualified." text-alt="If the information you entered is accurate, we encourage you to check back in the future of as more properties become available." link-text="Get Assistance"}}

        <div class="app-inner short">
          <div class="form-group">
            {{> text.info-item classes="border-bottom tall"}}
            <div class="text-center padding--2x">
              {{> buttons.link-icon text="Add household member" icon="plus" fill="deep" scale="medium" classes="no-margin"}}
            </div>
          </div>
        </div>

        {{> forms.button-pager left="Done Adding People" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}  
      </form>
    </div>
  </div>
</section>

{{> components.footer}}