---
layout: center
title: Application
---

{{> headers.version-header }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      
      <div class="app-language">
        {{> navigation.lined-nav }}
      </div>

      {{> app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question">Here's what to expect for this application.</h2>
        </div>

        

        <div class="app-inner inset">
          <div class="form-group">
            <p class="form-note margin-bottom">First, we'll ask about you and the people you are going to live with. Then, we'll see if you qualify for any affordable housing lottery preferences, and if so, ask you to upload proof of those preferences. Finally, we'll ask about your income.</p>

            <p class="form-note margin-bottom">You'll get a chance to review your application before you submit it.</p>

            <p class="form-note margin-bottom">Please be aware that each household member can only appear on one application for each listing. If your application contains household members that are on other applications for this listing, all of them will be disqualified.</p>

            <p class="form-note margin-bottom">Any fraudulent statements will cause your application to be removed from the lottery.</p>
          </div>
        </div>

        {{> forms.button-pager left="Next" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}

      </form>
    </div>
  </div>
</section>

{{> components.footer}}