{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.application-header}}

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="application-form form-card has-nav">
      {{> navigation.sub-nav--application}}
      
      {{> forms.alert-box }}

      <div class="form-count">1 of 5</div>

      <h2 class="application-title t-gamma padding-bottom">Thanks, Lara. Now we need to know how to contact you about your application.</h2>

      <div class="form-group has-checkbox">
        {{> forms.input-tel}}

        <div class="form-item padding-bottom">
          <div class="checkbox">
            <input id="apple-pie" type="checkbox" name="apple-pie" checked="" />
            <label for="apple-pie">I don't have a telephone number</label>
          </div>
          <small class="highlight">We’ll require an alternate contact phone number on a later screen</small>
        </div>
      </div>

      <div class="form-group has-checkbox error">
        <label class="form-label no-margin">Your email address</label>
        <p class="form-note margin-bottom">We will only use your email address to contact you about your application.</p>
        {{> forms.input-email visibility="sr-only" classes="error"}}
        <small class="error">Please enter email address</small>

        <div class="form-item padding-bottom">
          {{> forms.checkbox text="I don't have an email address"}}
        </div>
      </div>
      
      <div class="form-group has-checkbox">
        <label class="form-label no-margin">Your address</label>
        <p class="form-note margin-bottom">Ideally this is an address where we can send updates about your application.</p>
        <div class="form-address row">
          <div class="form-group-street form-item large-12 columns error">
              <label for="address">Address</label>
              <input type="text" name="address" placeholder="Street Address" class="error" />
              <small class="error">Please enter an address</small>
          </div>

          <div class="form-group-apt form-item large-12 columns">
            <label for="address2">Address 2</label>
            <input type="text" name="address2" placeholder="Apt or Unit #" class=""/>
          </div>

          <div class="form-group-city form-item small-7 large-5 columns">
            <label for="city">City</label>
            <input type="text" name="city" placeholder="City Name" class=""/>  
          </div>

          <div class="form-group-state form-item small-5 large-3 columns">
            <label for="state">State</label>
            {{> forms.select name="state" placeholder="Select" options=inputs.states}}
          </div>

          <div class="form-group-zip form-item small-12 large-4 columns">
            <label for="zip">Zip</label>
            <input type="text" name="zip" placeholder="Zip Code" class=""/>
          </div>
        </div>  

        <div class="form-item padding-bottom">
          {{> forms.checkbox text="I don't have an address"}}
        </div>

        <div class="form-item padding-bottom">
          {{> forms.checkbox text="I have a seperate mailing address"}}
        </div>
      </div>

      <div class="form-group">
        <label class="form-label no-margin">Mailing address</label>
        <p class="form-note margin-bottom">Provide an address where you can receive updates and materials about your application.</p>
        {{> forms.input-address}}
      </div>

      <div class="form-group">
        <label class="form-label margin-bottom--half">What is your primary language?</label>
        {{> forms.select}}
      </div>

      {{> forms.button-stack--paginate left="Save and finish later"}}
    </form>
  </div>
</section>    

{{> components.footer}}