// Foundation button variables
// .button

button,
.button {
  border-radius: rem-calc(4);
  font-family: $font-family;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &.secondary {
    background-color: $tint;
    color: $dark;

    &:hover,
    &:focus {
      background-color: darken($tint, 5%);
      color: $dark;
    }
  }

  &.tertiary {
    background-color: $smoke;
    color: $dark;

    &:hover,
    &:focus {
      background-color: darken($smoke, 5%);
    }
  }

  &.tint {
    background-color: $tint;
    color: $deep;

    &:hover,
    &:focus {
      background-color: darken($tint, 5%);
    }
  }

  &.oil {
    background-color: $oil;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($oil, 5%);
    }
  }

  &.dark {
    background-color: $dark;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($dark, 5%);
    }
  }

  &.deep {
    background-color: $deep;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($deep, 5%);
    }
  }

  &.ebony {
    background-color: $ebony;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($ebony, 5%);
    }
  }

  &.tuatara {
    background-color: $tuatara;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($tuatara, 5%);
    }
  }

  &.steel {
    background-color: $steel;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($steel, 5%);
    }
  }

  &.attention {
    background-color: $attention;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($attention, 5%);
    }
  }

  &.blank {
    background-color: #fff;
    color: $primary;

    &:hover,
    &:focus {
      background-color: darken(#fff, 5%);
    }
  }

  &.ghost {
    background-color: transparent;
    color: $primary;
    box-shadow: inset 0px 0px 0 2px $primary;

    &:hover,
    &:focus {
      background-color: lighten(#fff, 5%);
    }

    &.attention {
      color: $attention;
      box-shadow: inset 0px 0px 0 2px $attention;

      &:hover,
      &:focus {
        background-color: lighten(#fff, 5%);
      }
    }  
  }

  &.toggle {
    
  }

  &.shadow {
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
  }
}

.button-stack {
  margin-bottom: 1rem;
  
  button,
  .button {
    margin: 0 auto .25rem;
    display: block;
    min-width: 15rem;
  }
}

.expand-small {
  @media #{$small-only} {
    width: 100%;
  }  
}

.button-on-small {
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;

  @media #{$small-only} {
    @include button;
    svg {
      use { 
        fill: #fff !important;
      }
    }
  }
}