%button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0 !important;
  display: inline-block;
  font-weight: bold;
  font-size: .8125rem !important;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
}

/* Default Button */
@import "vendors/buttons/mixins";
@include button;

/* Flat Theme */
@include button-flat;

/* Ghost themes */
@include button_ghost;
@include button_ghost_light;

/* 3d Theme */
@include button_3d;

/* Blockbreak */
.btn, .btn-flat, .btn-ghost, .btn-ghost-light, .btn-3d {
  @include blockbreak;
}

// Sizes
.btn-s { font-size: 12px; }
.btn-m { font-size: 18px; }
.btn-l { font-size: 20px; }
