// Foundation button variables
// .button

button,
.button {
  font-family: $font-family;
  padding-left: 1rem;
  padding-right: 1rem;

  &.secondary {
    background-color: $tint;
    color: $deep;

    &:hover,
    &:focus {
      background-color: darken($tint, 5%);
      color: $primary;
    }
  }

  &.tertiary {
    background-color: $smoke;
    color: $primary;

    &:hover,
    &:focus {
      background-color: darken($smoke, 5%);
    }
  }

  &.tint {
    background-color: $tint;
    color: $deep;

    &:hover,
    &:focus {
      background-color: darken($tint, 5%);
    }
  }

  &.oil {
    background-color: $oil;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($oil, 5%);
    }
  }

  &.blank {
    background-color: #fff;
    color: $primary;

    &:hover,
    &:focus {
      background-color: darken(#fff, 5%);
    }
  }

  &.toggle {
    
  }
}

.button-stack {
  margin-bottom: 1rem;
  
  button,
  .button {
    margin: 0 auto .25rem;
    display: block;
    min-width: 15rem;
  }
}

.expand-small {
  @media #{$small-only} {
    width: 100%;
  }  
}

// Custom btn variables
// .btn

.btn {

}