//
// Foundation button variables
// .button

$dark-bg-colors: (
  oil: $oil,
  dark: $dark,
  deep: $deep,
  ebony: $ebony,
  tuatara: $tuatara,
  steel: $steel,
  attention: $attention
);

@mixin custom-button() {
  @include type-weight(bold);
  background-color: transparent;
  border-radius: rem-calc(4);
  border-color: $primary;
  color: $primary;
  font-family: $alt-font-family;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &:hover,
  &:focus {
    background-color: $primary;
  }
}

button,
.button {
  @include custom-button();

  // Creates button classes form $dark-bg-colors map
  @each $color-name, $color-value in $dark-bg-colors {
    &.#{"" + $color-name} {
      background-color: $color-value;
      color: $white;
      border-color: $color-value;

      &:hover,
      &:focus {
        background-color: darken($color-value, 5%);
        color: $white;
      }
    }
  }

  // Light background buttons
  &.primary {
    background-color: $primary;
    color: #fff;

    &:hover,
    &:focus {
      background-color: darken($primary, 5%);
      color: #fff;
    }
  }

  &.secondary {
    background-color: transparent;
    border-color: $primary;
    color: $primary;

    &:hover,
    &:focus {
      background-color: darken($primary, 5%);
      color: #fff;
    }
  }

  &.tertiary {
    background-color: transparent;
    border-color: $steel;
    color: $steel;

    &:hover,
    &:focus {
      background-color: darken($smoke, 5%);
    }
  }

  &.tint {
    background-color: $tint;
    color: $deep;

    &:hover,
    &:focus {
      background-color: darken($tint, 5%);
    }
  }

  &.blank {
    background-color: #fff;
    color: $primary;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($primary, 5%);
    }
  }

  // Hollow button styles
  // &.ghost {
  //   background-color: transparent;
  //   color: $primary;

  //   &:hover,
  //   &:focus {
  //     background-color: lighten(#fff, 5%);
  //   }

  //   &.attention {
  //     color: $attention;

  //     &:hover,
  //     &:focus {
  //       background-color: lighten(#fff, 5%);
  //     }
  //   }  
  // }

  &.ghost-white {
    background-color: #fff;
    color: $primary;
    // box-shadow: inset 0px 0px 0 2px $primary;

    &:hover,
    &:focus {
      background-color: $primary;
      color: #fff;
    }
  }

  &.large {
    @media #{$medium-up} {
      line-height: 1;
      padding: 1.625rem 2.25rem 1.625rem 2.25rem;
    }
  }

  // Apply box shadow
  // &.shadow {
  //   box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
  // }

  // Remove button styles
  &.button-link {
    background: transparent;
    border-width: 0;
    color: $primary;
    display: inline;
    font-family: $font-family;
    font-weight: $t-regular;
    letter-spacing: normal;
    padding: 0;
    margin-bottom: 0;
    text-transform: none;
    text-align: left;

    svg {
      use {
        fill: $primary;
      }
    }
        
    &:focus {
      outline: none;
      color: $dark;

      svg {
        use {
          fill: $dark;
        }
      }  
    }  
  }

  // Text button with underline
  &.button-lined {
    color: $steel;
    font-weight: $t-regular !important;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 3rem;
  }

  // Round icon button
  &.round-icon {
    border-radius: 50%;
    padding: .6rem;

    svg {
      margin-top: 0;

      use {
        fill: $primary
      }
    }

    &:hover,
    &:focus {
      color: $primary;

      svg {
        use {
          fill: #fff;
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 1px #fff, 0 0 3px 3px $attention-tint;
      color: $dark;
      background: $deep;
      border-color: $dark;
      outline: none;
    }

    // Expose label, hidden by default
    &.has-label {
      margin-right: rem-calc(65);
      
      .inline {
        @include translateY(-50%);
        position: absolute;
        left: 3rem;
        top: 50%;
        color: $steel;
        letter-spacing: normal;
        text-transform: none;
      }
    }  
  }

  // Icon button styles
  &.has-icon {
    padding-left: .925rem;

    .ui-icon {
      margin-right: .625rem;

      svg {
        margin-top: -3px;
        
        use { 
          fill: $primary;
        }
      }
    }

    &:hover,
    &:focus {
      svg {
        use { 
          fill: #fff;
        }
      }
    }
  }

  &.has-icon--right {
    padding-right: .925rem;

    .ui-icon {
      margin-right: 0;
      margin-left: .625rem;
    }
  }

  &.expand {
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;

    &.small {
      font-size: $button-font-sml;
    }
  }

  &.tall {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.expand-small {
  @media #{$small-only} {
    width: 100%;
  }  
}

// Buttons stacked rather than inline
.button-stack {
  margin-bottom: 1rem;
  
  button,
  .button {
    margin: 0 auto .25rem;
    display: block;
    min-width: 15rem;
  }
}

.button-on-small {
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;

  @media #{$small-only} {
    @include button;
    @include custom-button();
    display: block;

    &:hover,
    &:focus {
      svg {
        use { 
          fill: #fff;
        }
      }
    }
  }

  svg {
    fill: $primary;
    margin-right: .5rem;
  }
}

// Customize foundation button group
.button-group {
  > li {
    margin: 0;

    > button,
    > .button {
      border-color: $primary;
      border-radius: 0;
      line-height: rem-calc(18);
    }

    &:first-child button, 
    &:first-child .button {
      border-left: 2px solid;
      border-right-width: 0;

      &:hover,
      &:focus {
       border-left-color: $primary;
      }
    }
  }
}

// Favorite share button group
.button-group--favorite {
  > li {
    > button,
    > .button {
      border-color: $smoke;
      color: $oil;
      width: 100%;

      &:hover,
      &:focus,
      &.active {
        background-color: $primary;
        border-color: $primary;
        color: #fff;
      }

      &.active {
        svg {
          use {
            fill: #fff;
          }
        }
      }    
    }

    &:first-child button, 
    &:first-child .button {
      border-left-color: $smoke;

      &:hover,
      &:focus {
       border-left-color: $primary;
      }
    }
  }

  // @media #{$small-only} {
  //   margin-left: -($column-gutter);
  //   margin-right: -($column-gutter);
  //   width: auto;
  // }  
}  
