//
// Foundation button variables
// .button
$button-radius: rem-calc(4);

@mixin custom-button-styles() {
  @include type-weight(bold);
  @include scut-padding(n 1.5rem);
  border-radius: $button-radius;
  font-family: $alt-font-family;
  letter-spacing: .2em;
  text-transform: uppercase;

  &:focus {
    text-decoration: none;
    outline-offset: -2px;
  }
}

// Inverted buttons
@mixin custom-button-light($cb-light-color: $primary) {
  background-color: $white;
  border-color: $cb-light-color;
  color: $cb-light-color;

  svg use {
    fill: $cb-light-color;
  }

  &:focus {
    background-color: $white;
    color: $cb-light-color;
  }

  &:hover {
    background-color: $cb-light-color;
    color: $white;

    svg use {
      fill: $white;
    }
  }

  &:active {
    background-color: darken($cb-light-color, 10%);
  }
}

// Solid buttons
@mixin custom-button-dark($cb-dark-color: $primary) {
  background-color: $cb-dark-color;
  border-color: $cb-dark-color;
  color: $white;

  svg use {
    fill: $white;
  }

  &:focus {
    background-color: $cb-dark-color;
    color: $white;
  }

  &:hover {
    background-color: darken($cb-dark-color, 5%);
    color: $white;

    svg use {
      fill: $white;
    }
  }

  &:active {
    background-color: darken($cb-dark-color, 10%);
  }
}

button,
.button {
  @include custom-button-styles();
  @include custom-button-light($cb-light-color: $primary);

  &.primary {
    @include custom-button-dark($cb-dark-color: $primary);
  }

  &.secondary {
    @include custom-button-light($cb-light-color: $primary);
  }

  &.tertiary {
    @include custom-button-light($cb-light-color: $steel);
  }

  &.deep {
    @include custom-button-dark($cb-dark-color: $deep);
  }

  &.tint {
    background-color: $tint;
    color: $deep;

    &:hover {
      background-color: $deep;
      color: $white;
    }
  }

  &.blank {
    background-color: $white;
    color: $primary;

    &:hover {
      background-color: darken($primary, 5%);
      color: $white;
    }
  }

  // Primary button with white background
  &.ghost-white {
    @extend .secondary;
  }

  // Larger button styles
  &.large {
    @media #{$medium-up} {
      line-height: 1;
      padding: 1.625rem 2.25rem 1.625rem 2.25rem;
    }
  }

  // Full width buttons
  &.expand {
    &.small {
      font-size: $button-font-sml;
    }
  }

  // Add padding top and bottom
  &.tall {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &.squared {
    border-radius: 0;
  }

  // Remove button styles
  &.button-link {
    background: transparent;
    border-width: 0;
    color: $primary;
    display: inline;
    font-family: $font-family;
    font-weight: $t-regular !important;
    letter-spacing: normal;
    padding: 0;
    margin-bottom: 0;
    text-transform: none;
    text-align: left;

    svg use {
      fill: $primary;
    }

    &:focus {
      // outline: none;
      color: $dark;

      svg use {
        fill: $dark;
      }
    }

    &.disabled:hover,
    &.disabled:focus,
    &[disabled]:hover,
    &[disabled]:focus {
      background-color: transparent !important;
    }

    // Button link with underline
    &.button-lined {
      @include scut-padding(n 1rem);
      color: $primary;
      font-weight: $t-regular !important;
      text-decoration: underline;
      line-height: 3rem;

      &:focus {
        color: $dark;
      }
    }

    &.caps {
      text-transform: uppercase;
    }
  }

  // Round icon button
  &.round-icon {
    border-radius: 50%;
    padding: .6rem;

    svg {
      margin-top: 0;
    }

    svg use {
      fill: $primary
    }

    &:focus {
      box-shadow: 0 0 0 1px #fff, 0 0 3px 3px $attention-tint;
      color: $primary;
      background: $white;
      outline: none;

      svg use {
        fill: $primary;
      }
    }

    &:hover {
      color: $dark;
      background: $deep;
      border-color: $dark;

      svg use {
        fill: $white;
      }
    }

    // Expose label, hidden by default
    &.has-label {
      margin-right: rem-calc(65);

      .inline {
        transform: translateY(-50%);
        position: absolute;
        left: 3rem;
        top: 50%;
        color: $charcoal;
        letter-spacing: normal;
        text-transform: none;
      }
    }
  }

  // Icon button styles
  &.has-icon {
    padding-left: .925rem;

    .ui-icon {
      margin-right: .625rem;
    }

    svg use {
      fill: $primary;
    }

    &.primary svg use {
      fill: #fff;
    }

    &:hover {
      svg use {
        fill: #fff;
      }
    }
  }

  &.has-icon--right {
    padding-right: .925rem;

    .ui-icon {
      margin-right: 0;
      margin-left: .625rem;
    }
  }
}

// Adds radius to submits
input[type="submit"] {
  border-radius: $button-radius;
}

// Full width buttons on small screens
.expand-small {
  @media #{$small-only} {
    width: 100%;
  }
}

// Link converts to button style on small screens
.button-on-small {
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;

  @media #{$small-only} {
    @include button;
    @include custom-button-styles();
    @include custom-button-light($cb-light-color: $primary);
    display: block;

    &:hover,
    &:focus {
      svg use {
        fill: #fff;
      }
    }
  }

  .ui-icon {
    margin-right: .5rem;
  }

  svg use {
    fill: $primary;
  }
}

// Buttons stacked rather than inline
.button-stack {
  margin-bottom: 1rem;

  button,
  .button {
    margin: 0 auto .25rem;
    display: block;
    min-width: 15rem;
  }
}
