//
// Foundation button variables
// .button

$dark-bg-colors: (
  oil: $oil,
  dark: $dark,
  deep: $deep,
  ebony: $ebony,
  tuatara: $tuatara,
  steel: $steel,
  attention: $attention
);

button,
.button {
  border-radius: rem-calc(4);
  font-family: $font-family;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  @each $color-name, $color-value in $dark-bg-colors {
    &.#{"" + $color-name} {
      background-color: $color-value;
      color: $white;

      &:hover,
      &:focus {
        background-color: darken($color-value, 5%);
        color: $white;
      }
    }
  }

  &.secondary {
    background-color: $tint;
    color: $dark;

    &:hover,
    &:focus {
      background-color: darken($tint, 5%);
      color: $dark;
    }
  }

  &.tertiary {
    background-color: $smoke;
    color: $dark;

    &:hover,
    &:focus {
      background-color: darken($smoke, 5%);
    }
  }

  &.tint {
    background-color: $tint;
    color: $deep;

    &:hover,
    &:focus {
      background-color: darken($tint, 5%);
    }
  }

  &.blank {
    background-color: #fff;
    color: $primary;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($primary, 5%);
    }
  }

  &.ghost {
    background-color: transparent;
    color: $primary;
    box-shadow: inset 0px 0px 0 2px $primary;

    &:hover,
    &:focus {
      background-color: lighten(#fff, 5%);
    }

    &.attention {
      color: $attention;
      box-shadow: inset 0px 0px 0 2px $attention;

      &:hover,
      &:focus {
        background-color: lighten(#fff, 5%);
      }
    }  
  }

  &.ghost-white {
    background-color: #fff;
    color: $primary;
    box-shadow: inset 0px 0px 0 2px $primary;

    &:hover,
    &:focus {
      background-color: $primary;
      color: #fff;
    }
  }  

  &.shadow {
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
  }

  &.button-link {
    background: transparent;
    color: $primary;
    display: inline;
    padding: 0;
    margin-bottom: 0;
  }

  &.has-icon {
    padding-left: .925rem;

    .ui-icon {
      margin-right: .625rem;

      svg {
        margin-top: -3px;
        
        use { 
          fill: #fff;
        }
      }
    }
  }

  &.expand {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &.tall {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.button-stack {
  margin-bottom: 1rem;
  
  button,
  .button {
    margin: 0 auto .25rem;
    display: block;
    min-width: 15rem;
  }
}

.expand-small {
  @media #{$small-only} {
    width: 100%;
  }  
}

.button-on-small {
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;

  svg {
    margin-right: .5rem;
  }

  @media #{$small-only} {
    @include button;
    svg {
      use { 
        fill: #fff !important;
      }
    }
  }
}

.button-group {
  button,
  .button {
    line-height: rem-calc(18);
  }  
}
