//
// Forms
//

form {
  font-family: $font-family;

  label {
    @extend .form-label;
  }
}

label {
  &.error {
    input.error {
      border: 2px solid $alert;
    }
  }

  small {
    text-transform: none !important;
  }
}

.form-label {
  @include responsive-text-size('small');
  font-weight: 500;
  text-transform: none !important;

  input, textarea, select {
    margin-top: .5rem !important;
  }
}

.form-count {
  @include responsive-text-size('small');
  color: $steel;
  font-weight: 800;
  margin-bottom: 1rem; 
}

.form-note {
  @include responsive-text-size('small');
  color: $steel;
  font-weight: 500;
  margin-bottom: 0;
}

.radio-group {
  p {
    label {
      text-transform: none;
    }
  }
}

.has-radio {
  input {
    margin-bottom: 0 !important;
  }

  .radio-group {
    margin-top: 1rem;
  }
}

.has-options {
  margin-bottom: .5rem !important;
}

.p-relative {
  position: relative;

  .has-tip {
    &.tip-top-right {
      @include absolute(0,0,null,null);
    }
  }
}
