//
// Forms
//

form {
  font-family: $font-family;

  label {
    @extend .form-label;
  }
}

label {
  display: block;
  margin-bottom: .5rem;
}

// Error messages
label,
.form-group {
  #{text-inputs(all, 'input')},
  select,
  textarea {
    margin: 0 0 $form-spacing 0;

    &.error {
      margin-bottom: 0;
    }  
  }

  &.error {
    input.error,
    select.error,
    textarea.error {
      border: 2px solid $alert;
    }
  }

  small {
    text-transform: none !important;
  }
}

// Input and label wrapper
.form-group {
  label {
    @extend .form-label;
  }
}

// Input label
.form-label {
  @include responsive-text-size('small');
  @include type-weight(semi);
  text-transform: none;
}

// Additional input text
.form-note {
  @include responsive-text-size('small');
  @include type-weight(semi);
  color: $steel;
  margin-bottom: 0;
}

.form-count {
  @include responsive-text-size('small');
  @include type-weight(bold);
  color: $steel;
  margin-bottom: 1rem; 
}
