//
// Forms
//

form {
  font-family: $font-family;

  label {
    @include responsive-text-size('tiny');
    font-weight: 500;
    text-transform: uppercase;

    input, textarea {
      margin-top: .325rem !important;
    }
  }
}
