//
// Links
//

a, .btn-link {
  color: $primary;

  &.lined {
    text-decoration: underline;
  }

  &.has-icon {
    .ui-icon {
      margin-right: .325rem;
    }
  }  
}

.btn-link {
  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: underline;
  }
}  