//
// Typography
//

$type-weight: (
  light: 300,
  regular: 400,
  semi: 600,
  bold: 700,
  black: 800
);

// A simple type-weight mixin
// ex. @include type-weight(strong);
@mixin type-weight($weight) {
  font-weight: map-get($type-weight, $weight);
}

// config/_typography.scss
$text-sizing: (
  quark: (
    small: (
      font-size: .6875rem, // 11px
      line-height: 1.25
    )
  ),
  micro: (
    small: (
      font-size: .75rem, // 12px
      line-height: 1.25
    )
  ),
  tiny: (
    small: (
      font-size: .8125rem, // 13px
      line-height: 1.25
    )
  ),
  small: (
    small: (
      font-size: .875rem, // 14px
      line-height: 1.25
    )
  ),
  base: (
    small: (
      font-size: 1rem, // 16px
      line-height: 1.25
    )
  ),
  epsilon: (
    small: (
      font-size: 1rem, // 16px
      line-height: 1.375
    )
  ),
  delta: (
    small: (
      font-size: 1.1255rem, // 18px
      line-height: 1.11
    ),
    medium: (
      font-size: 1.1255rem, // 18px
      line-height: 1.25
    )
  ),
  gamma: (
    small: (
      font-size: 1.375rem, // 22px
      line-height: 1.13625
    ),
    medium: (
      font-size: 1.5rem, // 24px
      line-height: 1.25
    ),
    large: (
      font-size: 1.75rem, // 28px
      line-height: 1.25
    )
  ),
  beta: (
    small: (
      font-size: 1.625rem, // 32px
      line-height: 1.15
    ),
    medium: (
      font-size: 2rem, // 32px
      line-height: 1.25
    ),
    large: (
      font-size: 2.25rem, // 36px
      line-height: 1.25
    )
  ),
  alpha: (
    small: (
      font-size: 2rem, // 32px
      line-height: 1.25
    ),
    medium: (
      font-size: 2.5rem, // 40px
      line-height: 1.125
    ),
    large: (
      font-size: 3rem, // 48px
      line-height: 1.0625
    )
  )
);

// lib/functions/_responsive.scss
@function breakpoint($breakpoint-name) {
  @return map-get($breakpoints, $breakpoint-name);
}

// lib/functions/_typography.scss
@function text-breakpoints-for($text-size) {
  @return map-get($text-sizing, $text-size);
}

@function text-properties-for($text-size, $breakpoint-name) {
  $text-breakpoints-map: text-breakpoints-for($text-size);
  @return map-get($text-breakpoints-map, $breakpoint-name);
}

// lib/mixins/_responsive.scss
@mixin respond-above($breakpoint-name) {
  @media screen and (min-width: breakpoint($breakpoint-name)) {
    @content;
  }
}

// lib/mixins/_typography.scss
@mixin text-size($text-size, $breakpoint-name: 'small') {
  $text-size-properties: text-properties-for($text-size, $breakpoint-name);
  font-size: map-get($text-size-properties, 'font-size');
  line-height: map-get($text-size-properties, 'line-height');
}

@mixin responsive-text-size($text-size, $default-breakpoint: 'small') {
  @include text-size($text-size, $default-breakpoint);

  $text-breakpoints-map: text-breakpoints-for($text-size);
  $text-breakpoints-keys: map-keys($text-breakpoints-map);

  @each $breakpoint-name in $text-breakpoints-keys {
    @if $breakpoint-name != $default-breakpoint and breakpoint($breakpoint-name) != null {
      @include respond-above($breakpoint-name) {
        @include text-size($text-size, $breakpoint-name);
      }
    }
  }
}

// _typography.scss
#{h1, h2, h3, h4, h5, h6} {
  font-family: $serif-font-family;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
.alpha {
  @include responsive-text-size('alpha');
}

h2,
.beta {
  @include responsive-text-size('beta');
}

h3,
.gamma {
  @include responsive-text-size('gamma');
}

h4,
.delta {
  @include responsive-text-size('delta');
}

h5,
.epsilon {
  @include responsive-text-size('epsilon');
}

h6,
.base {
  @include responsive-text-size('base');
}

small,
.small {
  @include responsive-text-size('small');
}

.tiny {
  @include responsive-text-size('tiny');
}

.micro {
  @include responsive-text-size('micro');
}

.quark {
  @include responsive-text-size('quark');
}

p {
  @include type-weight('light');
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul, ul li ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl dt, dl dd {
  margin: 0;
}

hr {
  border: 0;
  height: .5rem;
  background: $charcoal;
  margin: 2rem 0
}
