//
// BaseType
//

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$base-font-size:      16px;
$base-line-height:    24px;

// Fixed Mobile font sizes
$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(22);
$h4-font-size: rem-calc(20);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

// Fixed Desktop font sizes
$h1-font-size-large: rem-calc(40);
$h2-font-size-large: rem-calc(28);
$h3-font-size-large: rem-calc(24);

$font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$base-font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$sans-font-family: $font-family;
$body-font-family: $font-family;
$sans-font-family-semibold: $font-family;
$sans-font-family-bold: $font-family;
$alt-font-family: "Montserrat", Helvetica, Arial, Verdana, sans-serif;
$serif-font-family: "Droid Serif", Georgia, Times, serif;
$fancy-serif-font-family: $serif-font-family;
// $fancy-serif-font-family: "Hoefler Titling A", "Hoefler Titling B", Georgia, Times, serif;

$font-weight-normal: 400;
$type-weight: (
  light: 300,
  regular: 400,
  semi: 600,
  bold: 700,
  black: 800
);

// Color
// - - - - - - - - - - - - - - - - - - - - - - - - -
//

$white:             #fff !default;
$snow:              #f9f9f9 !default;
$vapor:             #f6f6f6 !default;
$white-smoke:       #f5f5f5 !default;
$silver:            #b3b3b3;
$smoke:             #dedee0;
$gainsboro:         #ddd !default;
$iron:              #ccc !default;
$base:              #aaa !default;
$aluminum:          #999 !default;
$jumbo:             #888 !default;
$steel:             #767676;
$monsoon:           #777 !default;
$charcoal:          #555 !default;
$tuatara:           #444 !default;
$jet:               #222 !default;
$black:             #000 !default;
$wash-color:        #efefef;
$ebony:             #25343e;
$oil:               #333;
$mist:              #f7f7f7;
$ghost:         $wash-color;
$wash:          $wash-color;

// Brand Colors
$primary-color:     #0d84e9;
$secondary-color:   #f90;
$attention:         #00bed5;
$splash:            #ff6627;
$royal:             #b85ed5;
$panic:             #f60f60;
$bright:            #008fff;
$lush:              #99cd00;
$primary:    $primary-color;
$secondary:$secondary-color;

$primary-tint:      lighten($primary-color, 40%);
$secondary-tint:    lighten($secondary-color, 40%);
$attention-tint:    lighten($attention, 50%);
$splash-tint:       lighten($splash, 30%);
$royal-tint:        lighten($royal, 30%);
$lush-tint:         lighten($lush, 50%);

$bright:            #008fff;
$deep:              #0067be;
$dark:              #205493;
$tint:              $primary-tint;

$success-color:     #2e8540;
$success:    $success-color;
$warn:              #fdb81e;
$warning-color:       $warn;
$alert-color:       #e31c3d;
$alert:        $alert-color;

$success-tint:      lighten($success, 45%);
$warn-tint:         lighten($warn, 30%);
$alert-tint:        lighten($alert, 40%);

$facebook:          #4862a3;
$twitter:           #55acee;
$linkedin:          #0074a1;

// This is a Sass map. It is neat.
// It's similar to a JSON array, with key value pairs.

$colors: (
  primary: $primary,
  secondary: $secondary,
  wash: $wash,
  alert: $alert,
  success: $success,
  ghost: $ghost,
  snow: $snow,
  vapor: $vapor,
  white: $white,
  silver: $silver,
  smoke: $smoke,
  gainsboro: $gainsboro,
  iron: $iron,
  base: $base,
  aluminum: $aluminum,
  jumbo: $jumbo,
  monsoon: $monsoon,
  steel: $steel,
  charcoal: $charcoal,
  tuatara: $tuatara,
  oil: $oil,
  jet: $jet,
  ebony: $ebony,
  deep: $deep,
  tint: $tint,
  warn: $warn,
  attention: $attention,
  mist: $mist,
  royal: $royal,
  splash: $splash,
  bright: $bright,
  dark: $dark,
  lush: $lush,
  primary-tint: $primary-tint,
  secondary-tint: $secondary-tint,
  attention-tint: $attention-tint,
  splash-tint: $splash-tint,
  royal-tint: $royal-tint,
  lush-tint: $lush-tint,
  alert-tint: $alert-tint,
  warn-tint: $warn-tint,
  success-tint: $success-tint
);

// Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

$row-width: rem-calc(1000);
$total-columns: 12;
$column-gutter: rem-calc(30);

// Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $small-top: 30em;
// $medium-bottom: 30.063em;
// $medium-top: 64em;
// $large-bottom: 64.063em;
// $large-top: 90em;
// $xlarge-top: 120em;

// $small-range: (0, $small-top);
// $medium-range: ($medium-bottom, $medium-top);
// $large-range: ($large-bottom, $large-top);
// $xlarge-range: (90.063em, $xlarge-top);
// $xxlarge-range: (120.063em, 99999999em);

// Here we define the breakpoints which will become the upper border for each media size.
// The function em-calc() calculates the em-value from a px-value.
$small-breakpoint:  em-calc(768)  !default;
$medium-breakpoint: em-calc(960) !default;
$large-breakpoint:  em-calc(1024) !default;
$xlarge-breakpoint: em-calc(1920) !default;

// Here we define the lower and upper bounds for each media size
$small-range:   (0, $small-breakpoint) !default; /* 0, 640px */
$medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint) !default; /* 641px, 1024px */
$large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint)  !default; /* 1025px, 1440px */
$xlarge-range:  ($large-breakpoint  + em-calc(1), $xlarge-breakpoint) !default; /* 1441px, 1920px */
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999)) !default; /* 1921px, ... */

$small-top: $small-breakpoint;
$medium-bottom: $small-breakpoint + em-calc(1);
$medium-top: $medium-breakpoint;
$large-bottom: $medium-breakpoint + em-calc(1);
$large-top: $large-breakpoint;
$xlarge-bottom: $large-breakpoint + em-calc(1);
$xlarge-top: $xlarge-breakpoint;

// Disable responsive

// $screen: "only screen";
// $start: 0;

// $small-range: (0, 90em);
// $medium-range: (0, 90em);
// $large-range: (0, 90em);

// $small-top: $start;
// $medium-top: $start;
// $large-top: $start;
// $xlarge-top: $start;

// Disable responsive

$breakpoints: (
  small:    $small-top,
  medium:   $medium-bottom,
  large:    $large-bottom,
  x-large:  $xlarge-top
);

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
$include-html-global-classes: $include-html-classes;

// Forms
$fieldset-border-width: 0;
$form-label-small-transform: capitalize;
$fieldset-padding: 0;

/* Buttons */

// Button colors.
$base-button-color:     #fff;
$base-button-bg:        $primary;
$btn-primary-border:    darken($base-button-bg, 5%);

// Border radius.
.radius {border-radius: .3em;}

// Accordion
$accordion-navigation-bg-color: $mist;

// Tables
$table-border-size: none;

// Top Bar Variables
$topbar-bg-color: #444;

// Alert Boxes
$alert-border-width: 0;
$alert-font-color: #333;
$alert-font-size: .9rem;

// We use these to style the error states for inputs and labels
$input-error-message-padding: rem-calc(6 0 6) !default;
$input-error-message-top: -1px !default;
$input-error-message-font-size: rem-calc(12) !default;
$input-error-message-font-weight: $font-weight-normal !default;
$input-error-message-font-style: normal;
$input-error-message-font-color: $alert;
$input-error-message-bg-color: transparent;
$input-error-message-font-color-alt: $oil !default;
