@import 'colors';

.demo-padding_container,
.demo-margin_container {
  background-color: $primary;
  border: 1px solid $primary;
  margin-bottom: 1rem;
}

.demo-padding_box,
.demo-margin_box {
  background-color: $primary-tint;
}

.demo-margin_box {
  border: 1px solid gray;
}
