@import 'colors';

.demo-padding_container,
.demo-margin_container {
  background-color: $primary;
  border: 1px solid $primary;
  margin-bottom: 1rem;
}

.demo-padding_box,
.demo-margin_box {
  background-color: $primary-tint;
}

.demo-margin_box {
  border: 1px solid gray;
}

///
// Spacing
///

$properties: ('margin', 'padding');
$sides: ('top', 'right', 'bottom', 'left');
$spaces: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '20', '30', '40');

@each $property in $properties {
  @each $space in $spaces {
    @each $side in $sides {
      // margin-1, margin-top-1, etc
      .#{$property}-#{$space},
      .#{$property}-#{$side}-#{$space} {
        #{$property}-#{$side}: #{$space}rem !important;
      }
    }

    // margin-horizontal-1, margin-vertical-1, etc
    .#{$property}-horizontal-#{$space} {
      #{$property}-left: #{$space}rem !important;
      #{$property}-right: #{$space}rem !important;
    }

    .#{$property}-vertical-#{$space} {
      #{$property}-bottom: #{$space}rem !important;
      #{$property}-top: #{$space}rem !important;
    }
  }

  @each $side in $sides {
    .#{$property}-none,
    .#{$property}-#{$side}-none {
      #{$property}-#{$side}: 0 !important;
    }
  }
}
