{{> headers.translate-header }}
{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.lead-header--sub title="Additional Housing Opprotunities" description="We encourage you to browse other affordable housing resources." background="dark" color="white" classes="bg-gradient"}}

<section class="row p-relative">
  <div class="medium-8 columns margin-top--2x">
    <header class="content-stack_header padding-top--2x">
      <h3 class="h-caps-lined">Open Waitlists</h3>
      <p class="t-base t-serif">These lists are developed each month by community nonprofit agencies.</p>
    </header>

    <ul class="content-stack margin-bottom--2x">
      <li class="content-card bg-dust">
        <h4 class="t-sans t-base t-bold margin-bottom--half">
          <a href="#">Episcopal Community Services</a>
        </h4>
        <p>Individual and Family Housing <br>
        San Francisco Bay Area</p>
      </li>
      <li class="content-card bg-dust">
        <h4 class="t-sans t-base t-bold margin-bottom--half">
          <a href="#">Compass One Home</a>
        </h4>
        <p>Family Housing <br>
        San Francisco Bay Area and Beyond</p>
      </li>
      <li class="content-card bg-dust">
        <h4 class="t-sans t-base t-bold margin-bottom--half">
          <a href="#">Mercy Housing</a>
        </h4>
        <p>Multi-Family, Senior and Special Needs Housing <br>
        San Francisco Bay Area</p>
      </li>
    </ul>

    <header class="content-stack_header padding-top--2x">
      <h3 class="h-caps-lined">Ownership</h3>
      <p class="t-base t-serif">The following will show any available units for sale. They are priced at a “below market rate” and affordable to lower or middle income households.</p>
    </header>

    <ul class="block-list">
      <li class="content-card bg-dust">
        <h4 class="t-sans t-base t-bold margin-bottom--half">
          <a href="#">Below Market Rate Ownership Units</a>
        </h4>
        <p>San Francisco Bay Area</p>
      </li>
    </ul>  
  </div>

  <div class="medium-4 columns padding-top box-shadow full-height small-no-padding">
    {{> components.aside-contact }}
  </div>
</section>

{{> components.footer}}