{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.application-header}}

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="application-form form-card has-nav">
      {{> navigation.sub-nav--application}}

      <div class="form-count">1 of 5</div>

      <h2 class="application-title t-gamma padding-bottom">Here’s the income you’ve added so far for yourself.</h2>

      <div class="form-group">
        {{> forms.income-source--item}}
      </div>
      
      <div class="form-group">
        {{> forms.income-source--item}}
      </div>
      
      <div class="form-group margin-bottom--2x">
        {{> buttons.link-icon text="Add additional income source" classes="medium tertiary expand" icon="plus" scale="medium" fill="deep"}}
      </div>

      {{> forms.button-stack--paginate left="Save and finish later" right="Done"}}
    </form>
  </div>
</section>    

{{> components.footer}}