{{> navigation.top-bar }}
<!-- {{> navigation.sub-bar }} -->

<header class="lead-header bg-attention-tint">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="lead-title t-beta">Below Market Rate Rentals</h1>
      <div class="medium-8 columns no-padding">
        <p class="t-gamma t-light show-for-medium-up">Units in new developments priced at a “below market rate” are affordable to lower or middle income households.</p>
        <p class="no-margin">
          <a href="#" class="button small attention">Estimate Eligibility</a>
        </p>  
      </div>
    </div>
  </div>
</header>

<ul class="property-grid padding-top--2x">
  <li class="margin-bottom--2x">
    {{> property-card}}
  </li>
  <li class="margin-bottom--2x">
    {{> property-card}}
  </li>
  <li class="margin-bottom--2x">
    {{> property-card}}
  </li>
</ul>
