{{> headers.version-header }}
{{> navigation.top-bar }}
<!-- {{> navigation.sub-bar }} -->

<header class="lead-header bg-attention-tint">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="lead-title t-beta">Below Market Rate Rentals</h1>
      <div class="medium-8 columns no-padding">
        <p class="t-gamma t-light show-for-medium-up">Units in new developments priced at a “below market rate” are affordable to lower or middle income households.</p>  
      </div>
    </div>
  </div>
</header>

{{> forms.results-bar}}

<div class="row">
  <div class="large-12 columns">
    <header class="section-header margin-top--2x">
      <h2 class="gamma no-margin">No Matches</h2>
      <p>Based on information you entered, you don't match any current properties.</p>

      <p class="t-small c-steel">Currently this site only includes Below Market Rate rentals. <a href="">Click here</a> for other rental and ownership affordable housing opportunities.</p>
    </header>
  </div>
</div>

<section class="row margin-bottom--2x">
  <div class="medium-6 columns">
    {{> blocks.property-block }}
  </div>
  <div class="medium-6 columns bg-dust">
    {{> blocks.welcome-block--input }}
  </div>
</section>

{{> components.footer}}