{{> headers.version-header }}
{{> navigation.top-bar }}

<header class="lead-header bg-attention-tint">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="lead-title t-beta">Below Market Rate Rentals</h1>
      <div class="medium-8 columns no-padding">
        <p class="t-gamma t-light show-for-medium-up">Units in new developments priced at a “below market rate” are affordable to lower or middle income households.</p>
      </div>
    </div>
  </div>
</header>

{{> forms.results-bar}}

<section class="">
  <div class="row margin-top--2x">
    <div class="large-12 columns">
      <header class="status-header bg-success-tint">
        <div class="status-header_icon">
          <span class="ui-icon ui-medium">
            <svg>
              <use xlink:href="#i-check"></use>
            </svg>
          </span>
        </div>

        <hgroup class="status-header_content">
          <h2 class="gamma no-margin">
            Matched
          </h2>
          <p class="no-margin">Based on information you entered, you may be eligible for units at the following property.</p>
        </hgroup>
      </header>
    </div>
  </div>
</section>

<ul class="property-grid padding-top--2x">
  <li class="margin-bottom--2x">
    {{> property-card--matched}}
  </li>
</ul>

<div class="row">
  <div class="large-12 columns">
    <header class="section-header margin-top--2x">
      <h2 class="gamma no-margin">Not Matched</h2>
      <p class="margin-bottom--half">The remaining properties don't appear to match based on your input.</p>
<!--       <p class="t-small c-steel">For more help we suggest contacting a housing counselor to explore your options.</p>
      <a href="#" class="button dark small">Find a Housing Counselor</a> -->

      <p class="t-small c-steel no-margin">Currently this site only includes Below Market Rate rentals. <a href="#" class="lined">Click here</a> for other rental and ownership affordable housing opportunities.</p>
    </header>
  </div>
</div>

<section class="row margin-top--2x">
  <div class="medium-12 columns">
    <div class="bg-mist">
      {{> blocks.block-icon }}
    </div>
  </div>
</section>

<ul class="property-grid padding-top--2x">
  <li class="margin-bottom--2x">
    {{> property-card--not-matched}}
  </li>
  <li class="margin-bottom--2x">
    {{> property-card--not-matched}}
  </li>
  <li class="margin-bottom--2x">
    {{> property-card--not-matched}}
  </li>
</ul>

<section class="row margin-bottom--2x">
  <div class="medium-12 columns">
    <div class="bg-dust">
      {{> blocks.block-tall--email }}
    </div>
  </div>
</section>

{{> components.footer}}