{{> headers.version-header }}
{{> navigation.top-bar }}
{{> navigation.sub-bar--edit }}

<section class="row">
  <div class="medium-8 columns">
    <div class="padding-top padding-bottom">
      <header class="padding-bottom">
        <h1 class="t-gamma">Add sources for each household member over 18 one at a time.</h1>
        <p class="t-delta">Examples include:</p>
      </header>

      <div class="text-group padding-bottom">
        <h3 class="t-delta t-sans c-steel margin-bottom--half">Wages</h3>
        <p>includes: tips, commissions, bonuses,</p>
      </div>

      <div class="text-group padding-bottom">
        <h3 class="t-delta t-sans c-steel margin-bottom--half">Public Benefits</h3>
        <ul class="two-column padding-bottom">
          <li>Social Security</li>
          <li>Disability</li>
          <li>Unemployment</li>
          <li>CalWorks</li>
        </ul>
      </div>

      <div class="text-group padding-bottom">
        <h3 class="t-delta t-sans c-steel margin-bottom--half">Wages</h3>
        <p>examples: Alimony, Retirement/Pension</p>
      </div>
    </div>

      {{> forms.button-stack--paginate}}
  </div>
</section>
