{{> navigation.top-bar }}
{{> navigation.sub-bar--edit }}

<section class="row">
  <div class="medium-8 columns">
    {{> forms.alert-box }}

    <form class="padding-top">
      <div class="row">
        <div class="medium-12 columns">
          {{> forms.select--occupancy }}
        </div>
      </div>

      <div class="row margin-bottom">
        <div class="small-12 columns bg-mist padding-top padding-bottom">
          <label class="error">
            <span class="eligibility-form_header">Household Income</span>
            <input type="text" placeholder="Total all of your income sources" class="error" />
          </label>
          <small class="error">Please enter an income amount</small>

          {{> forms.radio-group--by-time}}
        </div>  
        <div class="small-12 columns bg-tint padding-top">
          <p class="t-tiny margin-bottom">Note: This includes any income sources for each person you plan to live with. To help, we created a

          <a href="#">Household Income Calculator</a></p>
        </div>
      </div>
      
      <div class="row text-center">
        <div class="small-12 medium-6 medium-push-6 columns">
          <button class="button expand">View Matching Properties</button>
        </div>
        <div class="small-12 medium-6 medium-pull-6 columns">
          <button class="button blank expand-small">Reset Filters</button>
        </div>
      </div>
    </form>
   </div> 
</section>

<hr class="hr-5">

<section class="row">
  <div class="medium-5 medium-centered columns">
    {{> blocks.notification-block}}
  </div>
</section>
