<form class="padding-top padding-bottom">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="beta">Alright, here's your total annual income</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <ul class="income-sources">
        {{> income.income-source_item}}
        {{> income.income-source_item}}
      </ul>
    </div>
  </div>

  <hr class="hr-5">

  <div class="row">
    <div class="large-12 columns">
      <p>
        Total Household Income
        <span class="t-bold right">$25,200/yr</span>
      </p>
      <p class="c-steel">This puts you at 38% of the area median income (AMI) for San Francisco</p>
    </div>
  </div>  

  {{> forms.button-stack--paginate}}
</form>    