{{> headers.version-header }}
{{> navigation.top-bar }}
<!-- {{> navigation.sub-bar--edit }} -->

<header class="lead-header shift-offset--bottom bg-attention-tint">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="lead-title t-beta">Household Income Calculator</h1>
<!--       <p class="no-margin"><a href="#" class="button small">Clear</a> -->
    </div>
  </div>
</header>

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="form-card">
      <div class="row">
        <div class="medium-12 columns margin-bottom--2x">
          <div class="income-source padding-bottom--2x">
          {{> forms.income-source_item}}

            <div class="income-source_item">
              <span class="income-source_name">Wages: $1000/mo</span>

              <a href="#" class="income-source_link">Edit</a>
            </div>
          </div>

          <hr class="hr-5">
        </div>
      </div>

      <div class="row">
        <div class="medium-12 columns padding-top padding-bottom">
          <label>Where is this income from?
            <select>
              <option value="wages">Wages</option>
              <option value="social security">Social Security</option>
              <option value="disability">Disability</option>
              <option value="unemplyment">Unemployment</option>
              <option value="calworks">CalWorks</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns margin-bottom">
          <label>How much is the income this source?
            <input type="text" placeholder="Enter Amount" class="has-options" />
          </label>
          {{> forms.radio-group--by-time}}
        </div>
      </div>
      
      <div class="row margin-bottom">
        <div class="large-12 columns">
          <button class="button tint expand">
            {{> icons.icon-plus}}
            Add another income source
          </button>
        </div>
      </div> 

      {{> forms.button-stack--paginate}}
    </div>
  </form>
</section>    