{{> headers.header-block}}

<form class="padding-top padding-bottom">
  <div class="row">
    <div class="large-12 columns">
      <ul class="income-source">
      {{> income.income-source_item}}

      <li class="income-source_item">
        <span class="income-source_name">Wages: $1000/mo</span>

        <a href="#" class="income-source_link">Edit</a>
      </li>
      </ul>
    </div>
  </div>

  <hr class="hr-5">

  <div class="row">
    <div class="large-12 columns">
      <label>Where is this income from?
        <select>
          <option value="wages">Wages</option>
          <option value="social security">Social Security</option>
          <option value="disability">Disability</option>
          <option value="unemplyment">Unemployment</option>
          <option value="calworks">CalWorks</option>
        </select>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>How much is the income this source?
        <input type="text" placeholder="$ Amount" />
      </label>
      {{> forms.radio-group--by-time}}
    </div>
  </div>
  
  <div class="row margin-bottom">
    <div class="large-12 columns">
      <button class="button tertiary expand">
        Add another income source
      </button>
    </div>
  </div> 

  {{> forms.button-stack--paginate}}
</form>