{{> headers.version-header }}
{{> navigation.top-bar }}

<header class="lead-header shift-offset--bottom bg-attention-tint">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="lead-title t-beta">Estimate Eligibility</h1>

      <div class="medium-8 columns no-padding show-for-medium-up">
        <p class="t-gamma t-light">Enter details about household size and income and we'll highlight properties you might be eligible for.</p>
      </div>
    </div>
  </div>
</header>

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="form-card">
      <div class="row">
        <div class="medium-12 columns margin-bottom">
            {{> forms.alert-box }}
          <div class="border-bottom padding-bottom">
            <h3 class="t-sans gamma margin-bottom--half">
              How many people are you applying to live with?
            </h3>  

            {{> forms.select--occupancy }}
          </div>
        </div>
      </div>

      <div class="row margin-bottom">
        <div class="medium-12 columns padding-top padding-bottom">
          <h3 class="t-sans gamma">
            Next add up your income from wages, benefits and other sources.
          </h3>

          <label class="error">
            <span class="eligibility-form_header">Household Income</span>
            <input type="text" placeholder="Total all of your income sources" class="error" />
          </label>
          <small class="error">Please enter an income amount</small>

          <div class="radio-group">
            <p class="d-inline-block no-margin">
              <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">per month</label>
            </p>
            <p class="d-inline-block no-margin">
              <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">per year</label>
            </p>
          </div>
        </div>  
        <div class="medium-12 columns">
          <div class="note bg-tint padding margin-bottom--2x">
            <p class="t-tiny no-margin">Note: This includes any income sources for each person you plan to live with. To help, we created a

              <a href="#">Household Income Calculator</a>
            </p>
          </div>
        </div>
      </div>
          
      <div class="row text-center">
        <div class="small-12 medium-6 medium-push-6 columns">
          <button class="button expand">View Matching Properties</button>
        </div>
        <div class="small-12 medium-6 medium-pull-6 columns">
          <button class="button blank expand-small">Reset Filters</button>
        </div>
      </div>
    </form>
  </div> 
</section>

{{> components.footer}}