{{> headers.version-header }}
{{> navigation.top-bar }}

<header class="lead-header bg-attention-tint">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="lead-title t-beta">My Favorites</h1>
    </div>
  </div>
</header>

<section class="row">
  <div class="large-12 columns">
    <div class="block bg-mist margin-top--2x medium-text-center">
      <figure class="block-icon">
        <img src="/assets/toolkit/images/icon-heart.png">
      </figure>

      <p class="t-delta t-serif c-oil">It looks like you haven’t favorited any listings yet.</p>

      <button class="button">Browse Properties</button>
    </div>
  </div>
</section>

<ul class="property-grid padding-top--2x">
  <li class="margin-bottom--2x">
    {{> property-card}}
  </li>
  <li class="margin-bottom--2x">
    {{> property-card}}
  </li>
  <li class="margin-bottom--2x">
    {{> property-card}}
  </li>
</ul>

{{> components.footer}}