{{> headers.translate-header }}
{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.lead-header title="Get Assistance" description="Whether you’re looking for assistance from a housing counselor, language support or additional housing listings, you've come to the right place."}}

<section class="row">
  <div class="medium-8 columns">
    {{> blocks.block-icon }}
    <hr class="hr hr-5">
    
    <div class="block--icon text-center bg-dust">
      <figure class="block-icon">
        <img src="/assets/toolkit/images/{{ default icon "icon-trans.png" }}">
      </figure>
      <h2 class="delta t-serif c-oil">Download translations in multiple languages, and quickly contact counselors providing language support.</h1>

      {{> forms.language-actions }}
    </div>

    <hr class="hr hr-5">
    {{> blocks.block-icon description="See more rental and ownership affordable housing opportunities." action="View Additional Opportunities" icon="icon-home.png"}}
  </div>

  <div class="medium-4 columns shift--top margin-bottom--2x">
    {{> components.aside-contact }}
  </div>
</section>

{{> components.footer}}