{{> headers.translate-header }}
{{> headers.version-header }}
{{> navigation.top-bar }}

<section class="splash-header bg-image">
  <div class="row">
    {{> welcome-header }}
  </div>
</section>  

<section class="splash-message">
  <div class="splash-message_panel row">
    <div class="medium-8 columns">
      <p class="t-tiny c-charcoal no-margin">Currently this site includes only Below Market Rate rentals, a program that includes units priced to be affordable to lower or middle income households. We encourage you to browse other affordable housing resources.</p>
    </div>
    <div class="medium-4 columns small-only-text-center">
      <a href="#" class="button radius ghost-white no-margin expand">Additional Opportunities</a>
    </div>
  </div>
</section>

<section class="splash-wells row collapse">
  <div class="medium-6 columns">
    {{> blocks.block-tall }}
  </div>

  <div class="medium-6 columns">
    {{> blocks.block-tall--email }}
  </div>
</section>

{{> components.footer}}
