{{> headers.translate-header }}
{{> headers.version-header }}
{{> navigation.top-bar }}

<section class="splash-header bg-image">
  <div class="row">
    {{> welcome-header }}
  </div>
</section>  

<section class="splash-message bg-ghost">
  <div class="row padding-bottom--2x">
    <div class="medium-8 columns">
      <p class="margin-top--2x margin-bottom-none">Currently this site includes only Below Market Rate rentals, a program that includes units priced to be affordable to lower or middle income households. We encourage you to browse other affordable housing resources.</p>
    </div>
    <div class="medium-4 columns small-only-text-center">
      <a href="#" class="button radius oil">Additional Opportunities</a>
    </div>
  </div>
</section>

<section class="row-flex collapse">
  <div class="medium-6 columns">
    {{> blocks.block-tall }}
  </div>

  <div class="medium-6 columns bg-dust">
    {{> blocks.block-tall--email }}
  </div>
</section>

{{> components.footer}}
