{{> headers.version-header }}
{{> navigation.top-bar }}

<header class="lead-header bg-attention-tint">
  <div class="row">
    <div class="medium-12 columns">
      <h1 class="lead-title">¡Bienvenidos al Portal de Vivienda de San Francisco!</h1>
    </div>
  </div>
</header>

<section class="row">
  <div class="medium-8 columns">
    <article class="page-content">
      <div class="content-section">
        <h2>En la actualidad, esta página web presenta:</h2>
        <ul class="t-delta t-light">
          <li>Listas de propiedades económicas para alquiler.</li>
          <li>Una herramienta para calcular su elegibilidad, con una calculadora de ingresos por grupo familiar.</li>
          <li>Herramientas para marcar las propiedades favoritas y compartirlas con otras personas.</li>
        </ul>
      </div>
      
      <hr class="tall">

      <div class="content-section">
        <p class="t-delta t-light">
          ¡Pronto se añadirán otras funciones y otras listas!
        </p>
        <p class="t-delta t-light">
          Excepto por esta página y por el formulario de solicitud traducido, el Portal de Vivienda está en inglés, pero esperamos aumentar poco a poco la información en español, chino y tagalo.
        </p>
      </div>

      <hr class="tall">

      <div class="content-section">
        <p class="t-delta t-light">
          Si necesita ayuda, le recomendamos que se comunique con la Corporación de Desarrollo Económico de Mission (Mission Economic Development Corporation, MEDA) para programar una cita con un consejero de vivienda que hable español.
        </p>

        <div class="block-item no-border">
          <h3 class="t-delta t-sans margin-bottom--half"><a class="a-oil ng-binding">Mission Economic Development Agency</a></h3>
          <div class="has-icon-left d-block"><span class="ui-icon ui-medium"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-map"></use></svg></span><p class="offset-icon margin-bottom--half ng-binding">2301 Mission Street, Suite 301,<br>San Francisco, CA 94103</p></div><p><a class="button-on-small ng-binding" href="tel:+1415-282-3334"><span class="ui-icon ui-medium"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-phone"></use></svg></span>Call 415-282-3334</a><a class="button-on-small ng-binding" href="http://medasf.org" target="_blank"><span class="ui-icon ui-medium"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-link"></use></svg></span>Visit Mission Economic Development Agency</a></p>
        </div>

        <p class="t-delta t-light">
          MEDA es una agencia certificada por el Departamento de Vivienda y Desarrollo Urbano de EE.UU. (HUD) que ofrece servicios de consejería para alquiler y propiedad de viviendas, en español. Además, sus consejeros están capacitados para ofrecer información sobre los programas de vivienda de la Oficina de Desarrollo Comunitario y Vivienda del Alcalde.
        </p>
      </div>

      <hr class="tall">

      <div class="content-section">
        <p class="t-delta t-light">
          Para obtener recursos adicionales de vivienda, visite: 
          <a href="http://www.sfmohcd.org/modules/showdocument.aspx?documentid=8952">http://www.sfmohcd.org/modules/showdocument.aspx?documentid=8952</a>
        </p>
      </div>

    </article>
  </div> 
</section>

<section class="row margin-bottom--2x">
  <div class="medium-12 columns">
    <div class="bg-dust">
      {{> blocks.block-tall--email }}
    </div>
  </div>
</section>

{{> components.footer}} 