{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.lead-header title="¡Bienvenidos al Portal de Vivienda de San Francisco!" background="dark" color="white" classes="bg-gradient"}}

<section class="row">
  <div class="medium-8 columns">
    <article class="page-content">
      <div class="content-section">
        <h2>En la actualidad, esta página web presenta:</h2>
        <ul class="t-delta t-light">
          <li>Listas de propiedades económicas para alquiler.</li>
          <li>Una herramienta para calcular su elegibilidad, con una calculadora de ingresos por grupo familiar.</li>
          <li>Herramientas para marcar las propiedades favoritas y compartirlas con otras personas.</li>
        </ul>
      </div>
      
      <hr class="tall">

      <div class="content-section">
        <p class="t-delta t-light">
          ¡Pronto se añadirán otras funciones y otras listas!
        </p>
        <p class="t-delta t-light">
          Excepto por esta página y por el formulario de solicitud traducido, el Portal de Vivienda está en inglés, pero esperamos aumentar poco a poco la información en español, chino y tagalo.
        </p>
      </div>

      <hr class="tall">

      <div class="content-section">
        <p class="t-delta t-light">
          Si necesita ayuda, le recomendamos que se comunique con la Corporación de Desarrollo Económico de Mission (Mission Economic Development Corporation, MEDA) para programar una cita con un consejero de vivienda que hable español.
        </p>

        {{#each resources.espanol}}
          {{> blocks.block-item class="no-border"}}
        {{/each}}

        <p class="t-delta t-light">
          MEDA es una agencia certificada por el Departamento de Vivienda y Desarrollo Urbano de EE.UU. (HUD) que ofrece servicios de consejería para alquiler y propiedad de viviendas, en español. Además, sus consejeros están capacitados para ofrecer información sobre los programas de vivienda de la Oficina de Desarrollo Comunitario y Vivienda del Alcalde.
        </p>
      </div>

      <hr class="tall">

      <div class="content-section">
        <p class="t-delta t-light">
          Para obtener recursos adicionales de vivienda, visite: 
          <a href="http://www.sfmohcd.org/modules/showdocument.aspx?documentid=8952">http://www.sfmohcd.org/modules/showdocument.aspx?documentid=8952</a>
        </p>
      </div>

    </article>
  </div> 
</section>

<section class="row margin-bottom--2x">
  <div class="medium-12 columns">
    <div class="bg-dust">
      {{> blocks.block-icon size="tall" icon="icon-mail.png" description="Get emailed whenever a new listing is posted." action="Sign Up Today"}}
    </div>
  </div>
</section>

{{> footer}} 