{{> navigation.top-bar }}
<div class="section-head">
</div>
<section class="section-hero row">
  <div class="accordion-container medium-8 columns">
    {{> property-hero}}
    {{> property-accordion--dl}}

    <div class="content-panel">
      <div class="padding bg-mist">
        <h5 class="t-sans t-small c-steel">Property Notes</h5>
        <p class="no-margin">Inclusionary Housing Below Market Rate Rental</p>
        <span class="t-small c-steel">Monitored by the Mayors Office of Housing & Community Development </span>
      </div>
    </div>
  </div>
</section>
<section class="page-section bg-mist">
  <div class="row">
    <div class="medium-6 medium-centered columns">
      {{> blocks.property-block--input}}
    </div>
  </div>    
</section>
<section class="page-section">
  <div class="row">
    <div class="medium-6 medium-centered columns">
      {{> blocks.property-block}}
    </div>
  </div>
</section>