{{> headers.version-header }}
{{> navigation.top-bar }}

<div class="section-head">
</div>
<section class="section-hero row">
  <div class="accordion-container medium-8 columns margin-top--2x">
    {{> property-hero}}
    {{> property-accordion--dl}}
    {{> property-accordion.content-panel--program}}
  </div>
</section>

<section class="page-section bg-mist">
  <div class="row">
    <div class="medium-7 medium-centered columns">
      {{> blocks.property-block}}
    </div>
  </div>
</section>

{{> components.footer}}