{{> headers.version-header }}
{{> navigation.top-bar }}

<div class="section-head">
</div>
<section class="section-hero row">
  <div class="accordion-container medium-8 columns">
    {{> property-hero}}
    {{> property-accordion--dl}}

    <div class="content-panel">
      <div class="padding bg-mist clearfix">
        <div class="row">
          <div class="medium-9 columns">
          <h5 class="t-sans t-small c-steel">Related Programs</h5>
          <p class="no-margin">Inclusionary Housing Below Market Rate Rental</p>
          <span class="t-small c-steel">Monitored by the Mayors Office of Housing & Community Development </span>
          </div>
          <div class="medium-3 columns">
          <img src="/assets/toolkit/images/logo-equal.png" class="right">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section bg-mist">
  <div class="row">
    <div class="medium-7 medium-centered columns">
      {{> blocks.property-block}}
    </div>
  </div>
</section>

{{> components.footer}}