{{> navigation.top-bar }}

<header class="lead-header bg-attention-tint">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="lead-title t-beta">Housing Counselor Resources</h1>
      <div class="medium-8 columns no-padding">
        <p class="t-gamma t-light show-for-medium-up">Talk with a local housing counselor specific to your needs.</p>
        <p class="no-margin">
          <label>
            <select>
              <option value="filter">Filter Resources by Services</option>
              <option value="starbuck">Starbuck</option>
              <option value="hotdog">Hot Dog</option>
              <option value="apollo">Apollo</option>
            </select>
          </label>
        </p>  
      </div>
    </div>
  </div>
</header>

<section class="row">
  <div class="medium-8 columns">
    <header class="section-header margin-top--2x">
      <h2 class="t-gamma no-margin">Featured Resources (6)</h2>
    </header>
    <ul class="resources-list block-list">
      <li class="block-item">
        <h3 class="t-delta t-sans margin-bottom--half"><a href="#" class="a-oil">San Francisco Housing Development Corporation</a></h3>
        <div class="has-icon-left d-block">
          <span class="ui-icon ui-medium">
            <svg>
              <use xlink:href="#i-map" />
            </svg>
          </span>
          <p class="offset-icon margin-bottom--half">
            4439 Third Street, <br>
            San Francisco, CA 94124
          </p>
        </div>
        <p>
          <a href="#" class="button-on-small">
            <span class="ui-icon ui-medium">
              <svg>
                <use xlink:href="#i-phone" />
              </svg>
            </span>

            Call 415-822-1022
          </a>
          <a href="#" class="button-on-small">
            <span class="ui-icon ui-medium">
              <svg>
                <use xlink:href="#i-link" />
              </svg>
            </span>

            Visit Website
          </a>
        </p>
      </li>

      <li class="block-item">
        <h3 class="t-delta t-sans margin-bottom--half"><a href="#" class="a-oil">San Francisco Housing Development Corporation</a></h3>
       <div class="has-icon-left d-block">
          <span class="ui-icon ui-medium">
            <svg>
              <use xlink:href="#i-map" />
            </svg>
          </span>
          <p class="offset-icon margin-bottom--half">
            4439 Third Street, <br>
            San Francisco, CA 94124
          </p>
        </div>    
        <p>
          <a href="#" class="button-on-small">
            <span class="ui-icon ui-medium">
              <svg>
                <use xlink:href="#i-phone" />
              </svg>
            </span>

            Call 415-822-1022
          </a>
          <a href="#" class="button-on-small">
            <span class="ui-icon ui-medium">
              <svg>
                <use xlink:href="#i-link" />
              </svg>
            </span>

            Visit Website
          </a>
        </p>
      </li>
    </ul>
  </div>
</section>  