{{> navigation.top-bar }}
{{> navigation.sub-bar--back }}

<header class="lead-header bg-attention-tint">
  <div class="row">
    <div class="large-12 columns">
      <div class="medium-8 columns no-padding">
        <p class="t-gamma t-light">Share this listing with a housing conselor, family member or friend.</p>
      </div>
    </div>
  </div>
</header>

<section class="section-full">
  <div class="row">
    <div class="medium-8 columns">
    <dl class="accordion" data-accordion>  
      <dd class="accordion-navigation">
        <a class="accordion-header" href="#panel1a">Send in Email</a>
        
        <div id="panel1a" class="content active">  
          <form class="no-margin">
            <div class="row">
              <div class="large-12 columns">
                <label>
                  <input type="text" placeholder="Email Address" />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>From
                  <input type="text" placeholder="Your Full Name" />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                {{> buttons.button-small button-content="Send Email" }}
              </div>
            </div>
          </form>
        </div>
      </dd>

      <dd class="accordion-navigation">
        <a class="accordion-header" href="#panel3a">Send as Text Message</a>

        <div id="panel3a" class="content">  
          <form class="no-margin">
            <div class="row">
              <div class="large-12 columns">
                <label>
                  <input type="text" placeholder="Mobile number" />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>From
                  <input type="text" placeholder="Your Full Name" />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                {{> buttons.button-small button-content="Send Text" }}
              </div>
            </div>
          </form>
        </div>
      </dd>

      <dd class="accordion-navigation">
        <a class="accordion-header" href="#panel2a">Get Shareable Link</a>
        
        <div id="panel2a" class="content">
          <form class="no-margin">
            <div class="row">
              <div class="large-12 columns">
                <label>
                  <input type="text" readonly="readonly" placeholder="Link" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">  
                {{> buttons.button-small--secondary button-content="Get Sharable Link" }}
              </div>  
            </div>
          </div>
        </dd>
      </dl>
    </div>
  </div>
</section>  