{{> navigation.top-bar }}
{{> navigation.sub-bar--back }}
<section class="section-full">
  <div class="row">
    <div class="medium-8 columns padding-top--2x">
      <h1 class="gamma">Share this listing with a housing counselor, family member or friend.</h1>
      <form class="no-margin">
        {{> forms.input-email }}
      </form>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 columns text-center">
    <hr class="hr-5 tall">
      {{> buttons.button-small--secondary button-content="Get Sharable Link" }}
    </div>
  </div>
</section>  