//
// Icons
//

%ui-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}

.ui-icon {
  svg {
    @extend %ui-icon;
    margin-top: -3px;
  }
}

.ui-tiny {
  svg {
    width: .5rem;
    height: .5rem;
  }
}

.ui-small {
  svg {
    width: .75rem;
    height: .75rem;
  }
}

.ui-medium {
  svg {
    width: 1rem;
    height: 1rem;
  }
}

.ui-large {
  svg {
    width: 2rem;
    height: 2rem;
  }
}

.ui-xlarge {
  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.ui-control {
  @include absolute(1rem,1rem,null,null);
}

// Icon with link
.ui-link {
  margin-right: .25rem;
}

// Icon with absolute multiline item
.a-icon-left {
  position: relative;
  
  .ui-icon {
    @include absolute(0,null,null,0);
  }

  .offset-icon {
    margin-left: 1.625rem;
  }
}
