@mixin pill-color($bg-color: $aluminum, $border-color: $bg-color, $text-color: $white) {
  background-color: $bg-color;
  border: 2px solid $border-color;
  color: $text-color;
}

.status-pill {
  @include responsive-text-size('tiny');
  font-family: $alt-font-family;
  font-weight: $t-semi;
  line-height: calc(1.5rem - 4px);
  text-transform: uppercase;
  text-align: center;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-width: rem-calc(106px);

  // Required to fix width to content
  display: table;
  border-radius: rem-calc(4px);

  @include pill-color();

  &.is-no-status {
    @include pill-color($bg-color: $white, $border-color: $steel, $text-color: $steel);
  }

  &.is-processing {
    @include pill-color($bg-color: $aluminum);
  }

  &.is-approved {
    @include pill-color($bg-color: $deep);
  }

  &.is-disqualified {
    @include pill-color($bg-color: $alert);
  }

  &.is-appealed {
    @include pill-color($bg-color: $royal);
  }

  &.is-withdrawn {
    @include pill-color($bg-color: $warn);
  }

  &.is-leased {
    @include pill-color($bg-color: $success);
  }

  &.is-waitlisted {
    @include pill-color($bg-color: $attention);
  }
}
