$td-reserved-light: lighten($splash-tint, 10%);
$td-reserved-lighter: lighten($splash-tint, 11%);
$td-reserved-inset: inset 3px 0px 0px 0px rgba(255,102,39,1);

.th {
  font-weight: $table-value-weight;
  letter-spacing: .1rem;
  border-bottom: 1px solid $primary;
  text-transform: uppercase;

  @media #{$small-only} {
    padding-left: $table-padding-small;
    padding-right: $table-padding-small;
  }

  @media print {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.td {
    font-weight: $table-value-weight;

    @media #{$small-only} {
      padding-left: $table-padding-small;
      padding-right: $table-padding-small;
    }

    @media print {
      font-size: 12px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

table {
  width: 100%;

  thead {
    tr {
      th {
        @extend .th;
      }
    }
  }

  tbody {
    tr {
      td {
        @extend .td;
      }
    }
  }

  caption {
    @include responsive-text-size('quark');
    color: $charcoal;
    font-family: $sans-font-family;
    font-weight: $t-bold;
    letter-spacing: .1rem;
    text-align: left;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-top: .5rem;
    text-transform: uppercase;
  }

  small {
    font-weight: 400;
  }

  em {
    @include responsive-text-size('quark');
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-style: normal;
  }

  // Remove zebra coloring and adds border
  &.td-plain,
  &.plain {
    tr td {
      background: transparent;
      border-bottom: 1px solid $smoke;
    }

    tr {
      background: transparent
    }
  }

  &.th-plain {
    thead {
      background: transparent
    }

    thead tr th {
      @include scut-padding(0 n .5rem);
      border-bottom: none;
    }
  }

  // Uses gray and white striping
  &.td-bw {
    tr:nth-of-type(even) {
      background-color: $snow;
    }
  }

  &.td-highlight {
    background-color: $dust;

    tr td {
      border-bottom: 1px solid $smoke;
    }
  }

  // Shorten table cell spacing
  &.td-small {
    // border-bottom: 1px solid $smoke;

    tr td {
      padding: .75rem;

      &:first-child {
        width: rem-calc(100);
      }
    }
  }

  &.th-small {
    tr th {
      padding: 1.5rem .75rem;

      &:first-child {
        width: rem-calc(100);
      }
    }
  }

  &.td-nowrap {
    tbody tr td {
      @media #{$medium-up} {
        white-space: nowrap;
      }
    }
  }

  &.th-nowrap {
    thead tr th {
      @media #{$medium-up} {
        white-space: nowrap;
      }
    }
  }

  // lightens color of table contents
  &.td-light {
    tbody tr td {
      font-weight: normal;
    }
  }

  // removes header from table
  &.no-thead {
    thead {
      @include scut-hide-visually;
      height: auto;
      width: 100%;
    }

    tbody {
      border-top: 1px solid $smoke;
    }
  }

  // align text in table cell right
  &.td-col-right {
    text-align: right;
  }

  // align text in table cell left
  &.td-col-left {
    text-align: left;
  }

  // Smaller tables with dark headers and centered content
  &.table-results {
    tr th {
      color: $deep;
    }

    tr th,
    tr td {
      text-align: center;

      &:first-child {
        padding-left: 3rem;
      }

      &:last-child {
        padding-right: 3rem;
      }
    }
  }

  &.table-reserved {
    border-bottom: 0;

    tbody {
      border-top: 0;
    }

    thead tr {
      box-shadow: none;
      background-color: inherit;
    }

    caption {
      border-bottom: 1px solid $splash;
      background-color: $td-reserved-light;
      box-shadow: $td-reserved-inset;
    }

    tr {
      background-color: $white;
      border-bottom: 0;

      &:nth-of-type(even) {
        background-color: $td-reserved-light;
      }

      td:first-of-type {
        box-shadow: $td-reserved-inset;
      }
    }
  }

  // Calling out reserved units
  tr.tr-reserved {
    background-color: $td-reserved-light;
    border-bottom: 1px solid $white;

    &:nth-of-type(even) {
      background-color: $td-reserved-lighter;
    }

    td:first-of-type {
      box-shadow: $td-reserved-inset;
    }
  }
}

.scrollable-table-container {
  overflow-x: auto;
}

.scrollable-table-container-under-xlarge {
  overflow-x: auto;

  .scrollable-table-nested.expand-wide {
    width: calc(100vw - 4rem);

    @media #{$medium-up} {
      width: calc(100vw - 12rem);
    }

    @media #{$large-up} {
      width: calc(100vw - 18rem);
    }

    @media #{$xlarge-up} {
      width: auto;
    }

    @media only screen and (max-width: $large-breakpoint) {
      @include scut-margin(n 0);
      @include scut-padding(n 1rem);
    }
  }

  @media #{$xlarge-up} {
    overflow-x: visible;
  }
}

// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

.table-flex {
  tr {
    &:nth-of-type(even) {
      @media #{$small-only} {
        background: transparent;
      }
    }

    // support resverved unit tinting within flexible table
    &.tr-reserved {
      @media #{$small-only} {
        td {
          box-shadow: $td-reserved-inset;
          background-color: $td-reserved-light;

          &:nth-of-type(even) {
            background-color: $td-reserved-lighter;
          }
        }
      }
    }
  }

  td,
  tbody th {
    display: block;

    @media #{$small-only} {
      padding-bottom: .5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: .5rem;
      text-align: right;

      &:first-child {
        padding-top: 1rem;
      }

      &:last-child {
        padding-bottom: 1rem;
      }

      &:nth-of-type(odd) {
        background-color: $dust;
      }

      &.tr {
        @include responsive-text-size('base');
        background: transparent;
        text-align: left;

        &:before {
          display: none;
        }
      }

      .h-small {
        @include h-caps();
        @include responsive-text-size('small');
        color: $oil;
        padding-bottom: .5rem;
      }
    }

    &:before {
      content: attr(data-th)""; // who knew you could do this? The internet, that's who.
      color: $oil;
      display: block;
      float: left;
      font-family: $alt-font-family;
      font-weight: 700;
      text-align: left;

      // optional stuff to make it look nicer
      width: 8.5rem; // magic number :( adjust according to your own content

      @media #{$small-only} {
        @include responsive-text-size('tiny');
        text-transform: uppercase;
        letter-spacing: $small-header-spacing;
      }

      @media #{$medium-up} {
        display: none;
      }

      @media print {
        display: none;
      }
    }
  }

  thead th {
    @media #{$small-only} {
      @include sr-only();
    }
  }

  th, td {
    @media #{$medium-up} {
      display: table-cell;
    }

    @media print {
      display: table-cell;
    }
  }
}

// Pricing tables

.table-pricing-ami {
  @include responsive-text-size('gamma');
  position: relative;

  .table-pricing-wrapper + & {
    margin-top: 2rem;
  }

  @media #{$medium-up} {
    @include scut-padding(0 n 0 n);
    background-color: transparent;
    border-bottom: 0;
    margin-bottom: 1rem;
  }
}

.table-pricing-wrapper {
  position: relative;
}

.table-pricing-header {
  position: absolute;
  .table-pricing-wrapper:first-of-type & {
    top: 0;
  }
  top: 0.25rem;
  left: 0;
  font-family: $alt-font-family;
  @include responsive-text-size('base');
  line-height: 1;
  font-weight: $t-semi;
}

.table-pricing {
  margin: 0 0 0.5rem;
  // Show reserved pricing table rows with
  // z-index: -1
  background: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  td,
  th {
    background: $white;
  }

  dl {
    font-weight: $t-regular;
    @include responsive-text-size('base');
    margin: 0;
  }

  dt, dd {
    float: left;
    margin-bottom: 0.25rem;
    @include responsive-text-size('small');

    strong {
      font-weight: $t-semi;
    }
  }

  dt {
    clear: left;
    margin-right: 0.5rem;
    min-width: 5rem;
    text-align: left;
  }

  th, td::before {
    color: $steel;
    @include responsive-text-size('small');
    font-family: $alt-font-family;
  }

  th {
    padding: 0 0 0.75rem;
    border: 0;
  }

  tr {
    border-bottom: 1px solid $base;
    &:nth-of-type(2n) {
      background: transparent;
    }
    &.is-reserved td:first-child {
      position: relative;
      z-index: -1;
      &::after {
        content: "";
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: $splash;
        position: absolute;
        top: 50%;
        margin-top: -0.375rem;
        left: -1.5rem;
      }
    }
    &.income-level {
      border-bottom: none;
    }
  }

  td {
    padding: 0.75rem 0;
    @include responsive-text-size('base');
    font-feature-settings: "tnum";
    vertical-align: top;

    &.availability {
      width: 7rem;
    }

    &.income-level-label {
      position: absolute;
      font-family: $alt-font-family;
      @include responsive-text-size('small');
    }

    &.has-nested-sibling {
        padding-top: 3.4rem;
    }
  }

  // Number of availably units
  i {
    @include responsive-text-size('delta');
    color: $jet;
    font-style: normal;
    font-weight: $t-regular;
    line-height: 1;
  }

  small {
    display: block;
    @include responsive-text-size('tiny');
    color: $steel;
    text-transform: none;
    letter-spacing: 0;
    font-weight: $t-regular;
  }
}

.table-pricing-waitlist {
  padding: 1rem 0;
}

.table-pricing-rent {
  th:last-child,
  td[data-th="Rent"], {
    text-align: right;
  }
}

.table-pricing-sale-lease {
  th:last-child,
  td[data-th="Optional parking lease"], {
    text-align: right;
  }
}

.table-nested-income {
  margin-bottom: 0;

  th {
    text-transform: none;
    letter-spacing: 0;
    &.whiteout {
      color: $white;
    }
  }
  th:last-child {
    text-align: left;
  }
  tr {
    border-bottom: none;
  }
}

@media #{$small-only} {
  .table-pricing-wrapper {
    margin-top: 0;
  }

  .table-pricing-header {
    position: static;
    margin: 0.5rem 0;
  }

  .table-pricing {
    display: block;
    width: 100%;

    small {
      display: inline;
    }

    th {
      @include element-invisible;
    }

    thead,
    tr,
    td,
    tbody {
      display: block;
    }

    tr {
      border-bottom: none;
    }

    tr.income-level {
      height: 2.75rem;
      border-bottom: 1px solid #aaaaaa;
    }

    td {
      position: relative;

      &.is-subtitled, &.is-subtitled-nested {
        text-align: right;
      }

      &.is-subtitled-nested {
        font-size: 0.875rem;
        padding-bottom: 0;
      }

      &.is-subtitled::before, &.is-subtitled-nested::before {
        content: attr(data-th);
        position: absolute;
        line-height: 1;
        left: 0;
        font-weight: $table-value-weight;
        letter-spacing: .1rem;
        text-transform: uppercase;
      }

      &.is-subtitled-nested::before {
        text-transform: none;
      }

      &.is-supertitled::before {
        content: attr(data-th);
        font-weight: $table-value-weight;
        letter-spacing: .1rem;
        text-transform: uppercase;
        margin-left: -1rem;
      }

      &.has-nested-sibling {
        padding-top: 0.75rem;
      }

      &[data-th="Income Range"] {
        padding-left: 1rem;
      }

    }

    i {
      @include responsive-text-size('base');
      font-weight: $t-semi;
    }

    tr.is-reserved::after {
      top: 1.5rem;
    }
  }

  .table-nested-income {
    td:last-of-type {
      margin-bottom: 1rem;
    }
  }

  .table-pricing-sale {
    td {
      padding: 1.5rem 0;

      &::before {
        top: 0;
      }

      &.is-subtitled {
        width: 100%;
        text-align: left;
      }

      &.availability::before {
        content: "";
      }
    }
  }

  .table-pricing-rent {
    td.is-subtitled::before {
      top: 50%;
      margin-top: -0.5rem;
    }

    td.availability {
      text-align: right;
      width: 100%;

      &::before {
        width: 100%;
        padding: 0;
        text-align: left;
      }
    }
  }

  .pricing-table-waitlist {
    padding: 0.5rem 0;
  }
}
