<accordion-group> 
  <accordion-heading>
    <img class="accordion-icon" src="/assets/toolkit/images/listing-features.svg" alt="features-options">
    <h3 class="accordion-name">Features</h3>
    <span class="accordion-subheader">Amenities, unit details and additional fees</span>
    {{> @icons-base icon="arrow-down" size="small" position="control"}}
  </accordion-heading>

  <header class="listing-header show-for-medium-up">
    <img class="listing-header_icon" src="/assets/toolkit/images/listing-features.svg" alt="features-options">
    <hgroup class="listing-header_group">
      <h3 class="listing-header_name">Features</h3>
      <span class="listing-header_subheader">Amenities, unit details and additional fees</span>
    </hgroup>
  </header>

  {{> @content-section}}
</accordion-group>
