<accordion-group> 
  <accordion-heading>
    <img class="accordion-icon" src="/toolkit/images/listing-neighborhood.svg" alt="neighborhood-building">
    <h3 class="accordion-name">Neighborhood</h3>
    <span class="accordion-subheader">Location and transportation</span>
    {{> @icons-base icon="arrow-down" size="small" position="control"}}
  </accordion-heading>

  <header class="listing-header show-for-medium-up">
    <img class="listing-header_icon" src="/toolkit/images/listing-neighborhood.svg" alt="neighborhood-building">
    <hgroup class="listing-header_group">
      <h3 class="listing-header_name">Neighborhood</h3>
      <span class="listing-header_subheader">Location and transportation</span>
    </hgroup>
  </header>

  <div class="content-section">
    
      <div class="property-map map-panel">
        <figure class="property-map_figure p-relative">
          <img class="property-map_thumb" src="/toolkit/images/map.png" alt="image of map">
          <a href="#" class="map-link ui-link ui-small hide-for-print">
            <span class="ui-icon i-deep">
              <svg>
                <use xlink:href="#i-map"></use>
              </svg>
            </span>
            Get Directions
          </a>
        </figure>
      </div>

  </div>
</accordion-group>
