.accordion {
  &-nested {
    @include responsive-text-size('small');

    .accordion-navigation a {
      @include type-weight(bold);
      @include responsive-text-size('small');
      background-color: $dust;
      border-bottom: 1px solid $silver;
      padding-left: 0;
      position: relative;
    }
  }

  &.trigger-left {
    @media #{$medium-up} {
      .accordion-navigation a {
        padding-left: 2.5rem;
      }

      .ui-control {
        @include absolute(1.125rem,null,null,.75rem);
      }
    }
  }

  .ui-control {
    @include absolute(1rem,1rem,null,null);
  }
}
