// smaller screen listing accordion headers
accordion.has-icon,
.page-accordion {
  .accordion dd > a {
    min-height: 5rem;
    padding-left: 5rem;
  }
}

accordion.has-stat {
  .accordion dd > a {
    min-height: 5rem;
    padding-left: 6.5rem;
  }
}

accordion.has-toggle,
.accordion-container,
.page-accordion {
  .accordion dd > a {
    border-bottom: 1px solid $smoke;
    display: block;
    position: relative;

    &.active {
      background-color: $mist;

      .ui-control {
        transform: rotate(180deg);
      }
    }

    .ui-control {
      @include absolute(1rem,1rem,null,null);
    }
  }
}

.accordion-name {
  @include responsive-text-size('small');
  font-family: $alt-font-family;
  letter-spacing: $small-header-spacing;
  margin-bottom: .5rem;
  margin-right: 1rem;
  text-transform: uppercase;

  &.semi {
    letter-spacing: normal;
    font-family: $sans-font-family;
    font-weight: $t-semi;
    margin-bottom: 0;
  }
}

.accordion-subheader {
  @include responsive-text-size('small');
  display: inline-block;
  line-height: 1.375;
  margin-right: 1rem;

  &.tiny {
    @include responsive-text-size('tiny');
  }
}

.accordion-icon {
  @include absolute(50%,null,null,.5rem);
  transform: translateY(-50%);
  width: 3.5rem;
}

.accordion-stat {
  @include absolute(50%,null,null,1.5rem);
  @include scut-padding(.5rem n);
  background-color: $primary;
  color: $white;
  line-height: 1;
  min-width: rem-calc(65);
  transform: translateY(-50%);
  text-align: center;
}

.accordion-stat_label {
  @include responsive-text-size('micro');
  text-transform: uppercase;
  line-height: .8;
  display: inline-block;
}

.accordion-stat_value {
  @include responsive-text-size('delta');
  display: block;
  padding-left: .25rem;
  padding-right: .25rem;
}
