//
// Alerts
//

.alert-box {
  &.alert {
    background-color: $alert-tint;

    &.invert {
      background-color: $alert;
      color: $white;

      svg use {
        fill: $white;
      }

      .close {
        color: $white;
      }
    }
  }

  &.success {
    background-color: $success-tint;
  }

  .close {
    line-height: .9rem;
  }

  &.has-notice {
    margin-bottom: 0;
  }
}

.alert-icon {
  position: absolute;
  top: .9rem;
  left: 1rem;
}

.alert-body {
  @include scut-padding(n 2rem);
  margin-bottom: 0;
}

.alert-notice {
  @include responsive-text-size('tiny');
  @include scut-padding(1rem 2.75rem);
  background-color: $vapor;
  border: 2px solid $primary;

  &.alert {
    border-color: $alert;
  }

  p {
    margin-bottom: .25rem;
  }
}

.alert-notice_title {

}

.alert-notice_item {
  color: $alert;
  font-weight: $t-semi;
}

