//
// Applications

.application-form {
  #{h1, h2, h3, h4, h5, h6} {
    font-family: $sans-font-family;
  }

  .form-label {
    color: $oil;
  }

  .form-group {
    @include clearfix;
    margin-bottom: 1rem;
  }
}

.application-form_nav {
  background-color: $dust;
}
