//
// Block
// Larger component with padding on all sides

.block {
  @include block();

  // Expand beyond outer margin
  &-expand,
  .expand {
    margin-left: -($column-gutter / 2);
    margin-right: -($column-gutter / 2);
  }

  // Block modifier with icon
  &--icon {
    @include block();
  }

  // Block modifier with more responsive padding
  &--tall {   
    @include block();

    @media #{$medium-up} {
      padding: 6rem 2rem;
    }
  }
}

// Block icon element
.block-icon {
  padding: 1rem;
  margin-bottom: 1rem;

  img {
    border-bottom: 2px solid $primary;
  }
}
