.block {
  padding: 2rem;

  &-expand {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  &--tall {
    padding: 2rem;
      
    @media #{$medium-up} {
      padding: 6rem 2rem;
    }
  }

  &--icon {
    padding: 2rem;
      
    @media #{$medium-up} {
      padding: 4rem 2rem 6rem 2rem;
    }
  }
}

.block-list {

}

.block-item {
  border-bottom: 1px solid $silver;
  padding-top: 1.25rem;
  padding-bottom: .5rem;

  .button-on-small {
    @media #{$small-only} {
      padding-left: 1rem;
      padding-right: 1rem;
    }  
  }
}

.block-icon {
  padding: 1rem;
  margin-bottom: 1rem;

  img {
    border-bottom: 2px solid $primary;
  }
}
