// Customize foundation button group
.button-group {
  > li {
    margin: 0;

    > button,
    > .button {
      border-color: $primary;
      border-radius: 0;
      line-height: rem-calc(18);
    }

    &:first-child button, 
    &:first-child .button {
      border-left: 2px solid;
      border-right-width: 0;

      &:hover,
      &:focus {
       border-left-color: $primary;
      }
    }
  }
}

// Favorite share button group
.button-group--favorite {
  > li {
    > button,
    > .button {
      border-color: $smoke;
      color: $oil;
      width: 100%;

      &:hover,
      &:focus,
      &.active {
        background-color: $primary;
        border-color: $primary;
        color: #fff;
      }

      &.active {
        svg use {
          fill: #fff;
        }
      }    
    }

    &:first-child button, 
    &:first-child .button {
      border-left-color: $smoke;

      &:hover,
      &:focus {
       border-left-color: $primary;
      }
    }
  }
}  

.button-pager {
  text-align: center;

  button,
  .button {
    margin-bottom: 0;
  }  
}

.button-pager_row {
  padding: 2rem;

  &.primary {
    background-color: $dust;
  }
}