// Card object
// Flexible content container

.card {
  position: relative;
}

// card container
.card-inner,
.card-details {
  padding: 1rem;
}

.card-address {
  overflow: hidden;
}

.card-title {
  margin-bottom: 0;
}

.card-group {
  margin-bottom: 1rem;
}

.card-more {
  @include responsive-text-size('small');
  display: inline-block;
}

.card-date {
  @include responsive-text-size('small');
}

.card-footer {
  @include clearfix;
}

.card-link {
  @include responsive-text-size('small');
  margin-right: 1rem;
}

.dash-card {
  border-bottom: 1px solid $smoke;

  &:last-of-type {
    border-bottom-width: 0;
  }
}

.dash-card-status {
  @media #{$small-only} {
    margin-bottom: 0;
  }  
}

.dash-card-date {
  color: $steel;
  
  @media #{$medium-up} {
    @include absolute(1rem,1rem,null,null);
  }
}

.dash-card-units {
  @include responsive-text-size('small');
  color: $steel;
}
