// Card object
// Flexible content container

.card {
  border: 2px solid $white-smoke;
  margin-bottom: 1rem;
  
  // card container
  &-inner,
  &-details {
    padding: 1rem;
  }

  &-address {
    overflow: hidden;
  }

  &-title {
    margin-bottom: 0;
  }

  &-group {
    margin-bottom: 1rem;
  }

  &-more {
    @include responsive-text-size('small');
    display: inline-block;
  }

  &-date {
    @include responsive-text-size('small');
  }

  &-footer {
    @include clearfix;
  }
}

.lottery-card {
  .card-units {
    @include responsive-text-size('small');
    color: $steel;
  }
}
