
// Content tile
// Property listing content module

.content-tile,
.listing-tile {
  @media #{$medium-up} {
    margin-left: 3rem;
  }
}

.feature-tile {
  @media #{$medium-up} {
    margin-left: 5rem;
  }
}

.feature-row {
  margin-bottom: 1rem;
    
  p {
    margin-bottom: 0;
  }
}

.feature-title {
  @include responsive-text-size('epsilon');
  font-family: $serif-font-family;
  margin-bottom: .5rem;

  @media #{$medium-up} {
    border-left: 2px solid $smoke;
    padding-left: 1rem;
    margin-left: -1rem;
    margin-bottom: 0;
  }

  @media print {
    @include responsive-text-size('base');
  }
}

.feature-tile_content {
  @media #{$medium-up} {
    padding-top: .25rem;
  }
}
