//
// Content Header
// Header with subnav for property accordion

// Desktop listing header
.content-header,
.listing-header {
  color: #1a383c;
  display: none;
  font-size: 1rem;
  padding: 1rem 2rem 1rem 0;
  position: relative;

  &_group {
    border-left: 3px solid $primary;
    margin-left: 4rem;
    min-height: 3.5rem;
    padding-left: 1rem;
  }

  &_name {
    @include responsive-text-size('gamma');
    display: block;
    font-family: $serif-font-family;
    margin-bottom: .5rem;
  }

  &_subheader {
    @extend .accordion-subheader;
    color: $charcoal;
  }

  &_icon {
    @include absolute(50%,null,null,0);
    // @include translateY(-50%);
    transform: translateY(-50%);
    width: 3.5rem;
  }
}

