// Content card
// Content contained in a card element

.content-card {
  @include responsive-text-size('tiny');
  background-color: #fff;
  border: 2px solid $white-smoke;
  line-height: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 1rem;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.content-card_title {
  @include responsive-text-size('tiny');
  font-family: $font-family;
  font-weight: 600;
  text-transform: uppercase;

  &.t-serif {
    @include responsive-text-size('delta');
    font-family: $serif-font-family;
    font-weight: normal;
    margin-bottom: .75rem;
    text-transform: none;
  }
}

.content-grid {
  @media #{$medium-up} {
    @include clearfix;

    .content-item {
      float: left;
      width: 50%;
      padding-right: 1rem;

      &:nth-child(2n+1) {
        clear: left;
      }  
    }
  }
}
