//
// Content Header
//

.content-header {
  color: #1a383c;
  display: none;
  font-size: 1rem;
  padding: 1rem;

  @media #{$medium-up} {
    border-top: 5px solid $charcoal;
    border-bottom: 0;
    display: block;
    padding-bottom: 1.25rem;
    padding-top: 2.25rem;
    
    &_name {
      @include responsive-text-size('gamma');
      display: block;
      margin-bottom: .5rem;
    }

    &_subheader {
      @extend .accordion-subheader;
      color: $steel;
    }
  }
}
