.content-panel {
  padding-top: 1rem;
  margin-bottom: 1rem;

  &.lined {
    @media #{$medium-up} {
      border-bottom: 1px solid $steel;
      margin-bottom: 2rem; 
    }
  }

  &.wide {
    padding: .9375rem;
  }

  &--expanded {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    padding: 1rem;
  }

  &--full {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: -1rem;
  }
}

.content-list {
  li, 
  dd {
    margin-bottom: 1rem;
  }
}
  
.content-panel-grid {
  .content-panel {
    padding-top: 0;
    
    @media #{$medium-up} {
      @include grid-column(6);
    }
  }

  .panel-header {
    @include panel();
    background-color: $mist;
    border: none;
  }
}
