// Content group
// Collection of smaller meta data

.content-group {
  border-bottom: 1px solid $smoke;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-left: $column-gutter/2;
  padding-right: $column-gutter/2;

  @media #{$medium-up} {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  p, li {
    &:last-of-type {
      margin-bottom: 0;
    }

    @media print {
      @include responsive-text-size('micro');
    }  
  }

  &.has-divider {
    position: relative;
  }

  // modifier class
  &.expand {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.content-group_title {
  @include responsive-text-size('small');
  color: $steel;
  font-family: $font-family;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

// Multi Column Layout
.content-group_days {
  @include clearfix;

  // temp fix until salesforce can add additional fields
  &.inline {
    p {
      @include responsive-text-size('small');
      color: $oil;
      font-family: $alt-font-family;
      text-transform: uppercase;
      line-height: 2;
      overflow: hidden;
    }

    strong, b {
      @include responsive-text-size('tiny');
      clear: right;
      color: $oil;
      float: right;
      font-family: $alt-font-family;
      font-weight: 700;
      line-height: 2;
    }
  }
  @media print {
    margin-bottom: 0;
  }
}

.content-group_day {
  @include responsive-text-size('small');
  color: $oil;
  font-family: $alt-font-family;
  text-transform: uppercase;
}

.content-group_hours, .content-group_date {
  @include clearfix;
}

.content-group_hours {
  @media print {
    margin-top: 30px;
  }
}

.content-group_time {
  @include responsive-text-size('tiny');
  clear: right;
  color: $oil;
  float: right;
  font-family: $alt-font-family;
  font-weight: 700;
  line-height: 2;

  @media print {
    float: none;
  }  
}

.content-group_address {
  font-size: rem-calc(15);
}

.option-divider {
  @include absolute(null,0,-.75rem,0);
  background-color: transparent;
  text-align: center;

  .or {
    background-color: #fff;
    color: $deep;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}
