// Custom counter
// Creates custom numbered lists

.custom-counter {
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
  list-style-type: none;
}

.custom-counter_item {
  margin-bottom: 3rem;

  @media #{$medium-up} {
    counter-increment: step-counter;
    margin-bottom: 3rem;
    margin-left: 2rem;
    position: relative;

    &::before {
      @include absolute(0,null,null,-1rem);
      content: counter(step-counter);
      margin-right: 5px;
      color: $oil;
      font-size: rem-calc(70);
      line-height: .85;
      font-family: $serif-font-family;
    }
  }

  &.small {
    margin-bottom: 2.5rem;
    counter-increment: step-counter;
    margin-left: 2rem;
    position: relative;

    &::before {
      @include absolute(0,null,null,-2rem);
      content: counter(step-counter);
      margin-right: 5px;
      color: $primary;
      font-size: rem-calc(30);
      line-height: .75;
      font-family: $serif-font-family;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.custom-counter_header {
  @media #{$medium-up} {
    border-left: 2px solid $smoke;
    margin-bottom: 2rem;
    margin-left: -1rem;
    padding-left: 1rem;
  }
}

.custom-counter_title {
  font-family: $serif-font-family;
  margin-bottom: .5rem;

  @media print {
    @include responsive-text-size('base');
  }
}

.custom-counter_text {
  @include responsive-text-size('small');
  color: $charcoal;
}
