.dash-card {
  background-color: #fff;
  margin-bottom: 0;

  @media #{$medium-up} {
    @include rounded-block();
  }
}

.dash-card-inner {
  padding: 2rem;

  &.expand {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.inset {
    @media #{$medium-up} {
      padding-left: 5rem;
      padding-right: 5rem;
    }  
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.dash-header {
  border-bottom: 1px solid $smoke;
  padding: 2rem;
  text-align: center;

  &.expand {
    margin-left: -$column-gutter/2;
    margin-right: -$column-gutter/2;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.dash-title {
  @include responsive-text-size('gamma');
}
