.dash-section {
  @include clearfix;
}

.dash-block {
  @media #{$medium-up} {
    @include grid-column(6);
  }
}

.dash-item {
  background-color: #fff;
  color: $oil;
  display: block;
  padding: 2rem 1rem 1rem;
  border-bottom: 1px solid $smoke;
  text-align: center;

  @media #{$medium-up} {
    @include rounded-block();
    padding: 2rem;
    margin-bottom: 2rem;
  }

  p {
    @include responsive-text-size('small');
    margin-bottom: 0;
  }
}

.dash-name {
  @include responsive-text-size('gamma');
}
