.eligibility-form {
  &_header {
    display: block;
    text-transform: uppercase;
    padding-bottom: .5rem;
  }
}

.income-source {

  &_item {
    background-color: $mist;
    padding: 1rem;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &_link {
    float: right;
    text-transform: uppercase;
  }
}