.entry-panel {
  border-bottom: 1px solid $smoke;
  border-top: 1px solid $smoke;
  position: relative;
  padding-bottom: 1rem;
  padding-top: 1rem;

  #{h1, h2, h3, h4, h5, h6} {
    font-family: $sans-font-family;
  }
}

.entry-panel_edit {
  @include absolute(1rem,0,null,null);
}

.entry-panel_header,
.entry-panel_label {
  @include type-weight(light);
}

.entry-panel_content {
  @include type-weight(bold);
  @include responsive-text-size('delta');
  margin-bottom: 0;

  &:last-of-type {
    margin-bottom: 1.5rem;
  }
}
