.feed-item {
  @include responsive-text-size('small');
  border-bottom: 1px solid $smoke;
  position: relative;

  &:last-of-type {
    border-bottom-width: 0;
  }

  &.is-editable {
    background-color: $dust;
  }
}

.feed-item-inner {
  @include scut-padding(1rem);
}

.feed-item-header {
  @include grid-row($behavior: collapse);
  @include scut-padding(.5rem n);

  @media #{$medium-up} {  
    border-bottom: 1px solid $smoke;
    margin-bottom: 1rem;
  }  
}  

.feed-item-title {
  @include responsive-text-size('delta');
  font-family: $alt-font-family;
  letter-spacing: $large-header-spacing;
  margin-bottom: 0;
  text-transform: uppercase;
  
  @media #{$medium-up} {
    @include grid-column($columns:6, $collapse:true);
  }
} 

.feed-item-due {
  color: $charcoal;

  @media #{$medium-up} {
   @include grid-column($columns:6, $collapse:true);
   text-align: right;
  }
}

.feed-item-content {
  @include grid-row($behavior: collapse);
}

.feed-item-details {
  @media #{$medium-up} {
    @include grid-column($columns:6, $collapse:true);
  }
}

.feed-item-action {
  padding-top: 1rem;
  text-align: center;

  @media #{$medium-up} {
    @include grid-column($columns:6, $collapse:true);
    padding-top: 0;
    text-align: right;
  }
}

.feed-item-footer {
  @include grid-row($behavior: collapse);

  @media #{$small-only} {
    text-align: center;
  }
}

.feed-item-links {
  padding-bottom: 1rem;

  @media #{$medium-up} {
    @include grid-column($columns:6, $collapse:true);
    padding-bottom: 0;
  }
}

.feed-item-meta {
  @media #{$medium-up} {
    @include grid-column($columns:6, $collapse:true);
    text-align: right;
  }
}

.feed-item-label {
  position: relative;

  &.is-submitted,
  &.is-past-due {
    padding-right: 1.5rem;

    &:after {
      @include absolute(50%,0,null,null);
      @include scut-size(rem-calc(12));
      background-color: $lush;
      border-radius: 50%;
      content: '';
      display: block;
      transform: translateY(-50%);
    }
  }

  &.is-past-due {
    &:after {
      background-color: $alert;
    }  
  }  
}

.feed-item-link {
  margin-right: 1rem;
}

.feed-item-date {
  @include responsive-text-size('tiny');
  color: $charcoal;
}

.feed-item-address {
  color: $charcoal;
}
