//
// Form card
// Container for form elments

$form-card-radius: rem-calc(12);

.form-card {
  background: #fff;
  padding-top: 1rem;

  @media #{$medium-up} {
    border: 1px solid $smoke;
    border-radius: $form-card-radius;
    padding: $column-gutter/2;
  }

  .border-bottom {
    border-color: $smoke;
  }

  .form-section {
    &.expand {
      margin-left: -$column-gutter/2;
      margin-right: -$column-gutter/2;
    }
  }

  &_header,
  &_footer {
    margin-left: -$column-gutter/2;
    margin-right: -$column-gutter/2;
  }

  &_header {
    margin-top: -$column-gutter/2;

    @media #{$medium-up} {
      border-top-left-radius: $form-card-radius;
      border-top-right-radius: $form-card-radius;  
      overflow: hidden;
    }  
  }
    
  &_footer {
    @media #{$medium-up} {
      border-bottom-left-radius: $form-card-radius;
      border-bottom-right-radius: $form-card-radius;
      margin-bottom: -$column-gutter/2;
      overflow: hidden;
    }  
  }

  // form card with sub-nav
  &.has-nav {
    padding-top: 0;

    @media #{$medium-up} {
      padding-top: 1rem
    }

    .sub-nav {
      margin-top: 0;
      margin-left: -1rem;
      margin-right: -1rem;  
    }
  }
}
