//
// Form card
// Container for form elments

.form-card {
  background: #fff;
  padding-top: 1rem;

  @media #{$medium-up} {
    border: 1px solid $smoke;
    border-radius: rem-calc(12);
    padding: $column-gutter/2;
  }

  .border-bottom {
    border-color: $smoke;
  }

  .form-section {
    &.expand {
      margin-left: -$column-gutter/2;
      margin-right: -$column-gutter/2;
    }
  }

  // form card with sub-nav
  &.has-nav {
    padding-top: 0;

    @media #{$medium-up} {
      padding-top: 1rem
    }

    .sub-nav {
      margin-top: 0;
      margin-left: -1rem;
      margin-right: -1rem;  
    }
  }
}
