.form-card {
  background: #fff;
  padding-top: 1rem;

  .border-bottom {
    border-color: $smoke;
  }

  @media #{$medium-up} {
    padding: 2rem;
    box-shadow: 0px 3px 3px 2px rgba(0,0,0,.1);
    margin-bottom: 3rem;
  }  
}
