.header {
  &-block {
    background-color: $smoke;
    padding: 1rem;

    &_name {
      margin-bottom: 0;
    }
  }
}

.lead-header {
  padding: 1rem 0 0;

  @media #{$medium-up} {
    padding: 2rem 0 1rem;
  }
}
