//
// Headers
//

.header {
  &-block {
    background-color: $smoke;
    padding: 1rem;

    &_name {
      margin-bottom: 0;
    }
  }
}

.lead-header {
  padding: 1rem 0 0;

  @media #{$medium-up} {
    padding: 2rem 0 1rem;
  }
}

.shift {
  @media #{$medium-up} {
    &-offset--bottom {
      padding-bottom: 4rem;
    }

    &--top {
      margin-top: -4rem;
    }
  }
}

.section-header {
  border-bottom: 1px solid $silver;
  border-top: 5px solid $charcoal;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  @media #{$small-only} {
    margin-left: -($column-gutter/2);
    margin-right: -($column-gutter/2);
    padding-left: $column-gutter/2;
    padding-right: $column-gutter/2;
  }
}

.status-header {
  position: relative;
  padding: 1rem;

  &_icon {
    @include absolute(1rem,null,null,1rem);
  }

  &_content {
    padding-left: 2rem;
  }

  @media #{$small-only} {
    margin-left: -($column-gutter/2);
    margin-right: -($column-gutter/2);
    padding-left: $column-gutter/2;
    padding-right: $column-gutter/2;
  } 
}
