.hero {
  &-header {
    padding: 2rem 1rem;
    position: relative;
    z-index: 2;

    @media #{$medium-up} {
      padding: 8rem 1rem 2rem 1rem;
    }
  }

  &-title {
    @media #{$small-only} {
      font-size: $h1-font-size;
    }  
  }
}

.splash-header {
  position: relative;

  &.bg-image {
    background-image: url('../images/sf-skyline-wide.jpg');
    background-size: cover;
    background-position: center;
  }

  &:before {
    content: "";
    display: block;
    @include absolute(0,0,0,0);
    background-color: rgba(0,0,0,.6);
    @include filter-gradient(#000000, #000000, vertical);
    @include background(linear-gradient(top, rgba(0,0,0,0) 10%, rgba(0,0,0,.8) 100%));
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 10%, rgba(0,0,0,1) 100%);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 10%, rgba(0,0,0,.8) 100%);
  }
}
