//
// Editable
// Multiline item with edit button

.user-item,
.info-item {
  @include clearfix;
  position: relative;
}

.user-item_name,
.info-item_name {
  float: left;
  padding-top: 1rem;
}

.info-item_link {
  @include absolute(1.75rem,1rem,null,null);
  line-height: 1.5rem;
}
