//
// Editable
// Multiline item with edit button

.info-item {
  @include clearfix;
  @include responsive-text-size('small');
  position: relative;

  &.tall {
    @include scut-padding(1rem n);
  }

  @media print {
    margin-bottom: 15px;
  }
}

.info-item_name {
  @include responsive-text-size('small');
  font-family: $alt-font-family;
  font-weight: $t-semi;
  letter-spacing: $large-header-spacing;
  margin-bottom: 0;
  text-transform: uppercase;

  &.sentence {
    letter-spacing: normal;
    text-transform: none;
  }

  @media print {
    @include responsive-text-size('micro');
  }
}

.info-item_value,
.info-item_note,
.info-item_doc {
  @include responsive-text-size('small');
  font-family: $sans-font-family;
  color: $steel;
  display: block;

  &.margin-bottom {
    margin-bottom: .25rem !important;
  }

  @media print {
    @include responsive-text-size('micro');
  }
}

.info-item_doc {
  margin-bottom: 0;

  .ui-icon {
    margin-right: .25rem;
  }
}  

.info-item_link {
  @include absolute(50%,1rem,null,null);
  transform: translateY(-50%);
  line-height: 1.5rem;
}

.info-item_divider {
  margin-bottom: 2rem;

  @media print {
    margin-bottom: 1rem;
  }
}
