//
// Labels

.label {
  &.success {

  }

  &.secondary {
    background-color: $secondary;
    color: #fff;
  }

  &.negative {
    background-color: $oil;
  }
}

// Labels overlaying images
.status {
  &-label {
    @include absolute(.5rem,null,null,.5rem);
  }
}
