//
// Block lists

.block-list {
  margin-bottom: 2rem;
  
  li {
    @include slat();
  }

  &_title {
    margin-bottom: .5rem;
  }
}

// Block list item
.block-item {
  @include slat();

  .button-on-small {
    @media #{$small-only} {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: .25rem;
    }  
  }
}

.inline-group {
  @include clearfix;
  
  li {
    float: left;
  }
}

// Side nav
.side-nav {
  &.has-border {
    border: 1px solid $smoke;
    padding: 0;

    li {
      border-bottom: 1px solid $smoke;
      margin-bottom: 0;

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}

.side-nav li {
  a,
  a:not(.button) {
    padding: .75rem 1rem;

    &:hover{
      @include transition(.25s);
    }
  }
}

.dl-two-column {
  @include clearfix;

  @media #{$medium-up} {
    dt {
      float: left;
      padding-right: 1rem;
      text-align: right;
      width: 40%;
    }

    dd {
      float: left;
      width: 60%;
    }
  }
}
