//
// Map styles

.property-map {
  &_figure {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.map-link {
  @include responsive-text-size('small');
  display: block;
  line-height: 1;
  overflow: visible;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
