//
// Modals

.reveal-modal {
  background-color: #fff;
}

// Scrolling panel
.overflow-panel {
  border: 1px solid $smoke;
  
  .result-set li {
    padding-left: 1rem;
    padding-right: 1rem;
    position: static;

    .right {
      padding-left: .75rem;
    }
  }
}

.overflow-panel_header {
  @include responsive-text-size('tiny');
  @include type-weight(bold);
  background-color: $smoke;
  overflow: hidden;
  text-transform: uppercase;

  .header {
    padding: .75rem;
  }
}

.overflow-panel_scroll {
  background-color: #fff;
  position: relative;

  @media #{$medium-up} {
    max-height: rem-calc(500);
    overflow-y: auto;
  }
}

.message-modal {
  padding: 2rem;
}


// Close button
.close-reveal-modal {
  @include absolute(1.5rem,1.5rem,null,null);
  text-transform: uppercase;
}
