.overflow-panel {
  &_header {
    @include responsive-text-size('tiny');
    @include type-weight(bold);
    background-color: $smoke;
    overflow: hidden;
    text-transform: uppercase;

    .header {
      padding: .75rem;
    }
  }

  &_scroll {
    position: relative;

    @media #{$medium-up} {
      max-height: rem-calc(500);
      overflow-y: auto;
    }
  }
}