$siderail-width: rem-calc(300px);


.page-accordion {
// Responsive layout
  .accordion dd > a,
  .accordion dd > .content {
    @include grid-row();

    @media #{$medium-up} {
      padding-right: $siderail-width !important;
    }
  }

  > .accordion > dd > a,
  .accordion-header.lead {
    @media #{$medium-up} {
      display: none !important;
    }
  }

  .content-lead {
    display: none;

    @media #{$medium-up} {
      display: block;
    }
  }

  > .accordion > dd > .content {
    @media #{$medium-up} {
      display: block !important;
      padding: 0;
    }
  }

  // responsive right hand column
  .medium-right-column {
    @media #{$medium-up} {
      @include absolute(0,0,0,null);
      @include translateX(0);

      .content {
        background-color: #fff;
        border: 1px solid $smoke;
        width: $siderail-width !important;
        margin: 0 !important;
        height: 100%;
      }
    }

    @media screen and (min-width: 1000px) {
      @include absolute(0,null,0,50%);
      @include translateX(200px);
    }
  }

// Style
  > .accordion > dd {
    &:nth-child(even) {
      background-color: $mist;
    }
  }

  .content-lead {
    padding: 1rem 0;
  }

  .content-section {
    @media #{$medium-up} {
      padding: 4rem 0;
    }  
  }  
}