.property-accordion {
  dd > a,
  .accordion-header,
  .content-header {
    @include type-weight(bold);
    border-bottom: 1px solid $silver;
    position: relative;
  }

  .content-header {
    color: #1a383c;
    display: none;
    font-size: 1rem;
    padding: 1rem;

    @media #{$medium-up} {
      display: block;
      border-top: 5px solid $charcoal;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }  
  }

  .accordion-header.lead {
    @media #{$medium-up} {
      display: none !important;
    }
  }

  .accordion-subheader {
    @include responsive-text-size('small');
    @include type-weight(regular);
    display: block;
  }

  .accordion-nested {
    @include responsive-text-size('small');

    .accordion-navigation a {
      @include type-weight(bold);
      @include responsive-text-size('small');
      background-color: #fff;
      border-bottom: 1px solid $silver;
      padding-left: 0;
      position: relative;
    }
  }

  .ui-control {
    @include absolute(1rem,1rem,null,null);
  }

  // .accordion-navigation {
  //   &.active {
  //     .ui-control {
  //       transform: rotate(180deg);
  //     }
  //   }
  // }

  .content-section {
    @media #{$medium-up} {
      display: block !important;
    }
  }

  .application-options {
    background-color: $mist;

    .option-group {
      border-bottom: 1px solid $steel;
      padding: 1rem 1rem 0;
    }
  }
}
