.property-card {
  font-size: .9rem;
  line-height: 1.5;

  #{h1, h2, h3, h4, h5, h6} {
   margin-bottom: 0;
  }  

  p {
    margin-bottom: 0;
  }

  &_figure {
    background-color: $mist;
    text-align: center;
    position: relative;
  }

  &_container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
    
  &_details {
    background-color: rgba(0,0,0, .5);
    color: #fff;
    padding: 1rem;
  }

  &_toggle {
    @include absolute(2.5rem,1rem,null,null);
  }

  &_content {
    position: relative;
    padding: 1rem;

    .stats-list {
      padding-left: 0;

      &:first-of-type {
        margin-top: 1rem;
      }
    }
  }

  &_info {
    @include clearfix;
    position: relative;
  }

  &_meta {
    margin-bottom: 1rem;
  }  

  &_title {
    margin-bottom: 0;
  }

  &_like {
    @include absolute(null,0,0,null);
    background-color: rgba(0,0,0,.5);
    padding: 1rem;

    svg {
      use {
        fill: #fff;
      }
    }
  }

  &_action {
    float: right;
    
    button {
      margin-bottom: 0;
    }

    @media #{$medium-up} {
      @include absolute(null,0,0,null);
      float: none;
    }  
  }

  @media #{$small-only} {
    max-width: rem-calc(480);
    margin: 0 auto;
  }

  @media #{$medium-up} {
    @include grid-row();

    .overlay {
      @include relative(null,null,null,null); 
    }

    .property-card_figure {
      @include grid-column(5);
      padding-right: 0;
      background-color: transparent;
    }
    
    .property-card_content {
      @include grid-column(7);
      padding-left: 2rem;
    }

    .property-card_meta {
      padding-right: rem-calc(100);
    }
  }
}
