.progress-nav {
  @include clearfix;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.progress-nav_item {
  @include responsive-text-size('quark');
  float: left;
  display: block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  white-space:nowrap;
  width: 20%;

  @media #{$medium-up} {
    @include responsive-text-size('tiny');
  }

  &:before {
    background-color: $lush;
    border: 1px solid $white;
    border-radius: 50%;
    content: "";
    height: rem-calc(14);
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: rem-calc(14);
    z-index: 2;
  }

  &:after {
    background-color: $smoke;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: rem-calc(7);
    width: 100%;
  }

  &:first-of-type {
    &:after {
      left: 50%;
    }  
  }

  &:last-of-type {
    &:after {
      left: auto;
      right: 50%;
    }  
  }

  &.active {
    &:before {
      background-color: $primary;
      height: rem-calc(10);
      top: rem-calc(2);
      width: rem-calc(10);
    }
      
    a {
      color: $oil;
      font-weight: $t-bold;
    }
  }

  &.disabled {
    &:before {
      background-color: $smoke;
      height: rem-calc(10);
      top: rem-calc(2);
      width: rem-calc(10);
    }

    a {
      cursor: default;
      pointer-events: none;
    }
  }

  a {
    color: $charcoal;
    display: block;
    padding-top: rem-calc(20);
    position: relative;
    z-index: 3;
  }
}
