.property-hero {
  #{h1, h2, h3, h4, h5, h6} {

  }

  &_figure {
    text-align: center;
  }

  &_container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &_thumb {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
  }

  &_like {
    @include absolute(null,0,0,null);
    background-color: rgba(0,0,0,.5);
    padding: 1rem;
    z-index: 10;

    svg {
      use {
        fill: #fff;
      }
    }
  }

  &_content {
    padding: 1rem;

    p {
      margin-bottom: 0;
    }
  }

  &_stats {

  }

  .stats-list {
    li:nth-child(2) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &_action {
    padding: 1rem;

    @media #{$medium-up} {
      padding-bottom: 0;
    }
  }

  .action-group {
    @media #{$medium-up} {
      .date {
        padding-top: 1rem;
      }

      .button {
        margin-bottom: 0;
      }
    }
  }

  .stats-card {
    background-color: $mist;
    margin-bottom: .5rem;
  }
}
