//
// Property card
// Browse property element with semantic grid

.property-card {
  @include clearfix;
  font-size: .9rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  &_figure {
    text-align: center;
    position: relative;
  }

  &_overlay {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &:before {
      @include overlay-image;
      @include custom-linear-gradient(transparent, rgba(0,0,0, .8));
    }
  }

  &_content {
    position: relative;
  }

  &_info {
    @media #{$medium-up} {
      @include absolute(null,.5rem,1.5rem,.5rem);
      display: inline-block;
      color: #fff;
      z-index: 2;
    }
  }

  &_title {
    @include responsive-text-size('delta');
    font-family: $alt-font-family;
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-bottom: .5rem;

    @media #{$medium-up} {
      @include responsive-text-size('beta');

      a {
        color: #fff;
      }
    }
  }

  &_address {
    @include responsive-text-size('tiny');
    color: $oil;
    font-family: $alt-font-family;
    letter-spacing: $small-header-spacing;
    line-height: 1.5;
    text-transform: uppercase;

    @media #{$small-only} {
      margin-top: .5rem;
      margin-bottom: 1rem;
    }  

    @media #{$medium-up} {
      color: #fff;
    }
  }

  &_action {    
    button {
      margin-bottom: 0;
    } 
  }

  // Labels overlaying images
  .status-label {
    @include absolute(.5rem,null,null,0);

    @media #{$medium-up} {
      @include absolute(.5rem,0,null,auto);
    }  
  }

  .application-label {
    @include absolute(null,1rem,0,1rem);
    z-index: 2;

    @media #{$medium-up} {
      @include absolute(.5rem,auto,auto,0);
    }
  }

  @media #{$small-only} {
    max-width: rem-calc(480);
    margin: 0 auto 4rem;;
  }

  @media #{$medium-up} {
    @include grid-row();
    margin-bottom: 1.5rem;

    .property-card_figure {
      @include grid-column(7);
      padding: 0;
      background-color: transparent;
    }
    
    .property-card_content {
      @include grid-column(5);
      padding: 0;
      padding-left: 1rem;
    }
  }
}
