//
// Property accordion
// includes rewrites for Angular instance

.property-accordion {

  > .accordion {
    margin-top: 0;
  }

  // Accordion Headers
  // re-written for accordion directive
  dd > a,
  .accordion-header,
  .content-header {
    @include type-weight(bold);
    border-bottom: 1px solid $silver;
    position: relative;
  }

  // re-written for accordion directive
  > .accordion > dd > a,
  .accordion-header.lead {
    @media #{$medium-up} {
      display: none !important;
    }

    .ui-icon svg use {
      fill: $dark;
    }  
  }

  .accordion-subheader {
    @include responsive-text-size('small');
    @include type-weight(regular);
    display: block;
  }

  // Accordion Sections
    // re-written for accordion directive
  > .accordion > dd > .content,
  .content-section {
    @media #{$medium-up} {
      display: block !important;
      padding: 0;
    }
  }

  .content-section {
    @media #{$medium-up} {
      background-color: $dust;
    }

    p.t-small {
      @media #{$medium-up} {
        color: $charcoal !important
      }
    }
  }

  .content-panel {
    &:first-of-type {
      @media #{$small-only} {
        padding-top: 0 !important;
      }
    }
  }

  // Accordion Nested
  .accordion-nested {
    @include responsive-text-size('small');
    margin-top: 0;

    .accordion {
      margin-top: 0;
    }

    .accordion-navigation {
      border-bottom: 1px solid $smoke;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .accordion-navigation > a {
      @include type-weight(bold);
      @include responsive-text-size('small');
      background-color: #fff;
      border-bottom: none;
      padding-left: 0;
      position: relative;

      @media #{$medium-up} {
        color: $primary
      }
    }

    .accordion-navigation:last-of-type {
      a {
        border-bottom: none;
      }
    }
  }

  // .accordion-navigation {
  //   &.active {
  //     .ui-control {
  //       transform: rotate(180deg);
  //     }
  //   }
  // }
}
