.property-hero {
  #{h1, h2, h3, h4, h5, h6} {
   margin-bottom: 0;
  }

  &_thumb {
    display: block;
    margin: 0 auto;
  }

  &_content {
    padding: 1rem;

    p {
      margin-bottom: 0;
    }
  }

  &_stats {
    background-color: $mist;
  }

  &_action {
    padding: 1rem;
  }
}
