.property-accordion {

  // re-written for accordion directive
  dd > a,
  .accordion-header,
  .content-header {
    @include type-weight(bold);
    border-bottom: 1px solid $silver;
    position: relative;
  }

  .content-header {
    color: #1a383c;
    display: none;
    font-size: 1rem;
    padding: 1rem;

    @media #{$medium-up} {
      display: block;
      border-top: 5px solid $charcoal;
      border-bottom: 0;
      padding-top: 2.25rem;
      padding-bottom: 1.25rem;
    }  
  }

  .content-section {
    @media #{$medium-up} {
      background-color: $dust;
    }

    p {
      @media #{$medium-up} {
        color: $charcoal !important
      }
    }
  }

  .content-label {
    color: $steel;

    @media #{$medium-up} {
      color: $charcoal !important
    }  
  } 

  > .accordion {
    margin-top: 0;
  }

  // re-written for accordion directive
  > .accordion > dd > a,
  .accordion-header.lead {
    @media #{$medium-up} {
      display: none !important;
    }

    .ui-icon svg use {
      fill: $dark;
    }  
  }

  .accordion-subheader {
    @include responsive-text-size('small');
    @include type-weight(regular);
    display: block;
  }

  .accordion-nested {
    @include responsive-text-size('small');
    margin-top: 0;

    .accordion-navigation {
      border-bottom: 1px solid $smoke;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .accordion-navigation > a {
      @include type-weight(bold);
      @include responsive-text-size('small');
      background-color: #fff;
      border-bottom: none;
      padding-left: 0;
      position: relative;

      @media #{$medium-up} {
        color: $primary
      }
    }

    .accordion-navigation:last-of-type {
      a {
        border-bottom: none;
      }
    }
  }

  // .accordion-navigation {
  //   &.active {
  //     .ui-control {
  //       transform: rotate(180deg);
  //     }
  //   }
  // }

  // re-written for accordion directive
  > .accordion > dd > .content,
  .content-section {
    @media #{$medium-up} {
      display: block !important;
      padding: 0;
    }
  }
}
