//
// Property hero
// Hero element at the top of single property

.property-hero {
  #{h1, h2, h3, h4, h5, h6} {

  }

  &_figure {
    position: relative;
    text-align: center;
    z-index: 1;
  }

  &_container {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 1;
  }

  &_thumb {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
  }

  &_title.offset {
    @include responsive-text-size('delta');
    font-family: $alt-font-family;
    letter-spacing: .2rem;
    text-transform: uppercase; 
    margin-bottom: 0;
    padding-top: .75rem;

    @media #{$medium-up} {
      @include responsive-text-size('beta');
      @include absolute(null,3.5rem,1.5rem,3.5rem);
      color: #fff;
      display: inline-block;
      z-index: 2;
    }  
  }
  
  // legacy  
  &_like {
    @include absolute(null,0,0,null);
    background-color: rgba(0,0,0,.5);
    padding: 1rem;
    z-index: 10;

    svg {
      use {
        fill: #fff;
      }
    }
  }

  &_favorite {
    margin-top: 1rem;

    @media #{$medium-up} {
      @include absolute(null,0,0,null);
    }  
  }

  &_content {
    padding: 1rem;

    @media #{$small-only} {
      text-align: center;
    }

    p {
      margin-bottom: 0;
    }
  }

  &_address {
    @include responsive-text-size('tiny');
    color: $oil;
    font-family: $alt-font-family;
    letter-spacing: $small-header-spacing;
    line-height: 1.5;
    text-transform: uppercase;
    
    @media #{$small-only} {
      text-align: center;
    }

    @media #{$medium-up} {
      font-weight: 700;
    }  
  }

  &_stats {

  }

  .stats-list {
    li:nth-child(2) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &_action {
    padding: 1rem;

    @media #{$medium-up} {
      padding-bottom: 0;
    }
  }

  .action-group {
    @media #{$medium-up} {
      .date {
        padding-top: 1rem;
      }

      .button {
        margin-bottom: 0;
      }
    }
  }

  .stats-card {
    background-color: $mist;
    margin-bottom: .5rem;
  }
}
