//
// Property card
// Browse property element with semantic grid

.property-card {
  font-size: .9rem;
  line-height: 1.5;

  #{h1, h2, h3, h4, h5, h6} {
   margin-bottom: 0;
  }  

  p {
    margin-bottom: 0;
  }

  &_figure {
    background-color: $mist;
    text-align: center;
    position: relative;
  }

  &_overlay {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &:before {
      @include overlay-image;
      @include custom-linear-gradient(transparent, rgba(0,0,0, .8));
    }
  }

  &_content {
    position: relative;
  }

  &_info {
    @media #{$medium-up} {
      @include absolute(null,.5rem,1.5rem,.5rem);
      display: inline-block;
      color: #fff;
      z-index: 2;
    }
  }

  &_title {
    @include responsive-text-size('delta');
    font-family: $alt-font-family;
    letter-spacing: .2rem;
    text-transform: uppercase;
    
    @media #{$medium-up} {
      @include responsive-text-size('beta');

      a {
        color: #fff;
      }
    }
  }

  &_action {    
    button {
      margin-bottom: 0;
    } 
  }

  @media #{$small-only} {
    max-width: rem-calc(480);
    margin: 0 auto;
  }

  @media #{$medium-up} {
    @include grid-row();

    .property-card_figure {
      @include grid-column(7);
      padding: 0;
      background-color: transparent;
    }
    
    .property-card_content {
      @include grid-column(5);
      padding: 0;
      padding-left: 1rem;
    }
  }
}
