//
// Stats Table
// Stats container with table

.stats-table {
  width: calc(100% + 1px);

  th {
    @include responsive-text-size('tiny');
    color: $charcoal;
    font-weight: normal;
  }

  tr {
    border-bottom: 1px solid $smoke;

    td {
      font-size: 1rem;
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }

  &_value {
    font-weight: 600;

    .value-label {
      @include responsive-text-size('small');
      font-weight: 400;
    }
  }

  &_label {
    @include responsive-text-size('tiny');
    color: $charcoal;
    vertical-align: top;
  }
}

// Tablesaw for responsive tables
.stats-table--stack {
  width: 100%;

  tbody td {
    clear: left;
    float: left;
    width: 100%;
  }

  .tablesaw-cell-label {
    width: 30%;
    display: inline-block;
  }

  .tablesaw-cell-content {
    max-width: 67%;
    display: inline-block;
  }

  .stat-row {
    border: 1px solid $smoke;
    padding-bottom: 1rem;
    margin-top: .5rem; 

    &:first-of-type {
      margin-top: 0;
    }
  }
}
