.stats-list {
  @include clearfix;
  display: block;
  // padding: 0 .5rem;
  text-align: left;

  li {
    display: block;
    float: left;
    padding: .5rem .5rem;

    &:first-of-type {
      padding-left: 1rem;
    }

    &:last-of-type {
      padding-left: 1rem;
    }
  }

  &_value {
    font-weight: bold;
  }

  &_label {
    @include responsive-text-size('tiny');
    color: $charcoal;
  }

  &.full {
    li {
      width: 100%;
    }
  }

  &.double {
    li {
      width: 50%;
    }
  }

  &.triple {
    li {
      width: 33.3333%;
    }
  }

  &.bottom {
    .stats-list_label {
      display: none;
    }

    &:last-of-type {
      display: inline-block;
    }
  }
}
