.stats-card {
  margin-bottom: .5rem;
  
  table {
    margin-bottom: 0;
  }

  &.bottom {
    .stats-list {
      li {
        height: 2rem;
        overflow: hidden;
      }
        
      .stats-list_label {
        visibility: hidden;
      }

      &:last-of-type {
        li {
          overflow: visible;
          height: auto;
        }

        .stats-list_label {
          visibility: visible;
        }
      }
    }
  }
}
