.stats-list {
  @include clearfix;
  display: block;
  text-align: left;

  li {
    display: block;
    float: left;
    padding: .5rem 1rem;
    padding-top: .75rem;

    &:first-of-type {
      padding-left: 1rem;
    }

    &:last-of-type {
      padding-right: 1rem;
    }
  }

  &_value {
    font-weight: 600;

    .value-label {
      @include responsive-text-size('small');
      font-weight: 400;
    }
  }

  &_label {
    @include responsive-text-size('tiny');
    color: $charcoal;
    vertical-align: top;

    &.bottom {
      vertical-align: bottom;
    }
  }

  &.full {
    li {
      width: 100%;
    }
  }

  &.double {
    li {
      width: 50%;

      &:nth-child(2n+1) {
        padding-left: 1rem;
      }
    }
  }

  &.triple {
    li {
      width: 33.3333%;

      &:nth-child(3n+1) {
        padding-left: 1rem;
      }
    }
  }

  &.quad {
    li {
      width: 25%;
    }
  }

  li.stat-full {
    width: 100% !important;
  }

  @media #{$small-only} {
    &.double.toggler {
      li:first-of-type {
        width: 33.3333%;
      }

      li:last-of-type {
        width: 66.666%;
      }  
    }
  }  

  @media #{$medium-up} {
    &.medium-full {
      li {
        width: 100%;
      }
    }

    &.medium-double {
      li {
        width: 50%;
      }
    }

    &.medium-triple {
      li {
        width: 33.3333%;

        &:nth-child(3n+1) {
          padding-left: 1rem;
        }
      }
    }

    &.medium-quad {
      li {
        width: 25%;
      }
    }
  }

  @media #{$medium-up} {
    .medium-center {
      text-align: center;
    }
  }

  &.labels-inline {
    li {
      padding-top: .5rem;
    }

    .stats-list_value {
      display: inline;
    }

    .stats-list_label {
      vertical-align: middle;
    }
  }

  &.tall {
    li {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}

.stats-toggle {
  background-color: $tint;

  .highlight {
    color: $dark;
  }

  .ui-icon {
    svg {
      use {
        fill: $dark;
      }
    }
  }

  .has-toggle {
    padding-right: 2rem;
  }
}
