.stats-card {
  margin-bottom: .5rem;
  
  table {
    margin-bottom: 0;
  }

  &.bottom {
    .stats-list {
      .stats-list_label {
        display: none;
      }

      &:last-of-type {
        .stats-list_label {
          display: block;
        }
      }
    }
  }
}
