//
// Stats list
// Psuedo table-like styles for responsive stats

.stats-list {
  @include clearfix;
  display: block;
  text-align: left;
}

.stats-list_value {
  font-weight: 600;

  .value-label {
    @include responsive-text-size('small');
    font-weight: 400;
    white-space: nowrap;
  }
}

.stats-list_label {
  @include responsive-text-size('tiny');
  color: $charcoal;
  vertical-align: top;

  &.bottom {
    vertical-align: bottom;
  }
}

.stats-toggle {
  background-color: $tint !important;

  .highlight {
    color: $dark;
  }

  .ui-icon {
    svg {
      use {
        fill: $dark;
      }
    }
  }

  .has-toggle {
    padding-right: 2rem;
  }
}

//
// Stats
// Multiple stats container

.stats-card {
  margin-bottom: .5rem;
  
  table {
    margin-bottom: 0;
  }
}

//
// Stats Table
// Stats container with table

.stats-table {
  width: calc(100% + 1px);

  th {
    @include responsive-text-size('tiny');
    color: $charcoal;
    font-weight: normal;
  }

  tr {
    border-bottom: 1px solid $smoke;

    td {
      font-size: 1rem;
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }
}

.stats-table_value {
  font-weight: 600;

  .value-label {
    @include responsive-text-size('small');
    font-weight: 400;
  }
}

.stats-table_label {
  @include responsive-text-size('tiny');
  color: $charcoal;
  vertical-align: top;
}


// Tablesaw for responsive tables
.stats-table--stack {
  width: 100%;

  tbody td {
    clear: left;
    float: left;
    width: 100%;
  }

  .tablesaw-cell-label {
    width: 30%;
    display: inline-block;
  }

  .tablesaw-cell-content {
    max-width: 67%;
    display: inline-block;
  }

  .stat-row {
    border: 1px solid $smoke;
    padding-bottom: 1rem;
    margin-top: .5rem; 

    &:first-of-type {
      margin-top: 0;
    }
  }
}

//
// Stats grid
// Tables styles

.stats-grid {
  width: 100%;

  th {
    @include responsive-text-size('quark');
    text-transform: uppercase;
    color: $charcoal;
  }

  tr {
    border-bottom: 1px solid $smoke;
  }

  tr:nth-of-type(even) {
    background: #fff;
  }

  td {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
