// Header showing status for page content
.status-header {
  position: relative;
  padding: 1rem;
  margin-bottom: 2rem;
  
  @media #{$small-only} {
    margin-left: -($column-gutter/2);
    margin-right: -($column-gutter/2);
    padding-left: $column-gutter/2;
    padding-right: $column-gutter/2;
  }
  
  p {
    @include responsive-text-size('base');
    color: $steel;
  }

  // Status colors 
  &.status--other {
    .status-header_group {
      border-color: $alert;
    }

    .status-header_title {
      border-color: $alert;
    }
  }

  &.status--closed {
    .status-header_group {
      border-color: $steel;
    }

    .status-header_title {
      border-color: $steel;
    }
  }
}

.status-header_icon {
  @include absolute(50%,null,null,1rem);
  @include translateY(-50%);
  display: none;

  @media #{$medium-up} {
    display: block;
  }
}

.status-header_group {
  @media #{$medium-up} {
    border-left: 3px solid $success;
    margin-left: 3rem;
    padding-left: 1rem;
  }
}

.status-header_title {
  @include responsive-text-size('base');
  @include type-weight(black);
  font-family: $alt-font-family;
  letter-spacing: $small-header-spacing;
  margin-bottom: .5rem;
  text-transform: uppercase;

  @media #{$small-only} {
    @include clearfix;
    border-bottom: 3px solid $success;
    display: inline-block;
    padding-bottom: .5rem;
  }

  &.gamma {
    @include responsive-text-size('gamma');
  }
}
