.stats-grid {
  width: 100%;

  th {
    @include responsive-text-size('quark');
    text-transform: uppercase;
    color: $charcoal;
  }

  tr {
    border-bottom: 1px solid $smoke;
  }

  tr:nth-of-type(even) {
    background: #fff;
  }

  td {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}