//
// Sub nav
// Simple local navigation

.sub-nav {
  padding-bottom: rem-calc(4);

  dt, dd, li {
    a {
      color: $charcoal;

      &.disabled {
        color: $steel;
        cursor: default;
        pointer-events: none;
      }

      &:focus,
      &:hover {
        color: $oil;
      }
    }
  }

  dt, dd, li {
    margin-left: rem-calc(10);
  }
}

.application-form_nav {
  dd {
    @media #{$small-only} {
      margin-left: rem-calc(8);

      a {
        padding-left: rem-calc(2);
        padding-right: rem-calc(2);
      }
    }
  }
}