
table {
  thead {
    tr {
      th {
        border-bottom: 1px solid $primary;
        text-transform: uppercase;
      }
    }
  }
}


//
// Result set
// List psuedo table

.result-set {
  width: 100%;
  overflow: hidden;
  
  li {
    overflow: hidden;
    padding: .5rem;
    border-bottom: 1px solid $smoke;
    position: relative;
    width: 100%;

    .right {
      display: inline-block;
      width: 50%;
    }
  }
}


// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

.table-flex {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  
  @media #{$small-only} { 
    width: 100%;
  }

  tr {
    &:nth-of-type(even) {
      @media #{$small-only} {
        background: transparent;
      }  
    }
  }

  
  th {
    @media #{$small-only} { 
      @include sr-only(); // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
    }
  }
  
  td {
    display: block;

    @media #{$small-only} {
      padding-top: .5rem;
      padding-bottom: .5rem;
      text-align: right;

      &:first-child {
        padding-top: 1rem;
      }

      &:last-child {
        padding-bottom: 1rem;
      }

      &:nth-of-type(odd) {
        background-color: $dust;
      }

      &.tr {
        @include responsive-text-size('base');
        background: transparent;
        color: $oil;
        font-family: $alt-font-family;
        letter-spacing: .2rem;
        margin-bottom: 1rem;
        text-align: left;
        text-transform: uppercase;

        &:before {
          display: none;
        }
      }

      .h-small {
        border-bottom: 3px solid $primary;
        padding-bottom: .5rem;
      }
    }

    &:before {
      content: attr(data-th)""; // who knew you could do this? The internet, that's who.
      color: $oil;
      float: left;
      font-family: $alt-font-family;
      font-weight: 700;
      text-align: left;

      // optional stuff to make it look nicer
      width: 8.5rem; // magic number :( adjust according to your own content
      display: block;
      // end options
      
      @media #{$small-only} {
        @include responsive-text-size('tiny');
        text-transform: uppercase;
        letter-spacing: .2rem;
      }  

      @media #{$medium-up} {
        display: none;
      }
    }
  }
  
  th, td {
    
    @media #{$medium-up} {
      display: table-cell;
      
      &:first-child {
        
      }
      
      &:last-child {
        
      }
    }
  }
}
