.result-set {
  width: 100%;
  overflow: hidden;
  
  li {
    overflow: hidden;
    padding: .5rem;
    border-bottom: 1px solid $smoke;
    position: relative;
    width: 100%;

    .right {
      display: inline-block;
      width: 50%;
    }
  }
}