$color: #282828;
$size: 10px;

.timeline {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;

  ul {
    color: $color;
    list-style-type: none;
    position: relative;
    padding: 25px 0 25px 10px;
    font-size: 18px;
    margin: 0;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -4.5px;
      bottom: 0;
      border-left: 1px solid #ccc;
      height: 100%;
    }

    li {
      margin: 15px 0 35px 10px;
      position: relative;
      display: block;
      &:last-child {
        margin-bottom: 0px;
      }
      
      p {
        margin: 0 0 15px 0;
      }

      .eyebrow {
        display: table;
        color: white;
        background-color: $color;
        font-size: 9px;
        padding: 4px 7px;
        font-family: arial;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 8px;
        position: relative;
        top: 3.5px;
        outline: 2px solid white;
        z-index: 0;
        max-width: 300px;
        line-height: 1.2;

        &:before {
          content: "";
          position: absolute;
          left: -20px;
          border-bottom: 1px solid #ccc;
          width: 20px;
          top: 9px;
          z-index: -1;
        } 
      }

      &:before {
        content: "";
        display: block;
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: white;
        border: 1px solid rgba($color, 0.5);
        position: absolute;
        z-index: 2;
        left: -30px;
        outline: 2px solid white;
        top: 7.5px; 
      }
    }
  }
}