.toggler {
  cursor: pointer;

  .ui-control {
    @include absolute(1rem,1rem,null,null);
  }

  &.active {
    .ui-control {
      transform: rotate(180deg);
    }
  }
}

.toggler,
.has-toggle,
.has-toggle--details {
  position: relative;
}
