//
// Toggler
// Simple toggle element used to show/hide

.toggler {
  cursor: pointer;

  .ui-control {
    top: .5rem !important;
  }

  &.active {
    .ui-control {
      transform: rotate(180deg);
      top: .75rem;
    }
  }
}

.toggler,
.has-toggle,
.has-toggle--details {
  position: relative;
}

.toggle-box {
  padding: .75rem 1rem;
}

.toggle-box {
  border-bottom: 1px solid $primary;
}

.toggle-box_label {
  @include responsive-text-size('tiny');
  @include type-weight(normal);
  color: $steel;

  strong {
    @include responsive-text-size('tiny');
    @include type-weight(bold);
    color: $oil;
    text-transform: uppercase;
  }
}