//
// Tooltip helpers

.p-relative {
  position: relative;

  .has-tip {
    &.tip-top-right {
      @include absolute(0,0,null,null);
    }
  }
}

.small-info {
  display: inline-block;

  @media #{$medium-up} {
    display: none;
  }  
}
