//
// Toolbars

// Search results details
.results-bar {
  .results-wrap {
    @media #{$medium-up} {
      display: table;
    }
  }

  .button-set {
    float: left;
    margin-left: 0;
    padding-top: 1rem;

    @media #{$medium-up} {
      float: none;
      padding-left: 1.5rem;
      padding-top: 0;
      display: table-cell;
      vertical-align: middle;
      height: 100%;
    }
  }

  button, .button {
    margin-right: .25rem;
    margin-bottom: 0;
  }
}
