//
// Toolbars

// Search results details
.results-bar {
  button, .button {
    margin-bottom: 0;
    margin-top: .5rem;

    @media #{$medium-up} {
      margin-left: 1rem;
      margin-top: 0;
    }  
  }
}

// .property-bar {
//   background: $deep;
//   color: #fff;
//   padding-top: .75rem;
//   padding-bottom: .75rem;
// }