//
// Toolbars

// Search results details
.results-bar {
  .button-set {
    margin-left: 0;
    margin-top: 1rem;

    @media #{$medium-up} {
      margin-left: 1.5rem;
      margin-top: .5rem;
    }
  }

  button, .button {
    margin-right: .25rem;
    margin-bottom: 0;
  }
}

// .property-bar {
//   background: $deep;
//   color: #fff;
//   padding-top: .75rem;
//   padding-bottom: .75rem;
// }
