{{> headers.translate-bar links="true"}}
{{> headers.version-bar }}
{{> navigation.top-bar--translation }}

{{> headers.splash-header }}

<section class="splash-message">
  <div class="splash-message_panel row">
    <div class="medium-8 columns">
      <p class="t-small c-charcoal">Currently this site includes only Below Market Rate rentals, a program that includes units priced to be affordable to lower or middle income households. We encourage you to browse other affordable housing resources.</p>
    </div>
    <div class="medium-4 columns small-only-text-center">
      <a href="/pages/additional-opportunities.html" class="button radius ghost-white no-margin expand">Additional Opportunities</a>
    </div>
  </div>
</section>

<section class="splash-wells row collapse">
  <div class="medium-6 columns">
    {{> blocks.block-icon size="tall" icon="icon-home.png" description="Tell us your household size and income and we'll highlight properties that might be a fit." action="Estimate Eligibility" classes="welcome-block"}}
  </div>

  <div class="medium-6 columns">
    {{> blocks.block-icon size="tall" icon="icon-mail.png" description="Get emailed whenever a new listing is posted." action="Sign Up Today" classes="welcome-block"}}
  </div>
</section>

{{> footer }}