{{> headers.translate-bar}}
{{> headers.version-bar }}
{{> navigation.top-bar }}

<section class="splash-header bg-image">
  <div class="row">
    {{> hero-header }}
  </div>
</section>  

<section class="splash-message">
  <div class="splash-message_panel row">
    <div class="medium-8 columns">
      <p class="t-tiny c-charcoal">Currently this site includes only Below Market Rate rentals, a program that includes units priced to be affordable to lower or middle income households. We encourage you to browse other affordable housing resources.</p>
    </div>
    <div class="medium-4 columns small-only-text-center">
      <a href="/pages/additional-opportunities.html" class="button radius ghost-white no-margin expand">Additional Opportunities</a>
    </div>
  </div>
</section>

<section class="splash-wells row collapse">
  <div class="medium-6 columns">
    {{> blocks.block-icon size="tall" icon="icon-home.png" description="Tell us your household size and income and we'll highlight properties that might be a fit." action="Estimate Eligibility" classes="welcome-block"}}
  </div>

  <div class="medium-6 columns">
    {{> blocks.block-icon size="tall" icon="icon-mail.png" description="Get emailed whenever a new listing is posted." action="Sign Up Today" classes="welcome-block"}}
  </div>
</section>


<div pageslide="" ps-open="checked" class="ng-isolate-scope ng-pageslide" style="z-index: 1000; position: fixed; width: 300px; height: 100%; overflow: hidden; transition-duration: 0.5s; transition-property: width, height; top: 0px; bottom: 0px; right: 0px;">
  {{> pageslide-demo }}
</div>
