{{> @version-bar }}
{{> navigation.top-bar }}

{{> @lead-header title="Housing Counselor Resources" description="Talk with a local housing counselor specific to your needs." background="dark" color="white" classes="bg-gradient"}}

<section class="row">
  <div class="medium-8 columns">
    <header class="margin-top--2x">
      <h2 class="h-caps-lined">Featured Resources</h2>
    </header>
    <ul class="resources-list block-list">

    {{#each resources.locations}}
      <li class="block-item">
        <h3 class="t-delta t-sans margin-bottom--half"><a href="#" class="a-oil">{{name}}</a></h3>
        <!-- Should not show language services label if no lanugages -->
        {{#if languages}}
        <p class="t-tiny c-steel">Language Services: 
          {{#each languages}}
            <span class="label radius secondary">{{.}}</span> 
          {{/each}}
        </p>
        {{/if}}
        <div class="has-icon-left d-block">
          {{> icons.base icon="map" }}
          
          <p class="offset-icon margin-bottom--half">
            {{address}}, <br>
            {{citystate}}
          </p>
        </div>    
        <p>
          <a href="{{phone}}" class="button-on-small">
            {{> icons.base icon="phone" }}

            Call {{phone}}
          </a>
          <a href="{{website}}" class="button-on-small">
            {{> icons.base icon="link" }}

            Visit Website
          </a>
        </p>
      </li>
    {{/each}}

    </ul>
  </div>
</section>

<section class="row collapse margin-top--2x margin-bottom--2x">
  <div class="medium-12 columns bg-dust">
    {{> blocks.block-icon size="tall" icon="icon-mail.png" description="Get emailed whenever a new listing is posted." action="Sign Up Today"}}
  </div>
</section>

{{> footer}}