{{> headers.version-bar }}
{{> navigation.top-bar }}

{{> headers.lead-header title="Share this Listing" description="Send a link to a housing counselor, family member or friend." background="image" color="white" classes="bg-gradient"}}

<section class="section-full">
  <div class="row margin-top--2x show-for-medium-up"></div>
  <div class="row margin-bottom">
    <div class="medium-6 medium-centered columns">
    
      <form class="form-card">
        <div data-alert class="alert-box success">
          <span class="alert-icon">
            <span class="ui-icon ui-medium">
              <svg>
                <use xlink:href="#i-check" />
              </svg>
            </span> </span>
          <p class="alert-body">
            You copied this listing. Go ahead and share it by pasting into an email or text message.
          </p>
          <a href="#" class="close">&times;</a>
        </div>
      </a>
      
      <!-- Alpha share widget -->
      <div id="panel2a" class="content">
        <form class="no-margin">
          <header class="padding text-center"><h2 class="t-base t-alt-sans t-caps t-black">Copy URL to Share</h2></header>

          <div class="form-group text-center">
            <label class="sr-only" for="link">Get Listing</label>
            <input type="text" placeholder="Link" name="link"/>
            {{> @button text="Copy Link" class="secondary small"}}
          </div> 
        </div>
      </form>
    </div>
  </div>
</section>

{{> footer}}