---
layout: center
title: Application
---

{{> @translate-bar }}
{{> @version-bar }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> app-header }}
      <form class="app-card form-card">

        <div class="app-inner leader border-bottom">
          <div class="form-back"><a href="#" class="lined">Back</a></div>
          <h2 class="app-card_question">Who would you’d like us to contact if we can’t get ahold of you?</h2>
        </div>

        <div data-alert class="alert-box alert invert has-notice">
          <span class="alert-icon">
            {{> icons.base icon="warning"}}
          </span>
          <p class="alert-body">
            Since you are not able to provide some of the required contact information, we’ll need you to provide alternate contact information.
          </p>
          <a href="#" class="close">&times;</a>
        </div>

        <div class="alert-notice alert">
          <p class="alert-notice_title">Required Information</p>
          <p class="alert-notice_item">Your Phone or Alternate Phone</p>
          <p class="alert-notice_item">Your Address or Alternate Address</p>
        </div>

        <div class="app-inner inset">
          <div class="form-group error">
            <label class="form-label caps">Alternate contact</label>
            <p class="form-note margin-bottom">Please select one.</p>
              <div class="radio-group error">
              <p class="radio-block">
                <input type="radio" name="contacts" value="contacts-family" id="contacts-family" class="error">
                <label class="radio-block_label" for="contacts-family">
                  Family member
                </label>
              </p>
              <p class="radio-block">
                <input type="radio" name="contacts" value="contacts-friend" id="contacts-friend" class="error">
                <label class="radio-block_label" for="contacts-friend">
                  Friend
                </label>
              </p>
              <p class="radio-block">
                <input type="radio" name="contacts" value="contacts-social" id="contacts-social" class="error">
                <label class="radio-block_label" for="contacts-social">
                  Social worker or housing counselor
                </label>
              </p>
            </div>
            <small class="error">Please select a alternate contact type</small>
          </div>
        </div>

        {{> @button-pager left="Next" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}
      </form>
    </div>
  </div>
</section>

{{> footer}}
