---
layout: center
title: Application
---

{{> headers.translate-bar }}
{{> headers.version-bar }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">

      <div class="app-language">
        {{> navigation.lined-nav }}
      </div>

      {{> app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question">We’ll get started by getting some information about you. First, what’s your name?</h2>
        </div>

        <div class="app-inner inset">
          <div class="form-group">
            <h3 class="form-label caps">Your Name</h3>
            {{> forms.text-input--base placeholder="First Name" label="First Name"}}
            {{> forms.text-input--base placeholder="Middle Name (optional)" label="Middle Name (optional)"}}
            {{> forms.text-input--base placeholder="Last Name" label="Last Name"}}
          </div>

          <div class="form-group">
            <h3 class="form-label caps">Your Date of Birth</h3>
            {{> forms.input-dob}}
          </div>
        </div>

<!--         {{> forms.alert-box text="These fields are editable via your account settings" status="primary" classes="no-icon"}} -->

<!--         <div class="app-inner inset">
          <div class="form-group">
            <h3 class="form-label caps">Your Name {{> icons.base icon="lock" fill="primary"}}</h3>
            {{> forms.text-input--base placeholder="First Name" label="First Name" readonly="readonly"}}
            {{> forms.text-input--base placeholder="Middle Name (optional)" label="Middle Name (optional)" readonly="readonly"}}
            {{> forms.text-input--base placeholder="Last Name" label="Last Name" readonly="readonly"}}
          </div>

          <div class="form-group">
            <h3 class="form-label caps">Your Date of Birth {{> icons.base icon="lock" fill="primary"}}</h3>
            {{> forms.input-dob readonly="readonly"}}
          </div>
        </div> -->

        {{> buttons.button-pager left="Next" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}

      </form>
    </div>
  </div>
</section>

{{> footer}}
