---
layout: center
title: Application
---

{{> headers.translate-bar }}
{{> headers.version-bar }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <div class="form-back"><a href="#" class="lined">Back</a></div>
          <h2 class="app-card_question">Next, we’ll get some info about any people who would live with you in the unit.</h2>
        </div>

        <div class="app-inner inset border-bottom">
          <div class="form-group">
            {{> @button text="I will live by myself" classes="expand tall"}}
            {{> @button text="Other people will live with me" classes="expand tall"}}
          </div>
        </div>

        <div class="button-pager">
          <div class="button-pager_row">
            {{> @button text="Save and finish later" classes="button-link button-lined small-text-center"}}
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{{> footer}}
