---
layout: center
title: Application
---

{{> @translate-bar }}
{{> @version-bar }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question">Tell us about your household.</h2>
        </div>

        <div class="app-inner short">
        <div class="form-group">
          {{> text.info-item classes="border-bottom tall"}}
          <div class="text-center padding--2x">
            {{> @link-icon text="Add household member" icon="plus" fill="deep" scale="medium" classes="no-margin"}}
          </div>
        </div>
        </div>

        {{> @button-pager left="Done Adding People" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}
      </form>
    </div>
  </div>
</section>

{{> footer}}
