---
layout: center
title: Center
---

{{> headers.translate-bar }}
{{> headers.version-bar }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question">Take a moment to review your information before submitting your application.</h2>
        </div>

        {{#each application.sections-general}}
        <header class="app-sub-header border-top">
          <h3 class="app-sub-header_title">{{header}}</h3>
          <a class="info-item_link edit-link hide-for-print" href="#">Edit</a>
        </header>

        <div class="app-inner">
          {{#each info-items}}
          <div class="info-item margin-bottom">
            <h4 class="info-item_value margin-bottom">{{name}}</h4>
            <p class="info-item_name{{#if is-sentence }} sentence{{/if }}">{{{value}}}</p>
            {{#if note }}
            <span class="info-item_note">{{note}}</span>
            {{/if }}
            {{#if secondary }}
            <span class="info-item_note t-bold">{{secondary}}</span>
            {{/if }}
          </div>
          {{#if divider }}
            <div class="border-top info-item_divider"></div>
          {{/if }}
          {{/each}}
        </div>
        {{/each}}

        <div class="padding--2x text-center hide-for-print">
          <a class="t-small lined" href="#">Print a copy for your records</a>
        </div>

        {{> buttons.button-pager left="Confirm" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}
      </form>

    </div>
  </div>
</section>

{{> footer}}
