---
layout: center
title: Application
---

{{> headers.version-bar }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question">Thanks for applying. We're processing your application for 123 Main St.</h2>
        </div>

        <figure class="full-figure">
          <img class="property-card_thumb" src="/assets/toolkit/images/property5.jpg" alt="Listing Name:listing.Building_Name,
              Address:formattedAddress" role="link" >
        </figure>

        <div class="app-inner inset border-bottom">
          <div class="form-group text-center">
            <h3 class="form-label caps">Here's your lottery number</h3>
            <p class="beta t-serif margin-bottom--half">#98AU18</p>
            <p class="form-note">Please write down your lottery number and keep it in a safe place. We have also emailed this number to you if you provided an email address.</p>
          </div>
        </div>

        <div class="app-inner inset border-bottom">
          <div class="form-group">
            <h3 class="form-label caps">What to expect next</h3>
            <p class="form-note margin-bottom">The lottery will be held on July 21st. You do not need to attend the housing lottery. Results will be posted on <a href="#">the listing</a>. Please refer to the listing for the lottery results date.

            <p class="form-note">Applicants will be contacted by the leasing agent in lottery rank order until vacancies are filled. Should your application be chosen, be prepared to fill out a more detailed application and provide required supporting documents.</p>
          </div>
        </div>

<!--         <div class="app-inner inset border-bottom">
          <div class="form-group">
            <h3 class="form-label caps">Do not submit another application</h3>
            <p class="form-note margin-bottom">You cannot make changes to the information on this application. If you submit another application, both will be removed from the lottery. Contact the leasing agent if you have any questions or did not receive an email confirmation.</p>
            <p class="form-note">Kevin, Cooley<br>
            San Francisco Commuunity Land Trust<br>
            (415 399-0943</p>
          </div>
        </div> -->

        <div class="app-inner inset border-bottom">
          <div class="form-group">
            <h3 class="form-label caps">Do not submit another application</h3>
            <p class="form-note margin-bottom">You cannot make changes to the information on this application. If you submit another application, both will be removed from the lottery. Contact the leasing agent if you have any questions.</p>
            <p class="form-note">Kevin, Cooley<br>
            San Francisco Commuunity Land Trust<br>
            (415 399-0943</p>
          </div>
        </div>

        <div class="app-inner inset">
          <div class="form-group">
            <h3 class="form-label caps">Would you like to create an account?</h3>
            <p class="form-note">Creating an account will save your information, and allow you to check the status of this application at any time.</p>
          </div>
        </div>

        {{> @button-pager left="Create an Account" l-classes="primary" right="No thanks, I'm done" r-classes="button-link button-lined small-text-center expand-small"}}

        <div class="padding--2x text-center border-top">
          <a class="t-small lined" href="#">Print a copy of your application for your records</a>
        </div>

      </form>
    </div>
  </div>
</section>

{{> footer}}
