---
layout: center
title: Application
---

{{> @translate-bar chinese="true" }}
{{> @version-bar }}
{{> @top-bar }}

<section class="app-container t-zh">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">

      {{> app-header items=menus.shortform-zh}}

      <form class="app-card form-card">
        <div class="app-inner leader border-bottom">
          <h2 class="app-card_question t-ch">我們將開始獲取一些關於您的信息。首先，你叫什麼名字</h2>
        </div>

<!--         {{> forms.alert-box text="These fields are editable via your account settings" status="primary" classes="no-icon"}} -->

        <div class="app-inner inset">
          <div class="form-group error">
            <h3 class="form-label caps">你的名字</h3>
            {{> forms.text-input--base placeholder="名字" label="First Name" classes="error"}}
            <small class="error">請用英文提供你的答案</small>
            {{> forms.text-input--base placeholder="中間名字 (可選的)" label="中間名字 (可選的)"}}
            {{> forms.text-input--base placeholder="姓" label="姓"}}
          </div>

          <div class="form-group">
            <h3 class="form-label caps">您的出生日期</h3>
            {{> forms.input-dob month="" day="" year=""}}
          </div>
        </div>

        {{> forms.link-pager left="下一個" l-classes="primary" right="保存並稍後完成" r-classes="button-link button-lined small-text-center expand-small"}}

      </form>
    </div>
  </div>
</section>

{{> footer}}
