---
layout: center
title: Application
---

{{> headers.version-bar }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> app-header }}

      <form class="app-card form-card">
        <div class="app-inner leader">
          <div class="form-back"><a href="#" class="lined">Back</a></div>
          <h2 class="app-card_question">You're almost done!</h2>
        </div>

        <div class="button-pager">
          <div class="button-pager_row primary">
            {{> @button text="Continue without an account" classes="no-margin primary" }}
          </div>
        </div>

        <div class="app-inner inset">
          <h2 class="app-card_question">Already have an account?</h2>
          <div class="form-group text-center">
            <p class="form-note">Signing in will save your information to your existing account.</p>
          </div>

          <div class="form-group">
            <h3 class="form-label caps">Email {{> icons.base icon="lock" fill="primary"}}</h3>
            {{> forms.text-input--base placeholder="example@web.com" label="Email address" type="email" readonly="readonly"}}
          </div>

          <div class="form-group">
            <h3 class="form-label caps">Password</h3>
            {{> forms.text-input--base placeholder="Must be 6 characters" label="password"}}
            <small class="form-note shift-up margin-bottom-none"><a href="#">Forgot Password?</a></small>
          </div>

          <div class="form-group text-center">
            <p class="t-small c-steel padding-top no-margin">{{> @button text="Sign In" classes="no-margin" }}</p>
          </div>
        </div>

<!--         <div class="app-inner inset text-center border-top">
          <h2 class="app-card_question">Don't have an account?</h2>
          <div class="form-group">
            <p class="form-note margin-bottom--2x">Creating an account will save the information on this applicant, and allow you to check the status of this application at any time.</p>
          </div>

          <p class="t-small c-steel no-margin">{{> @button text="Create Account" classes="no-margin" }}</p>
        </div> -->

      </form>
    </div>
  </div>
</section>

{{> footer}}