---
layout: center
title: Application
---

{{> headers.translate-bar }}
{{> headers.version-bar }}
{{> navigation.top-bar }}

<section class="app-container">
  <div class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      {{> app-header }}

      <form class="app-card form-card">

        <div class="app-inner leader border-bottom">
          <div class="form-back"><a href="#" class="lined">Back</a></div>
          <h2 class="app-card_question">Thanks, Lara. Now we need to know how to contact you about your application.</h2>

          <div class="form-group text-center">
            <p class="t-small c-steel">We'll need at least one way to contact you after the application deadline.</p>
         </div>
        </div>

        {{> forms.alert-box classes="invert no-margin" icon="warning" text="You'll need to resolve any errors before moving on."}}

        <div class="alert-notice alert">
          <p class="alert-notice_title">Please provide one of the following ways to contact you:</p>
          <p class="alert-notice_item">Your Phone Number</p>
          <p class="alert-notice_item">Your Email Address</p>
          <p class="alert-notice_item">Your Address</p>
        </div>

        <div class="app-inner inset border-bottom">
          <div class="form-group has-option error">
            {{> forms.input-tel label="caps" classes="error"}}
            <small class="error">Please enter phone number</small>

            <div class="form-item padding-bottom">
              {{> forms.checkbox text="I don't have a telephone number" checked=true}}
            </div>
          </div>
        </div>

        <div class="app-inner inset border-bottom">
          <div class="form-group has-option error">
            <label class="form-label caps">Your email address</label>
            <p class="form-note margin-bottom">We will only use your email address to contact you about your application.</p>
            {{> forms.input-email visibility="sr-only" classes="error"}}
            <small class="error">Please enter email address</small>

            <div class="form-item">
              {{> forms.checkbox text="I don't have an email address" checked=true }}
            </div>
          </div>
        </div>

        <div class="app-inner inset border-bottom">
          <div class="form-group row has-option error">
            <label class="form-label caps">Your address</label>
            <p class="form-note margin-bottom">Ideally this is an address where we can send updates about your application.</p>
            <div class="form-address row expand">
              <div class="form-group-street form-item large-12 columns error">
                  <label for="address" class="sr-only">Address</label>
                  <input type="text" name="address" placeholder="Street Address" class="error" />
                  <small class="error">Please enter a street address</small>
              </div>

              <div class="form-group-apt form-item large-12 columns">
                <label for="address2" class="sr-only">Address 2</label>
                <input type="text" name="address2" placeholder="Apt or Unit #" class=""/>
              </div>

              <div class="form-group-city form-item small-7 columns error">
                <label for="city" class="sr-only">City</label>
                <input type="text" name="city" placeholder="City Name" class="error"/>
                <small class="error">Please enter a city</small>
              </div>

              <div class="form-group-state form-item small-5 columns error">
                <label for="state" class="sr-only">State</label>
                {{> forms.select name="state" classes="error" placeholder="Select" options=inputs.states}}
              </div>

              <div class="form-group-zip form-item small-12 columns error">
                <label for="zip" class="sr-only">Zip</label>
                <input type="text" name="zip" placeholder="Zip Code" class="error"/>
                <small class="error">Please enter a zip</small>
              </div>
            </div>

            <div class="form-item padding-bottom">
              {{> forms.checkbox text="I don't have an address" checked=true }}
            </div>

            <div class="form-item">
              {{> forms.checkbox text="I have a seperate mailing address" }}
            </div>
          </div>
        </div>

        <div class="app-inner inset border-bottom">
          <div class="form-group">
            <label class="form-label caps">What is your primary language?</label>
            {{> forms.select}}
          </div>
        </div>

        <div class="app-inner inset">
          <div class="form-group">
            <label class="form-label caps">Do you work in San Francisco?</label>
            <p class="form-note margin-bottom">This means you work in San Francisco at least 75% of your working hours.</p>
            {{> forms.radio-group--inline items=inputs.yesno classes="double"}}
          </div>
        </div>

        {{> @button-pager left="Next" l-classes="primary" right="Save and finish later" r-classes="button-link button-lined small-text-center expand-small"}}

      </form>

    </div>
  </div>
</section>

{{> footer}}
