<!doctype html>
<!--[if IE 9 ]> <html class="ie9" lang="en"> <![endif]-->
<!--[if !(IE 9)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Preview Layout</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="/toolkit/styles/toolkit.css" />
    <link rel="stylesheet" href="/toolkit/styles/preview.css" />
</head>
<body ng-app="dahlia" id="ng-app" ng-controller="SharedController" class="{{_target.class}}">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N4J8N2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N4J8N2');</script>
    <!-- End Google Tag Manager -->

    {{> @icons }}
    <div class="dahlia-patterns">
        {{{ yield }}}
    </div>

    <script src="/toolkit/scripts/toolkit.js"></script>
</body>
</html>
