<div>
  <div class="padding-bottom">
    <div class="status-pill is-processing">
      Pill Text
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-processing">
      Pill
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-processing">
      Pill with long name
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-processing">
      processing
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-processing">
      processing
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-approved">
      approved
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-disqualified">
      disqualified
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-appealed">
      appealed
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-withdrawn">
      withdrawn
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-leased">
      leased
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-waitlisted">
      waitlisted
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill is-no-status">
      No Status
    </div>
  </div>
</div>