<div>
  <div class="padding-bottom">
    <div class="status-pill-processing">
      <div class="pill-text">Pill Text</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-processing">
      <div class="pill-text">Pill</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-processing">
      <div class="pill-text">Pill with long name</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-processing">
      <div class="pill-text">processing</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-processing">
      <div class="pill-text">processing</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-approved">
      <div class="pill-text">approved</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-disqualified">
      <div class="pill-text">disqualified</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-appealed">
      <div class="pill-text">appealed</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-withdrawn">
      <div class="pill-text">withdrawn</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-leased">
      <div class="pill-text">leased</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-waitlisted">
      <div class="pill-text">waitlisted</div>
    </div>
  </div>
  <div class="padding-bottom">
    <div class="status-pill-no-status">
      <div class="pill-text">No Status</div>
    </div>
  </div>
</div>