{{> headers.version-header }}
{{> navigation.top-bar }}

<nav class="border-bottom">
  <div class="row">
  {{> navigation.local-nav}}
  </div>
</nav>

<div class="dash-container">
  <section class="row collapse">
    <div class="medium-8 medium-centered columns">
      <main class="dash-feed">
        <header class="dash-header text-center">
          <h2 class="dash-title t-gamma no-margin">My Applications</h2>
        </header>

        {{> components.card }}
        {{> components.card }}
      </main>
    </div>
  </section>
</div>

{{> components.footer}}