{{> headers.version-header }}
{{> navigation.top-bar }}

<nav class="border-bottom">
  <div class="row">
  {{> navigation.local-nav}}
  </div>
</nav>

<div class="dash-container">
  <section class="row">
    <div class="medium-6 medium-centered columns">
      <main class="dash-card">
          <header class="dash-header text-center">
            <h1 class="dash-title no-margin">Account Settings</h1>
          </header>

          <div class="dash-card-inner border-bottom">
            <div class="form-group">
              <h2 class="form-label">Update Email Address</h2>
              {{> forms.text-input--base placeholder="example@web.com" label="Email address" type="email"}}
              <p class="text-center padding-top">
                {{> buttons.button classes="small no-margin" text="Update profile"}}
              </p>
            </div>
          </div>

          <div class="dash-card-inner border-bottom">
            <div class="form-group">
              <h2 class="form-label">Change Password</h2>
              <p class="small">When changing your password make sure you make note of it so you remember it in the future.</p>
              <p class="text-center padding-top">
                {{> buttons.button classes="small secondary no-margin" text="Change your password"}}
              </p>
            </div>
          </div>

          <div class="dash-card-inner border-bottom">
            <div class="form-group">
              <h2 class="form-label">Delete Account</h2>
              <p class="small">Deleting your account will mean losing all previously saved favorites and settings.</p>
              <p class="text-center padding-top">
                {{> buttons.button classes="small alert no-margin" text="Delete your account"}}
              </p>
          </div>
        </div>
      </main>
    </div>
  </section>
</div>

{{> components.footer}}