---
layout: center
title: Center
---

{{> headers.version-header }}
{{> navigation.top-bar--account }}

<div class="dash-container tall">
  <section class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      <form class="dash-card">
        <header class="dash-header">
          <span class="header-badge">
            {{> icons.base icon="settings" }}
          </span>
          <h1 class="dash-title no-margin">Sign In</h1>
        </header>

        <div class="dash-card-inner inset border-bottom">
          <div class="form-group">
            <h3 class="form-label caps">Email Address</h3>
            {{> forms.text-input--base placeholder="example@web.com" label="Email address" type="email"}}
          </div>

          <div class="form-group">
            <h3 class="form-label caps">Password</h3>
            {{> forms.text-input--base placeholder="Must be 6 characters" label="password"}}
            <small class="form-note shift-up"><a href="#">Forgot Password?</a></small>
          </div>
          
          <div class="form-group">
            <p class="t-small c-steel text-center padding-top no-margin">{{> buttons.button text="Sign In" classes="no-margin primary" }}</p>
          </div>
        </div>

        <footer class="dash-header">
          <h2 class="dash-title">Don't have an account?</h2>
          <p class="t-small c-steel">{{> buttons.button text="Create Account" classes="no-margin" }}</p>
        </footer>
      </form>
    </div>
  </section>    
</div>

{{> components.footer }}