---
layout: dashboard
title: Dashboard
---

{{> headers.version-header }}
{{> navigation.top-bar }}

<div class="dash-container tall">
  <section class="row collapse">
    <div class="medium-6 medium-centered columns">
      <div class="back-link-container small-only-text-center">
      <a href="#" class="back-link">{{> icons.base icon="left" size="small" fill="primary"}} Continue with Application</a>
      </div>
      <form class="dash-card">
        <header class="dash-header">
          <span class="header-badge">
            {{> icons.base icon="settings" }}
          </span>
          <h1 class="dash-title"">Create an Account</h1>
          <p class="dash-summary">You'll use this information to log in to your account, so make sure you can remember it.</p>
        </header>

        {{> forms.alert-box}}

        <div class="dash-card-inner inset border-bottom">
          <div class="form-group padding-bottom--2x">
            <h2 class="form-label caps">Your Name</h2>
            {{> forms.text-input--base placeholder="First Name" label="Email address" type="text"}}
            {{> forms.text-input--base placeholder="Middle Name (optional)" label="Middle Name (optional)" type="text"}}
            {{> forms.text-input--base placeholder="Last Name" label="Last Name" type="text"}}
          </div>

          <div class="form-group">
            <h2 class="form-label caps">Your Date of Birth</h2>
            {{> forms.input-dob}}
          </div>
        </div>

        <div class="dash-card-inner inset border-bottom">
          <div class="form-group">
            <h3 class="form-label caps">Email Address</h3>
            {{> forms.text-input--base placeholder="example@web.com" label="Email address" type="email"}}
            {{> forms.text-input placeholder="example@web.com" label="Re-enter email address" type="email" classes="label-secondary"}}
          </div>
        </div>
        <div class="dash-card-inner inset border-bottom">
          <div class="form-group">
            <h3 class="form-label caps">Password</h3>
            <p class="form-note margin-bottom">Must be at least 8 characters and include 1 numeric character.</p>

            {{> forms.text-input--base placeholder="Must be 8 characters" label="password"}}
            {{> forms.text-input placeholder="Must be 8 characters" label="Re-enter your password to confirm" classes="label-secondary"}}
          </div>

          <div class="form-group">
            <p class="t-small c-steel text-center padding-top">{{> buttons.button text="Create Account" classes="primary no-margin" }}</p>
          </div>
        </div>

        <footer class="dash-header">
          <h2 class="dash-title t-gamma">Already have an account?</h2>
          <p class="t-small c-steel">{{> buttons.button text="Sign In" classes="no-margin" }}</p>
        </footer>
      </form>
    </div>
  </section>    
</div>

{{> components.footer}}