{{> headers.version-header }}
{{> navigation.top-bar }}
{{> headers.lead-header title="My Account" background="oil" color="white"}}
  
<section class="row">
  <div class="dash-section">
    <div class="dash-block">
      <a href="#" class="dash-item">
        <h3 class="dash-name">My Favorites</h3>
        <p>See properties you favorited in the past</p>
      </a>
    </div>

    <div class="dash-block">
      <a href="#" class="dash-item">
        <h3 class="dash-name">My Lotteries</h3>
        <p>See lottery dates and listings for properties for which you've applied</p>
      </a>
    </div>

    <div class="dash-block">
      <a href="#" class="dash-item">
        <h3 class="dash-name">Eligibility Settings</h3>
        <p>Quickly search based on eligibility filters</p>
      </a>
    </div>

    <div class="dash-block">
      <a href="#" class="dash-item">
        <h3 class="dash-name">Settings</h3>
        <p>Account settings, email and password</p>
      </a>
    </div>
  </div>
</section>

{{> components.footer}}