---
layout: center
title: Accounts
---

{{> headers.translate-bar }}
{{> headers.version-bar }}
{{> navigation.top-bar--account }}

<nav class="local-nav-container border-bottom">
  <div class="row collapse">
  {{> navigation.local-nav}}
  </div>
</nav>

<div class="dash-container">
  <section class="row collapse">
    <div class="medium-8 medium-centered columns fixed-width">
      <main class="dash-card">
        <header class="dash-header text-center">
          <span class="header-badge">
            {{> icons.base icon="application" }}
          </span>
          <h1 class="dash-title no-margin">My Applications</h1>
        </header>

        <div class="block--short bg-dust dash-footer">
          <h2 class="t-delta t-serif c-oil">It looks like you haven’t applied to any listings yet.</h1>

          <a href="#" class="button ghost-white">See Listings</a>
      </div>
      </main>
    </div>
  </section>
</div>

{{> footer}}