---
layout: dashboard
title: Dashboard
---

{{> headers.version-header }}
{{> navigation.top-bar }}

<nav class="local-nav-container border-bottom">
  <div class="row collapse">
  {{> navigation.local-nav}}
  </div>
</nav>

<div class="dash-container">
  <section class="row collapse">
    <div class="medium-8 medium-centered columns">
      <main class="dash-card">
        <header class="dash-header text-center">
          <h1 class="dash-title no-margin">My Applications</h1>
        </header>

        {{> components.feed-item }}
        {{> components.feed-item state="submitted" }}
      </main>
    </div>
  </section>
</div>

{{> components.footer}}