{{> headers.version-header }}
{{> navigation.top-bar }}

<nav class="border-bottom">
  <div class="row">
  {{> navigation.local-nav}}
  </div>
</nav>

<div class="dash-container">
  <section class="row collapse">
    <div class="medium-12 columns">
      <main class="dash-feed">
        <header class="dash-header text-center">
          <h2 class="dash-title t-gamma no-margin">My Favorites</h2>
        </header>

        <div class="dash-feed-inner expand border-bottom">
          {{> property-card--fave classes="nested"}}
        </div>

        <div class="dash-feed-inner expand border-bottom">
          {{> property-card--fave classes="nested"}}
        </div>
      </main>
    </div>
  </section>    
</div>

{{> components.footer}}