{{> headers.version-header }}
{{> navigation.top-bar }}
{{> headers.lead-header title="My Account" background="dark" color="white" classes="bg-gradient"}}

<nav class="border-bottom">
  <div class="row">
  {{> navigation.local-nav}}
  </div>
</nav>

<section class="row">

  <div class="medium-8 medium-centered columns margin-top--2x margin-bottom--2x">
    <main class="dash-main">
      <div class="form-card">
        <div class="card-inner">
          <h2>Edit Profile</h2>

          <div class="slat padding-top-none">
          <div class="form-group max-width">
            <h3 class="form-label">Update Email Address</h3>
            {{> forms.text-input--base placeholder="example@web.com" label="Email address" type="email"}}

            {{> buttons.button classes="small no-margin" text="Update profile"}}
          </div>
          </div>

          <div class="slat">
          <div class="form-group">
            <h3 class="form-label">Change Password</h3>
            <p class="small">When changing your password make sure you make note of it so you remember it in the future.</p>
            {{> buttons.button classes="small secondary no-margin" text="Change your password"}}
          </div>
          </div>

          <div class="slat">
          <div class="form-group max-width">
            <h3 class="form-label">Delete Account</h3>
            <p class="small">Deleting your account will mean losing all previously saved favorites and settings.</p>
            {{> buttons.button classes="small alert no-margin" text="Delete your account"}}
          </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>

{{> components.footer}}