{{> headers.version-header }}
{{> navigation.top-bar }}

<div class="dash-container tall">
  <section class="row collapse">
    <div class="medium-6 medium-centered columns">
      <form class="dash-feed">
        <header class="dash-header">
          <h1 class="dash-title t-beta no-margin">Sign In</h1>
        </header>

        <div class="dash-feed-inner border-bottom">
          <div class="form-group">
            <h3 class="form-label">Email Address</h3>
            {{> forms.text-input--base placeholder="example@web.com" label="Email address" type="email"}}
          </div>

          <div class="form-group">
            <h3 class="form-label">Password</h3>
            {{> forms.text-input--base placeholder="Must be 6 characters" label="password"}}
            <small class="form-note shift-up"><a href="#">Forgot Password?</a></small>
          </div>
          
          <div class="form-group">
            <p class="t-small c-steel text-center padding-top">{{> buttons.button text="Sign In" classes="no-margin primary" }}</p>
          </div>
        </div>

        <header class="dash-header">
          <h2 class="dash-title t-gamma">Don't have an account?</h2>
          <p class="t-small c-steel">{{> buttons.button text="Create Account" classes="no-margin" }}</p>
        </header>
      </form>
    </div>
  </section>    
</div>

{{> components.footer }}