{{> headers.version-header }}
{{> navigation.top-bar }}
{{> headers.accounts-header}}

<section class="row">
  <div class="dash-aside medium-4 columns">
    <ul class="side-nav">
      <li><a href="#">My Favorites</a></li>
      <li><a href="#">Eligibility Matches</a></li>
      <li><a href="#">My Lotteries</a></li>
      <li><a href="#">Document Checklist</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
  </div>

  <div class="dash-feed medium-8 columns">
    <div class="lottery-card">
      <section class="lottery-details">
        <hgroup class="card-address">
          <h3 class="card-title">Potrero 1010</h3>
          <p>1010 16th Street</p>
        </hgroup>
      
        <p class="card-units">Studio: 22 units, 1 Bedroom: 33 units 2 Bedroom: 38 units</p>
        
        <p class="card-number">Your lottery number is #98AU18</p>
        
        <div class="card-notice">
          <ul class="notice-timeline">
            <li class="timeline-icon">
              {{> icons.base icon="map" }}
              <span class="timeline-label">Applications Open</span>
            </li>
            <li class="timeline-icon">
              {{> icons.base icon="map" }}
              <span class="timeline-label">Applications Close</span>
            </li>
            <li class="timeline-icon">
              {{> icons.base icon="map" }}
              <span class="timeline-label">Public Lottery</span>
            </li>
            <li class="timeline-icon">
              {{> icons.base icon="map" }}
              <span class="timeline-label">Lottery Results</span>
            </li>
            <li class="timeline-icon">
              {{> icons.base icon="map" }}
              <span class="timeline-label">Units Filled</span>
            </li>
          </ul>
          <div class="notice-status">
            <span class="notice-icon">
              {{> icons.base icon="map" }}
            </span>
            <p class="notice-label">Status: Applications Closed</p>
            <p>Public lottery will be held on February 14, 2016.</p>
          </div>
        </div>

        <div class="card-footer">
          <a href="#" class="card-more left">Hide Lottery Status</a>
          <span class="card-date right show-for-medium">Updated: January 12th 2016</span>
        </div>  
      </section>

      <section class="event-feed">
        <ul class="event-list has-icon">
          <li class="event-item push">
            <span class="event-icon">
              {{> icons.base icon="map" }}
            </span>

            <p class="event-title">Public Lottery February 14, 2016 <br> 
            8:00pm</p>
            <a href="#" class="event-address">San Francisco LGBT Community Center <br> 
            1800 Market Street, <br>
            San Francisco</a>
            <p class="event-note">Attendance is optional and welcome.</p>

            <ul class="event-details">
              <li>A total of 6000 applications were received for 90 units.</li>
              <li>Lottery results will be posted January 21, 2016.</li>
            </ul>
          </li>

          <li class="event-item push">
            <span class="event-icon">
              {{> icons.base icon="map" }}
            </span>

            <p class="event-title">Public Lottery February 14, 2016 <br> 
            8:00pm</p>
            <a href="#" class="event-address">San Francisco LGBT Community Center <br> 
            1800 Market Street, <br>
            San Francisco</a>
            <p class="event-note">Attendance is optional and welcome.</p>

            <ul class="event-details">
              <li>A total of 6000 applications were received for 90 units.</li>
              <li>Lottery results will be posted January 21, 2016.</li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>    

{{> components.footer}}