---
layout: center
title: Account Settings
---

{{> @translate-bar links="true"}}
{{> @version-bar }}
{{> @top-bar--account }}

<nav class="local-nav-container border-bottom">
  <div class="row">
  {{> @local-nav}}
  </div>
</nav>

<div class="dash-container">
  <section class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">
      <main class="dash-card">
          <header class="dash-header text-center">
            <span class="header-badge">
              {{> @icons-base icon="settings" }}
            </span>
            <h1 class="dash-title no-margin">Account Settings</h1>
          </header>

          <div class="dash-card-inner full bg-dust border-bottom">
            <div class="form-group">
              <h2 class="form-label caps">Email Address</h2>
              {{> forms.text-input--base placeholder="example@web.com" label="Email address" type="email"}}
              <p class="text-center padding-top">
                {{> @button classes="small no-margin" text="Update"}}
              </p>
            </div>
          </div>

          <div class="dash-card-inner inset border-bottom">
            <div class="form-group">
              <h2 class="form-label caps">Password</h2>
              <p class="t-small c-steel">When changing your password make sure you make note of it so you remember it in the future.</p>
              {{> forms.text-input--base placeholder="Old Password" label="Old Password" type="password"}}
              {{> forms.text-input--base placeholder="New Password" label="New Password" type="password"}}
              {{> forms.text-input--base placeholder="Confirm New Password" label="Confirm New Password" type="password"}}
              <p class="text-center padding-top">
                {{> @button classes="small secondary no-margin" text="Update"}}
              </p>
            </div>
          </div>

          <div class="dash-card-inner inset border-bottom">
            <div class="form-group padding-bottom--2x">
              <h2 class="form-label caps">Your Name</h2>
              {{> forms.text-input--base placeholder="First Name" label="Email address" type="text"}}
              {{> forms.text-input--base placeholder="Middle Name (optional)" label="Middle Name (optional)" type="text"}}
              {{> forms.text-input--base placeholder="Last Name" label="Last Name" type="text"}}
            </div>

            <div class="form-group">
              <h2 class="form-label caps">Your Date of Birth</h2>
              {{> forms.input-dob}}
            </div>

            <div class="form-group">
              <p class="text-center padding-top">
                {{> @button classes="small secondary no-margin" text="Update"}}
              </p>
            </div>
          </div>

          <div class="dash-card-inner inset border-bottom">
            <div class="form-group">
              <h2 class="form-label caps">Deactivate Account</h2>
              <p class="t-small c-steel">Deactivating your account will mean losing all previously saved favorites and settings.</p>
              <p class="text-center padding-top">
                {{> @button classes="small alert no-margin" text="Deactivate"}}
              </p>
          </div>
        </div>
      </main>
    </div>
  </section>
</div>

{{> footer}}