---
layout: center
title: My Favorites
---

{{> @translate-bar}}
{{> @version-bar }}
{{> @top-bar--account }}

<nav class="local-nav-container border-bottom">
  <div class="row">
  {{> @local-nav}}
  </div>
</nav>

<div class="dash-container">
  <section class="row collapse">
    <div class="medium-12 columns">
      <main class="dash-card">
        <header class="dash-header text-center">
          <span class="header-badge">
            {{> @icons-base icon="favorite" }}
          </span>
          <h1 class="dash-title no-margin">My Favorites</h1>
        </header>

        <div class="dash-card-inner expand border-bottom">
          {{> property-card state="fave" classes="nested"}}
        </div>

        <div class="dash-card-inner expand border-bottom">
          {{> property-card state="fave" classes="nested"}}
        </div>
      </main>
    </div>
  </section>    
</div>

{{> footer}}