---
layout: center
title: Create an Account
---

{{> @translate-bar}}
{{> @version-bar }}
{{> @top-bar--account }}

<div class="dash-container tall">
  <section class="row collapse">
    <div class="medium-6 medium-centered columns fixed-width">

      <form class="dash-card">
        <header class="dash-header">
          <span class="header-badge">
            {{> @icons-base icon="profile" }}
          </span>
          <h1 class="dash-title no-margin">There are two draft applications in progress for this listing.</h1>
        </header>

        {{> @alert-box status="alert" classes="invert no-margin" text="Please choose which version of the application you want to use." icon="warning"}}

        <div class="alert-notice alert">
          <p class="alert-notice_title">Any primary contact information on your application will be overwritten by your current account settings.</p>
        </div>

        <div class="dash-card-inner inset">
          <div class="form-group margin-bottom--2x">
            <h3 class="form-label caps">Application Options:</h3>
            <p class="form-note margin-bottom">Please select one</p>
            
            <div class="form-item margin-bottom--2x">
              <div class="radio-block">
                <input name="duplicate_draft" value="duplicate_draft_recent" id="duplicate_draft_recent" type="radio">
                <label class="radio-block_label" for="duplicate_draft_recent">
                  <p class="form-label">Recent Application:</p>
                  <p class="margin-bottom-none t-base">James Duvall<br>
                  1001 17th Street, 1001 17th Street</p>
                  <p class="t-small t-normal">Edited: July 11th 2016</p>
                </label>
              </div>
            </div>

            <div class="form-item">
              <div class="radio-block">
                <input name="duplicate_draft" value="duplicate_draft_original"  id="duplicate_draft_original" type="radio">
                <label class="radio-block_label" for="duplicate_draft_original">
                  <p class="form-label">Original Application:</p>
                  <p class="margin-bottom-none t-base">Jane Dunbar<br>
                  1001 17th Street, 1001 17th Street</p>
                  <p class="t-small t-normal">Edited: June 20th 2016</p>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <p class="t-small c-steel text-center padding-top">{{> @button text="Next" classes="primary no-margin" }}</p>
          </div>
        </div>
      </form>
    </div>
  </section>    
</div>

{{> footer}}