{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.lead-header title="Application: 123 Main St" background="dark" color="white" classes="bg-gradient"}}

<div class="row margin-top--2x show-for-medium-up"></div>

<section class="row">
  <div class="medium-8 medium-centered columns">
    <form class="application-form form-card has-nav">
      {{> navigation.sub-nav--application}}

    <!-- content -->
    {{#compare content '==' 'review' }}
      {{> content-application--review }}      
    {{else compare content '==' 'programs' }}
      {{> content-application--programs }}      
    {{else }}
      {{> content-application--review }}      
    {{/compare}}

    </form>

    {{> forms.button-stack--paginate left="Save and finish later" l-classes="button-link button-lined small-text-center expand-small" right="Submit" r-classes="primary right expand-small"}}
  </div>
</section>    

{{> components.footer}}