<div ng-controller="AccordionSampleController">
  <accordion close-others="oneAtATime" class="page-accordion">
     
    {{#compare applications_closed '==' false }}
    <accordion-group class="medium-right-column">
      <accordion-heading>
        <img class="accordion-icon" src="/assets/toolkit/images/listing-units.svg" alt="neighborhood-building">
        <h3 class="accordion-name">Process</h3>
        <span class="accordion-subheader">Important dates and contact information</span>
        {{> icons.base icon="arrow-down" size="small" position="control"}}
      </accordion-heading>
    {{else }}
    <accordion-group class="medium-right-column medium-accordion_open">
      <accordion-heading>
        <img class="accordion-icon" src="/assets/toolkit/images/listing-units.svg" alt="listing-home">
        <h3 class="accordion-name">Results</h3>
        <span class="accordion-subheader">Lottery selection, important dates and contact</span>
        {{> icons.base icon="arrow-down" size="small" position="control"}}
      </accordion-heading>
    {{/compare}}

    {{#compare state '==' 'pre-results' }}
      {{> content-section--pre-results}}
    {{else compare state '==' 'pre-lottery' }}
      {{> content-section--pre-lottery}}
    {{else compare state '==' 'post-results' }}
      {{> content-section--lottery}}
    {{else compare state '==' 'post-results-modal' }}
      {{> content-section--lottery-modal}}
    {{else compare state '==' 'open-nopickup' }}
      {{> content-section--process-nopickup}}
    {{else }}
      {{> content-section--process}}
    {{/compare}}

    </accordion-group>

    {{> includes.eligibility}}

    {{> includes.features}}

    {{> includes.neighborhood}}

    {{> includes.additional-information}}

  </accordion>
</div>
