<div ng-controller="AccordionSampleController">
  <accordion close-others="oneAtATime" class="page-accordion">
    <accordion-group class="medium-right-column"> 
      <accordion-heading>
        <img class="accordion-icon" src="/assets/toolkit/images/listing-units.svg" alt="neighborhood-building">
        <h3 class="accordion-name">Process</h3>
        <span class="accordion-subheader">Important dates and contact information</span>
        {{> icons.base icon="arrow-down" size="small" position="control"}}
      </accordion-heading>

      {{> content-section--process}}
    </accordion-group>

    {{> includes.eligibility}}

    {{> includes.features}}

    {{> includes.neighborhood}}

    {{> includes.additional-information}}

  </accordion>
</div>
