<ul class="accordion-nested accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a-a" class="accordion-header">
      Property Selection Criteria
      {{> icons.icon-arrow}}
    </a>
    <div id="panel1a-a" class="content">
      <p>Certificate of Preference holders are primarily households displaced by Agency action in Redevelopment Project Areas during the 1960’s and 1970's, but may also include other persons displaced by Agency action.</p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel1a-b" class="accordion-header">
      Required Documents
      {{> icons.icon-arrow}}
    </a>
    <div id="panel1a-b" class="content">
      <p>Ellis Act Housing Preference holders are primarily households displaced by Ellis Act evictions as defined by The Ellis Act Displacement Emergency Assistance Ordinance passed into law on December 18, 2013.</p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel1a-c" class="accordion-header">
      Legal Disclaimers
      {{> icons.icon-arrow}}
    </a>
    <div id="panel1a-c" class="content">
      <p>Households that live or work in San Francisco will be given third highest preference in the lottery ranking process.</p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel1a-d" class="accordion-header">
      Smoking Policy
      {{> icons.icon-arrow}}
    </a>
    <div id="panel1a-d" class="content">
      <p>Households that live or work in San Francisco will be given third highest preference in the lottery ranking process.</p>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel1a-e" class="accordion-header">
      Pets Policy
      {{> icons.icon-arrow}}
    </a>
    <div id="panel1a-e" class="content">
      <p>Households that live or work in San Francisco will be given third highest preference in the lottery ranking process.</p>
    </div>
  </li>
</ul>