<article class="card">
  <section class="card-details">
    <hgroup class="card-address">
      <h3 class="card-title">Potrero 1010</h3>
      <p>1010 16th Street</p>
    </hgroup>
  
    <p class="card-units">Studio: 22 units, 1 Bedroom: 33 units 2 Bedroom: 38 units</p>
    
    <p class="card-number">Your lottery number is #98AU18</p>

    <footer class="card-footer">
      <a href="#" class="card-more left">{{> icons.base icon="arrow-down" size="tiny" fill="primary" position="link"}} Hide Lottery Status</a>
      <span class="card-date right show-for-medium">Updated: January 12th 2016</span>
    </footer>  
  </section>
</article>