<article class="card">
  <section class="card-details">
    <hgroup class="card-address">
      <h3 class="card-title">Potrero 1010</h3>
      <p>1010 16th Street</p>
    </hgroup>
  
    <p class="card-units">Studio: 22 units, 1 Bedroom: 33 units 2 Bedroom: 38 units</p>
    <p class="card-number">Status: In Progress</p>
    <p class="card-date top-right">Updated: January 12th 2016</p>

    <footer class="card-footer">
      <a href="#" class="card-link">Continue Application</a>
      <a href="#" class="card-link">See Listing</a>
      <a href="#" class="card-link a-alert right no-margin">Delete</a>
    </footer>  
  </section>
</article>