<div class="content-group has-divider">
  <h2 class="h-caps-lined">How to Apply</h2>
  <h3 class="content-group_title">Pickup and turn in application</h3>
  <p class="content-group_address no-margin">Caritas Management Corporation<br>
  1358 Valencia St,<br> San Francisco, CA 94102</p>
  <a href="#" class="a-deep t-small d-block margin-bottom">
    {{> icons.base icon="map" fill="primary"}}
    View Map
  </a>

  <p class="content-group_hours">
    <span class="content-group_title">Office Hours</span>
    <span class="content-group_time">8:30am&ndash;5:00pm</span>
  </p>

  <div class="option-divider"><span class="or">or</span></div>
</div>