<div class="content-card">
  <header class="content-card_ordered">
  <span class="content-card_number">{{{default number '1 <sup>st</sup>'}}}</span>
  <h4 class="content-card_title no-margin">{{default name 'Certificate of Preference'}}</h4>
  <p class="c-steel">{{default subtitle 'Up to 11 units available'}}</p>
  </header>
  <p class="c-steel">{{default description 'Certificate of Preference holders are primarily households displaced by Agency action in Redevelopment Project Areas during the 1960s and 1970s, but may also include other persons displaced by Agency action.'}}
  {{#if more}}<br><a href="#">Read More</a>{{/if}}
  </p>
</div>