<ul class="event-list has-icon">
  <li class="event-item">
    <span class="event-icon">
      {{> icons.base icon="map" }}
    </span>

    <p class="event-title">Public Lottery February 14, 2016 <br> 
    8:00pm</p>
    <a href="#" class="event-address">San Francisco LGBT Community Center <br> 
    1800 Market Street, <br>
    San Francisco</a>
    <p class="event-note">Attendance is optional and welcome.</p>

    <ul class="event-details">
      <li>A total of 6000 applications were received for 90 units.</li>
      <li>Lottery results will be posted January 21, 2016.</li>
    </ul>
  </li>

  <li class="event-item has-past">
    <span class="event-icon">
      {{> icons.base icon="map" }}
    </span>

    <p class="event-title">Application period closed December 23, 2015.</p>
  </li>
</ul>
