<footer class="bg-charcoal padding-top--2x padding-bottom--2x">
  <div class="row">
    <div class="medium-2 columns">
      <img src="/assets/toolkit/images/logo-city.png" class="margin-bottom--2x">
    </div>
    <div class="medium-6 columns end">
      <p class="c-smoke">The San Francisco Housing Portal is a project of the Mayor's Office of Housing and Community Development.</p>
    </div>
  </div>  
  <div class="row">
    <div class="medium-6 columns">
      <span class="c-smoke">© City & County of San Francisco</span>
    </div>
    <div class="medium-6 columns">
      <ul class="inline-list right">
        <li>
          <a href="#" class="a-smoke">Give Feedback</a>
        </li>
        <li>
          <a href="#" class="a-smoke">Terms of use</a>
        </li>
        <li>
          <a href="#" class="a-smoke">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>