<footer class="footer-section bg-tuatara padding-top--2x">
  <div class="row text-center padding-bottom--2x">
    <div class="medium-12 columns">
      <img src="/assets/toolkit/images/logo-city.png" class="city-logo margin-bottom--2x" alt="City & County of San Francisco Logo">
    </div>
    <div class="medium-8 medium-centered columns">
      <p class="c-iron margin-bottom--2x">The San Francisco Housing Portal is a project of the <br>
        <a href="#" class="a-white">Mayor's Office of Housing and Community Development</a>
      </p>

      <p class="c-iron t-small">For listing and application questions, please contact the Leasing Agent displayed on the listing. <br> For general program inquiries, you may call MOHCD at (415) 701-5560.</p>
    </div>
  </div>
  <section class="sock bg-ebony padding-top--2x padding-bottom">
    <div class="row">
      <div class="medium-6 columns small-only-text-center">
        <span class="c-aluminum">© City & County of San Francisco</span>
      </div>
      <div class="medium-6 columns small-only-text-center">
        <ul class="inline-list">
          <li>
            <a href="#" class="a-aluminum">Give Feedback</a>
          </li>
          <li>
            <a href="mailto:" class="a-aluminum">Contact</a>
          </li>
          <li>
            <a href="/pages/disclaimer.html" class="a-aluminum">Disclaimer</a>
          </li>
          <li>
            <a href="/pages/privacy-policy.html" class="a-aluminum">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>