<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">

  <section class="results-container row collapse">
    <div class="medium-6 medium-push-6 columns">
      <hgroup class="padding--2x">
        <span class="t-small t-bold">Lottery results for</span>
        <h2 id="modalTitle">Potrero 1010</h1>
        <ul class="t-small margin-bottom">
          <li>Studio 20 units</li>
          <li>1 Bedroom 20 units</li>
          <li>2 Bedrooms 20 units</li>
        </ul>  
        <p class="t-small t-bold">A total of 900 tickets were drawn in this lottery.</p>
      </hgroup>
    </div>

    <div class="medium-6 medium-pull-6 columns">
      <div class="overflow-panel">
        <header class="overflow-panel_header">
          <span class="header left small-6">Rank</span>
          <span class="header right small-6">Ticket</span>
        </header>
        <div class="overflow-panel_scroll">
          <ul class="result-set margin-bottom">
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
            <li>
              1 
              <span class="right">843219</span>
            </li>
          </ul>
        </div>
      </div>  
    </div>  
  </section>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>

</div>