<h3 class="h-caps-lined">Get Assistance</h3>

<ul class="photo-blocks small-block-grid-1 medium-block-grid-3">
  <li>
    <div class="photo-block">
      <figure></figure>
      <h4 class="photo-block_title">Language Services</h4>
    </div>  
  </li>
  <li>
    <div class="photo-block">
      <figure></figure> 
      <h4 class="photo-block_title">Housing Counselor</h4>
    </div>
  </li>
  <li>
    <div class="photo-block">
      <figure></figure>
      <h4 class="photo-block_title">Additional Opportunites</h4>
    </div>
  </li>
</ul>