<dl class="accordion-plus-minus accordion trigger-right" data-accordion>
  <dd class="accordion-navigation">
    <a href="#panel1a-b" class="accordion-header">
      Asian
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel1a-b" class="content">
      <p>Ellis Act Housing Preference holders are primarily households displaced by Ellis Act evictions as defined by The Ellis Act Displacement Emergency Assistance Ordinance passed into law on December 18, 2013.</p>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel1a-c" class="accordion-header">
      Black
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel1a-c" class="content">
      <p>Households that live or work in San Francisco will be given third highest preference in the lottery ranking process.</p>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel1a-d" class="accordion-header">
      Indigenous
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel1a-d" class="content">
      <p>Households that live or work in San Francisco will be given third highest preference in the lottery ranking process.</p>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel1a-e" class="accordion-header">
      Latino
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel1a-e" class="content">
      <p>Households that live or work in San Francisco will be given third highest preference in the lottery ranking process.</p>
    </div>
  </dd>
</dl>
