{{#*inline "accordionheader"}}
<div class="accordion-header-pricing" draggable="false">
  <div class="accordion-header-title">
    <div class="pricing-accordion-header--mobile">
      <span class="pricing-accordion-header-number--mobile">
        {{num}}
      </span>
      {{householdtext}}
      <div class="pricing-header-spacer">

      </div>
    </div>
  </div>
  {{> @icon-plus-minus active="{{active}}" }}
</div>
{{/inline}}

{{#*inline "closedaccordionnav"}}
  <dd class="accordion-navigation">
    {{> accordionheader
      num=num
      householdtext=householdtext
      availableunits=availableunits
      incomerange=incomerange
      active=active
    }}
    <div class="content">
      <div role="group"></div>
    </div>
  </dd>
{{/inline}}

{{#*inline "tablesubheader"}}
<tr class="mobile-table-row">
  <th id="{{id}}" class="ami-subheader--mobile" colspan="3" scope="col">
    {{amiName}}
    <div class="ami-border" />
  </th>
</tr>

{{/inline}}

{{#*inline "tablerow"}}
<tr class="mobile-table-row unit-row">
  <th headers="{{subheaderid}}" id="{{rowid}}">
    {{apttype}}
  </th>
  <td>
    {{numavailable}}
    <span class="cell-subtitle">available</span>
  </td>
</tr>
<tr class="mobile-table-row indented-row">
  <th headers="{{subheaderid}}">
    Income
  </th>
  <td >
    <div   role="text">
      {{incomerange}}
      <span class="cell-subtitle">per month</span>
    </div>
  </td>
</tr>
<tr class="mobile-table-row indented-row">
  <th  headers="{{subheaderid}}">
    Rent
  </th>
  <td >
    <div role="text">
      {{rent}}
      <span class="cell-subtitle">per month</span>
    </div>
  </td>
</tr>
{{/inline}}

<dl class="accordion-plus-minus pricing-accordion accordion trigger-right" data-accordion>
  {{> closedaccordionnav
    num="1"
    householdtext="in household"
    incomerange="$X,XXX - $X,XXX"
    active="false"
  }}
  <dd class="accordion-navigation active">
    {{> accordionheader
      num="2"
      householdtext="in household"
      incomerange="$X,XXX - $X,XXX"
      active="true"
    }}
    <div id="panel-1-b" class="content no-padding">
      <table class="accordion-pricing-table--mobile padding-bottom" aria-label="Pricing table for 2 in household">
        {{> tablesubheader id="lowIncome" amiName="30% AMI" }}
        {{> tablerow
          subheaderid="lowIncome"
          rowid="lowIncomeStudio"
          apttype="Studio"
          numavailable=1
          incomerange="$3,400 - $5,338"
          rent = "$1,700"
        }}
        {{> tablerow
          subheaderid="lowIncome"
          rowid="lowIncome1BR"
          apttype="1BR"
          numavailable=2
          incomerange="$4,000 - $5,338"
          rent = "$2,000"
        }}
        {{> tablesubheader id="moderateIncome" amiName="50% AMI" }}
        {{> tablerow
          subheaderid="moderateIncome"
          rowid="moderateIncomeStudio"
          apttype="Studio"
          numavailable=1
          incomerange="$4,400 - $6,338"
          rent = "$1,800"
        }}
        {{> tablerow
          subheaderid="moderateIncome"
          rowid="moderateIncome1BR"
          apttype="1BR"
          numavailable=5
          incomerange="$5,000 - $6,338"
          rent = "$2,100"
        }}
      </table>
    </div>
  </dd>
  {{> closedaccordionnav
    num="3"
    householdtext="in household"
    incomerange="$X,XXX - $X,XXX"
    active="false"
  }}

  {{> closedaccordionnav
    num="4"
    householdtext="in household"
    incomerange="$X,XXX - $X,XXX"
    active="false"
  }}
  {{> closedaccordionnav
    num="5+"
    householdtext="in household"
    incomerange="$X,XXX - $X,XXX"
    active="false"
  }}
</dl>
