<dl class="accordion-plus-minus accordion trigger-right" data-accordion>
  <dd class="accordion-navigation">
    <a href="#panel-1-a" class="accordion-header" draggable="false">
      Accordion Selection 1
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel-1-a" class="content">
      <div class="checkbox-group" role="group">
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-a-opt-1" id="panel-1-a-opt-1">
            <label for="panel-1-a-opt-1">
              Option 1
            </label>
        </div>
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-a-opt-2" id="panel-1-a-opt-2">
            <label for="panel-1-a-opt-2">
              Option 2
            </label>
        </div>
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-a-opt-3" id="panel-1-a-opt-3">
            <label for="panel-1-a-opt-3">
              Option 3
            </label>
        </div>
      </div>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel-1-b" class="accordion-header" draggable="false">
      Accordion Selection 2
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel-1-b" class="content">
      <div class="checkbox-group" role="group">
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-b-opt-1" id="panel-1-b-opt-1">
            <label for="panel-1-b-opt-1">
              Option 1
            </label>
        </div>
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-b-opt-2" id="panel-1-b-opt-2">
            <label for="panel-1-b-opt-2">
              Option 2
            </label>
        </div>
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-b-opt-3" id="panel-1-b-opt-3">
            <label for="panel-1-b-opt-3">
              Option 3
            </label>
        </div>
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-b-opt-4" id="panel-1-b-opt-4">
            <label for="panel-1-b-opt-4">
              Option 4
            </label>
        </div>
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-b-opt-5" id="panel-1-b-opt-5">
            <label for="panel-1-b-opt-5">
              Option 5
            </label>
        </div>
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-b-opt-6" id="panel-1-b-opt-6">
            <label for="panel-1-b-opt-6">
              Option 6
            </label>
        </div>
      </div>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel-1-c" class="accordion-header" draggable="false">
      Accordion Selection 3
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel-1-c" class="content">
      <div class="checkbox-group" role="group">
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-c-opt-1" id="panel-1-c-opt-1">
            <label for="panel-1-c-opt-1">
              Option 1
            </label>
        </div>
      </div>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel-1-d" class="accordion-header" draggable="false">
      Accordion Selection 4
      <span class="ui-icon ui-{{default position 'static'}} ui-{{ default size 'medium'}} i-{{default fill 'color'}} {{default classes ''}}">
        <svg class="ui-check">
          <use xlink:href="#i-check"></use>
        </svg>
      </span>
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel-1-d" class="content">
      <div class="checkbox-group" role="group">
        <div class="checkbox-block-accordion">
            <input type="checkbox" name="preferences" value="panel-1-d-opt-1" id="panel-1-d-opt-1">
            <label for="panel-1-d-opt-1">
              Option 1
            </label>
        </div>
      </div>
    </div>
  </dd>
</dl>
