<dl class="accordion-plus-minus accordion trigger-right" data-accordion>
  <dd class="accordion-navigation">
    <a href="#panel1a-a" class="accordion-header">
      Asian
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel1a-a" class="content">
      <div class="checkbox-group margin-bottom--2x" role="group">
        <div class="checkbox-block">
            <input type="checkbox" name="preferences" value="preferences-displaced" id="preferences-displaced">
            <label class="checkbox-block_label" for="preferences-displaced">
              Chinese
            </label>
        </div>
        <div class="checkbox-block">
            <input type="checkbox" name="preferences" value="preferences-cop" id="preferences-cop">
            <label class="checkbox-block_label" for="preferences-cop">
              Japanese
            </label>
        </div>
      </div>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel1a-b" class="accordion-header">
      Asian
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel1a-b" class="content">
      <div class="checkbox-group margin-bottom--2x" role="group">
        <div class="checkbox-block">
            <input type="checkbox" name="preferences" value="preferences-displaced" id="preferences-displaced">
            <label class="checkbox-block_label" for="preferences-displaced">
              Chinese
            </label>
        </div>
        <div class="checkbox-block">
            <input type="checkbox" name="preferences" value="preferences-cop" id="preferences-cop">
            <label class="checkbox-block_label" for="preferences-cop">
              Japanese
            </label>
        </div>
      </div>
    </div>
  </dd>
  <dd class="accordion-navigation">
    <a href="#panel1a-c" class="accordion-header">
      Asian
      {{> @icon-plus-minus active="false" position="control"}}
    </a>
    <div id="panel1a-c" class="content">
      <div class="checkbox-group margin-bottom--2x" role="group">
        <div class="checkbox-block">
            <input type="checkbox" name="preferences" value="preferences-displaced" id="preferences-displaced">
            <label class="checkbox-block_label" for="preferences-displaced">
              Chinese
            </label>
        </div>
        <div class="checkbox-block">
            <input type="checkbox" name="preferences" value="preferences-cop" id="preferences-cop">
            <label class="checkbox-block_label" for="preferences-cop">
              Japanese
            </label>
        </div>
      </div>
    </div>
  </dd>
</dl>
