<div class="accumulator-label">
  <p class="accumulator-title">You selected...</p>
  <p class="accumulator-action">Clear All</p>
</div>
<ul class="accumulator">
  <li>
    Asian:Japanese
    {{> @icons-base icon="close" position="control"}}
  </li>
  <li>
    Asian:Chinese
    {{> @icons-base icon="close" position="control"}}
  </li>
</ul>

<div class="accumulator-label">
  <p class="accumulator-title">You selected...</p>
</div>
<ul class="accumulator">
  <li class="empty">
    None
  </li>
</ul>