<div class="accumulator-label">
  <p class="accumulator-title">You selected...</p>
  <p class="accumulator-action">Clear All</p>
</div>
<ul class="accumulator">
  <li>
    <div class="accumulator-item-text">
      Asian: Japanese
    </div>
    <span class="accumulator-x-icon">
      {{> @icons-base icon="close" position="control"}}
    </span>
  </li>
  <li>
    <div class="accumulator-item-text">
      Asian: Chinese
    </div>
    <span class="accumulator-x-icon">
      {{> @icons-base icon="close" position="control"}}
    </span>
  </li>
  <li>
    <div class="accumulator-item-text">
      White: Other (German)
    </div>
    <span class="accumulator-x-icon">
      {{> @icons-base icon="close" position="control"}}
    </span>
  </li>
  <li>
    <div class="accumulator-item-text">
      Accumulator key with long text: Even more long text (and free text too)
    </div>
    <span class="accumulator-x-icon">
      {{> @icons-base icon="close" position="control"}}
    </span>
  </li>
</ul>