<div class="row page-wrapper">
  <div class="small-12 columns fakeheader">
  </div>
  <div class="medium-12 large-8 columns page-content-column collapse">
    <div class="test-div"></div>
  </div>
  <div class="medium-12 large-4 columns sidebar-column collapse">
    <div class="sticky-sidebar-large-up">
      <div class="sidebar-content">
        <div class="status-history-buttons">
          <button class="primary save-button">Save</button>
          <button class="has-icon--right text-align-left is-processing tight-padding">
            <span class="ui-icon ui-small">
              <svg class="icon i-arrow-down">
                <use xlink:href="#i-arrow-down"></use>
              </svg>
            </span>
            Processing
          </button>
          <button class="tertiary tight-padding">
            Add a comment
          </button>
        </div>
        <h3 class="status-history-label">
          Status History
        </h3>
        <div class="status-items">
          <div class="status-item">
            <div class="status-item-header">
              <div class="status-pill-approved">
                <div class="pill-text">approved</div>
              </div>
              <div class="status-item-date">
                August 4, 2020
              </div>
            </div>
            <div class="status-item-text">
              Just approved the lease!
            </div>
          </div>
          <div class="status-item">
            <div class="status-item-header">
              <div class="status-pill-processing">
                <div class="pill-text">processing</div>
              </div>
              <div class="status-item-date">
                August 3, 2020
              </div>
            </div>
            <div class="status-item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum condimentum lorem consectetur eleifend.
            </div>
          </div>
          <div class="status-item">
            <div class="status-item-header">
              <div class="status-pill-no-status">
                <div class="pill-text">No status</div>
              </div>
              <div class="status-item-date">
                August 2, 2020
              </div>
            </div>
            <div class="status-item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum condimentum lorem consectetur eleifend.
            </div>
          </div>
          <div class="status-item">
            <div class="status-item-header">
              <div class="status-pill-no-status">
                <div class="pill-text">No status</div>
              </div>
              <div class="status-item-date">
                August 1, 2020
              </div>
            </div>
            <div class="status-item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum condimentum lorem consectetur eleifend.
            </div>
          </div>
        </div>
        <button class="button-link t-tiny padding-top">
          Show all status updates
        </button>
        <div class="padding-bottom--2x"></div>
      </div>
    </div>
  </div>
</div>