<div>
  <div class="status-history-buttons padding-bottom--2x">
    <button class="primary save-button">Save</button>
    <button class="has-icon--right text-align-left is-processing">
      <span class="ui-icon ui-small">
        <svg class="icon i-arrow-down">
          <use xlink:href="#i-arrow-down"></use>
        </svg>
      </span>
      Processing
    </button>
    <button class="tertiary">
      Add a comment
    </button>
  </div>
  <div>
    <h3 class="status-history-label">
      Status History
    </h3>
    <div class="status-item-container">
      <div class="status-item-header">
        <div class="status-pill-approved">
          <div class="pill-text">approved</div>
        </div>
        <div class="status-item-date">
          August 4, 2020
        </div>
      </div>
      <div class="status-item-text">
        Just approved the lease!
      </div>
    </div>
    <div class="status-item-container">
      <div class="status-item-header">
        <div class="status-pill-processing">
          <div class="pill-text">processing</div>
        </div>
        <div class="status-item-date">
          August 3, 2020
        </div>
      </div>
      <div class="status-item-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum condimentum lorem consectetur eleifend.
      </div>
    </div>
    <div class="status-item-container">
      <div class="status-item-header">
        <div class="status-pill-no-status">
          <div class="pill-text">No status</div>
        </div>
        <div class="status-item-date">
          August 2, 2020
        </div>
      </div>
      <div class="status-item-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum condimentum lorem consectetur eleifend.
      </div>
    </div>
  </div>
</div>