<div class="banner-bar bar bg-alert">
  <div class="row">
    <div class="medium-12 columns">
      <div class="a-icon-left">
        {{> @icons-base icon="warning" fill="white"}}
        <p class=" offset-icon t-small c-white">Alert text goes here. It would not be covered up by anything no matter how long the text gets! Make the text as long as you like and it will be fine! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at dapibus ante. Fusce aliquam dolor eros, id porta felis vulputate nec. Aliquam lacinia commodo tristique. Aenean magna ante, varius ut eleifend vel, condimentum quis dolor.</p>
      </div>
    </div>
  </div>
</div>