<header class="directory-header">
	<div class="row">
		<div class="directory-header_title medium-7 columns">
			<h1>Title</h1>
		</div>
		<div class="directory-header_cta medium-5 columns">
			<a class="button primary expand" href="#">Scroll to main content</a>
		</div>
	</div>
	<div class="row">
		<div class="directory-header_primary medium-7 columns">
			The most important content goes here
		</div>
		<div class="directory-header_secondary medium-5 columns">
			<div class="directory-header_sidebar">
				Less-important content goes here
			</div>
		</div>
	</div>
</header>