<header class="lead-header bg-gradient bg-image {{default classes 'bg-snow'}}">
  <div class="row full-width inner--3x">
    <div class="large-12 columns {{default max-width ''}}">
      <hgroup class="lead-header_group">
        <h1 class="lead-header_title small-serif c-white">{{default title 'Page Header'}}</h1>
        {{#if action}}
        <div class="medium-4 columns no-padding">
          <span class="lead-header_secondary-action"><a href="#" class="alt-caps">{{default action 'Export'}}</a></span>
        </div>
        {{/if}}
      </hgroup>
    </div>
  </div>
</header>