{{> headers.version-bar }}
{{> navigation.top-bar }}

{{> headers.lead-header title="Documents Checklist" description="The documents checklist outlines what your household will need if you would like to claim lottery preferences on the housing application." background="dark" color="white" classes="bg-gradient"}}

<section class="row">
  <div class="medium-8 columns">
    <article class="page-content">
      <div class="content-section">
        <p>Claiming a preference on your housing application is optional. Preferences qualify you for a higher ranking in the lottery.</p>
        <p>All documents must show the correct name and current address. All documents other than a lease must show a date within 45 days of your application.</p>
      </div>
      
      <hr class="tall">

      <div class="content-section">
        <h3>Live in Neighborhood, Live in San Francisco and Anti-Displacement Housing Preferences</h3>
        <p>You'll need 1 (one) of the showing with the address where you live in San Francisco:</p>

        <ul>
          <li>Telephone bill (land line only)</li>
          <li>Cable and internet bill</li>
          <li>Electric bill</li>
          <li>Gas bill</li>
          <li>Water bill</li>
          <li>Paystub with home address</li>
          <li>Public benefits record</li>
          <li>School record</li>
          <li>Letter documenting homelessness</li>
        </ul>
      </div>

      <hr class="tall">

      <div class="content-section">
        <h3>Work in San Francisco Preference</h3>
        <p>You'll need 1 (one) of the showing with the address where you work in San Francisco:</p>

        <ul>
          <li>Paystub with employer address</li>
          <li>Letter from employer</li>
        </ul>
      </div>

      <hr class="tall">

      <div class="content-section">
        <h3>Assisted Housing Preference</h3>
        <p>You'll need a Copy of Lease showing the address where you live. </p>
      </div>

      <hr class="tall">

      <div class="content-section">
        <h3>Rent Burdened Preference</h3>
        <p>You'll need a Copy of Lease showing the address where you live.</p>
        <p>You'll also need to show last months rent with 1 (one) of the following:</p>

        <ul>
          <li>Money order</li>
          <li>Cancelled check</li>
          <li>Debit from your bank account</li>
          <li>Screenshot of online payment</li>
        </ul>
      </div>
    </article>
  </div> 
</section>

<section class="row margin-bottom--2x">
  <div class="medium-12 columns">
    <div class="bg-dust">
      {{> blocks.block-icon size="tall" icon="icon-mail.png" description="Get emailed whenever a new listing is posted." action="Sign Up Today"}}
    </div>
  </div>
</section>

{{> footer}} 