// Customize foundation button group
.button-group {
  > li {
    margin: 0;

    > button,
    > .button {
      border-color: $primary;
      border-radius: 0;
      line-height: rem-calc(18);
    }

    &:first-child button, 
    &:first-child .button {
      border-left: 2px solid;
      border-right-width: 0;

      &:hover,
      &:focus {
       border-left-color: $primary;
      }
    }
  }
}

// Favorite share button group
.button-group--favorite {
  > li {
    > button,
    > .button {
      border-color: $smoke;
      color: $oil;
      width: 100%;

      &:hover,
      &:focus,
      &.active {
        background-color: $primary;
        border-color: $primary;
        color: #fff;
      }

      &.active {
        svg use {
          fill: #fff;
        }
      }    
    }

    &:first-child button, 
    &:first-child .button {
      border-left-color: $smoke;

      &:hover,
      &:focus {
       border-left-color: $primary;
      }
    }
  }
}  

.button-pager {
  text-align: center;

  button,
  .button {
    margin-bottom: 0;
  }  
}

.button-pager_row {
  padding: .5rem 2rem;
  
  @media #{$medium-up} {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  &.primary {
    padding: 2rem;
    background-color: $dust;
  }

  &.has-button-margins {
    @media #{$small-only} {
      padding-bottom: 1rem;
    }

    .button {
      @include scut-margin(0 .5rem);

      @media #{$small-only} {
        margin-bottom: 1rem;
      }
    }
  }
}

// Buttons stacked rather than inline
.button-stack {
  margin-bottom: 1rem;

  button,
  .button {
    margin: 0 auto .25rem;
    display: block;
    width: 100%;
  }
}
