<h2 class="table-pricing-ami">{{type}}</h2>
<div class="table-pricing-wrapper">
  <table class="table-pricing table-pricing-rent" role="grid">
    <thead>
      <tr>
        <th scope="col">Units</th>
        <th scope="col">Income Range</th>
        <th scope="col">Rent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1 <small>available</small>
        </td>
        <td>
          <table>
            <thead>
              <tr>
                <th scope="col">Household</th>
                <th scope="col">Minimum</th>
                <th scope="col">Maximum</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>$2,000 <small>per month</small></td>
                <td>$4,671 <small>per month</small></td>
              </tr>
              <tr>
                <td>2</td>
                <td>$2,000 <small>per month</small></td>
                <td>$5,338 <small>per month</small></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>$1,700 <small>per month</small></td>
      </tr>
    </tbody>
  </table>
</div>

<h2 class="table-pricing-ami">1BR</h2>
<div class="table-pricing-wrapper">
  <table class="table-pricing table-pricing-rent" role="grid">
    <thead>
      <tr>
        <th scope="col">Units</th>
        <th scope="col">Income Range</th>
        <th scope="col">Rent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          1 <small>available</small>
        </td>
        <td>
          <table>
            <thead>
              <tr>
                <th scope="col">Household</th>
                <th scope="col">Minimum</th>
                <th scope="col">Maximum</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>$2,000 <small>per month</small></td>
                <td>$4,671 <small>per month</small></td>
              </tr>
              <tr>
                <td>2</td>
                <td>$2,000 <small>per month</small></td>
                <td>$5,338 <small>per month</small></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>$1,700 <small>per month</small></td>
      </tr>
    </tbody>
  </table>
</div>