{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.lead-header title="Estimate Your Eligibility" description="Enter details about your household size and income and we'll highlight properties for which you may be eligible." classes="shift-offset--bottom"}}

<section class="row shift--top">
  <div class="medium-8 columns">
    <form class="form-card">
      <div class="row">
        <div class="medium-12 columns margin-bottom">
          {{> forms.alert-box }}
          <div class="border-bottom padding-bottom">
            <h3 class="t-sans gamma">
              How many people are you applying to live with?
            </h3>  

            <div class="form-group error">
              <label class="form-label t-caps">Household Size</label>
              {{> forms.select name="people" placeholder="Enter number of people" options=inputs.people classes="error"}}
              <small class="error">Please enter a household size</small>
            </div>

            <div class="form-group padding-bottom--half">
              {{> forms.checkbox text="Yes, this includes children under 6"}}
            </div>

          </div>
        </div>
      </div>

      <div class="row margin-bottom">
        <div class="medium-12 columns padding-top padding-bottom">
          <h3 class="t-sans gamma">
            Next add up your income from wages, benefits and other sources.
          </h3>

          <div class="form-group error">
            <label class="form-label t-caps">Household Income</label>
            {{> forms.input-income classes="error"}}
            <!-- <small class="error">Please enter an income amount</small> -->
          </div>

          {{> forms.radio-group--inline classes="error"}}
          <small class="error">Please enter an income amount</small>

        </div>  
        <div class="medium-12 columns">
          <div class="note bg-tint padding margin-bottom--2x">
            <p class="t-tiny no-margin">Note: This includes any income sources for each person you plan to live with. To help, we created a

              <a href="#">Household Income Calculator</a>
            </p>
          </div>
        </div>
      </div>
          
      {{> forms.button-stack--paginate left="Reset Filters" right="View Matching Properties"}}
    </form>
  </div> 
</section>

{{> components.footer}}