{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.lead-header--sub title="Estimate Your Eligibility" description="Enter details about your household size and income and we'll highlight properties for which you may be eligible." background="dark" color="white" classes="bg-gradient"}}

<div class="row margin-top--2x show-for-medium-up"></div>

<section class="row margin-bottom--2x">
  <div class="medium-10 medium-centered columns">
    <form class="form-card margin-bottom--2x">
      <div class="row">
        <div class="medium-6 columns padding-left--2x padding-top padding-bottom">
          <header class="margin-bottom">
            <h3 class="t-serif gamma">Household Size</h3>
            <p class="c-steel">Household is defined as anyone living with you in the residence, including spouse, roommates, parents and children.</p>
          </header>

          <div class="form-group">
            <label class="form-label sr-only">Household Size</label>

            {{> forms.select name="people" placeholder="Enter number of people" options=inputs.people }}
          </div>

          <div class="form-group padding-bottom--half">
            {{> forms.checkbox text="Yes, this includes children under 6"}}
          </div>

          <div class="form-group">
            {{> forms.select name="children" placeholder="How many children?" options=inputs.children }}
          </div>

        </div>
    
        <div class="medium-6 columns padding-right--2x padding-top padding-bottom">
          
          <header class="margin-bottom">
            <h3 class="t-serif gamma">Household Pre-Tax Income</h3>
            <p class="c-steel">Next add up your gross (pre-tax) household income from wages, benefits and other sources from household members.</p>
          </header>

          <div class="form-group">
            <label class="form-label sr-only">Household Income</label>
            {{> forms.input-income }}
          </div>
          
          {{> forms.radio-group--inline }}
        </div>
      </div>

      <footer class="form-card_footer">
        <div class="note bg-snow row padding padding-left--2x padding-right--2x">
          <div class="medium-7 columns">
            <p class="t-tiny">Note: Your total should include all income sources for each person you plan to live with over the age of 18. If you need help calculating your total,  please use the </p>
          </div>
          <div class="medium-5 columns">
            <button class="ghost-white small no-margin expand-small">Household Income Calculator</button>
          </div>
        </div>
      </footer>
    </form>

    {{> forms.button-stack--paginate left="Reset Filters" l-classes="button-link button-lined small-text-center expand-small" right="View Matching Properties" r-classes="right primary expand-small"}}
  </div> 
</section>

{{> components.footer}} 