{{> headers.version-header }}
{{> navigation.top-bar }}

{{> headers.lead-header title="Household Income Calculator" background="dark" color="white" classes="bg-gradient"}}

<section class="row">
  <div class="medium-6 medium-centered columns margin-top--2x">
    <form class="form-card">
      <header class="padding text-center">
        <h2 class="t-base t-alt-sans t-caps t-black">Add sources for each household member who will live in the unit.</h2>
      </header>
      
      <div class="form-section expand border-top">
        <div class="form-group border-bottom">
          {{> forms.income-source-item}}
        </div>

        <div class="form-group border-bottom">
          {{> forms.income-source-item--edit link="Cancel"}}
        </div>

        <div class="form-group border-bottom">
          {{> forms.income-source-item}}
        </div>

        <div class="form-group">
          <div class="income-source">
            <div class="income-source_item add-item">
              <div class="clearfix">
                {{> icons.base icon="plus" fill="deep"}}
                <span class="income-source_add toggler t-caps t-alt-sans t-bold">Add additional income source</span>
              </div>
            </div>
          </div>
        </div>
      </div>
     </form>
      
    {{> forms.button-stack--paginate l-classes="button-link button-lined small-text-center expand-small" r-classes="primary right expand-small"}}
  </div>
</section>

{{> components.footer}}  