//
// Applications

.application-form {
  #{h1, h2, h3, h4, h5, h6} {
    font-family: $sans-font-family;
  }

  &_nav {
    background-color: $dust;
  }

  .form-label {
    color: $oil;
  }

  .form-group {
    margin-bottom: 1rem;
    @include clearfix;
  }
}

