//
// Applications

.application-form {
  #{h1, h2, h3, h4, h5, h6} {
    font-family: $sans-font-family;
  }

  &_nav {
    background-color: $dust;
  }

  .form-label {
    color: $oil;
  }

  .form-group {
    margin-bottom: 1rem;
  }
}

.entry-panel {
  border-bottom: 1px solid $smoke;
  border-top: 1px solid $smoke;
  position: relative;
  padding-bottom: 1rem;
  padding-top: 1rem;

  #{h1, h2, h3, h4, h5, h6} {
    font-family: $sans-font-family;
  }

  &_edit {
    @include absolute(1rem,0,null,null);
  }

  &_header,
  &_label {
    @include type-weight(light);
  }

  &_content {
    @include type-weight(bold);
    @include responsive-text-size('delta');
  }
}
