$row-width: rem-calc(1024);
$aside-width: rem-calc(300);

.row--full {
  @include clearfix;
  width: 100%;
  max-width: none;
  position: relative;

  .columns {
    padding: 0
  }

  @media #{$medium-up} {
  .full-height {
      @include absolute(0,0,null,null);
      float: none;
      height: 100%;
    }
  }

  @media screen and (min-width: $row-width) {
    .main {
      width: rem-calc(724);
    }

    .aside {
      width: $aside-width;
    }
  }
}

@media #{$medium-up} {
  .full-height {
    @include absolute(0,0,null,null);
    float: none;
    height: 100%;
  }

  .section--wide {
    margin-left: rem-calc(-1000);
    margin-right: -$aside-width;
    padding-left: rem-calc(1000);
    padding-right: $aside-width;
  }
}