.welcome-block {
  @media #{$medium-up} {
    padding-top: 4rem;
  }  
}

.splash-message {
  @media #{$medium-up} {
    padding-top: 2rem;
  }

  &_panel {
    background-color: $dust;
    padding: 2rem;
  }

  p {
    line-height: 1.5em;
    margin-bottom: 1rem;

    @media #{$medium-up} {
      margin-bottom: 0;
    }  
  }
}

.splash-wells {
  .columns {
    .block--tall {
      padding-top: 3rem;
      padding-bottom: 3rem;
      
      @media #{$medium-up} {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }

    &:nth-child(1) {
      .welcome-block {
        border-bottom: 2px solid $dust;

        @media #{$medium-up} {
          border-bottom: 0;
          border-right: 2px solid $dust;
        }
      }
    }  
  }
}

// .row-flex {
//   @extend .row;
//   display: table;

//   @media #{$medium-up} {
//     max-width: none;

//     .medium-6 {
//       display: table-cell;
//       float: none !important;
//       vertical-align: top;

//       &:nth-child(1) {
//         .block--tall {
//           float: right;
//         }  
//       }

//       &:nth-child(2) {
//         .block--tall {
//           float: left;
//         }  
//       }
//     }

//     .block--tall {
//       max-width: 31.25rem;
//     }
//   }  
// }