@media print {
  button, 
  .button,
  button.button-link,
  .menu-icon,
  .version-bar,
  .button-link,
  .sub-nav, 
  footer img,
  .footer-section .inline-list,
  .button-stack--paginate {
    display: none;
  }

  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    text-align: left;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 14pt;
    margin-top: 25px;
  }

  a {
    color: #000;
  }

  .text-center {
    text-align: left !important;
  }
}