@media print {
  button,
  .menu-icon,
  .top-bar,
  .version-bar,
  .translate-bar,
  .sub-nav,
  footer img,
  .footer-section .inline-list,
  .button-stack--paginate,
  .button-pager,
  .hide-for-print {
    display: none;
  }

  body {
    font: 12pt Georgia, "Times New Roman", Times, serif !important;
    line-height: 1.3;
    text-align: left !important;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 14pt;
    margin-top: 25px;
  }

  a, .button, .button.button-link.button-lined {
    color: #000;
    text-align: left !important;
  }

  a:link:after { 
    content: "(" attr(href) ")"; 
  }  

  .app-card_header,
  .app-card_question,
  .text-center {
    text-align: left !important;
  }

  .app-card_nav {
    padding: 0;
  }
}
