.section-head {
  @media #{$medium-up} {
    @include absolute(0,0,null,0);
    background-color: $mist;
    width: 100%;
    height: 300px;
    z-index: -1;
  }
}

.section-hero {
  @media #{$medium-up} {
    position: relative;
  }

  .property-hero {
    @media #{$medium-up} {
      margin-bottom: 2rem;
    }
  }

  // .property-hero_action {
  //   @media #{$medium-up} {
  //     display: none;
  //   }
  // } 

  .accordion-container {
    @media #{$small-only} {
      padding: 0;
    }  

    @media #{$medium-up} {
      position: static;
    }
  }

  .accordion-process {
    @media #{$medium-up} {
      @include absolute(0,0,0,null);
      margin-top: 1rem;
      padding-left: 0;
      width: 33.3333%;

      .content-section {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
      }

      .content-panel {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .content-lead {
        border-top: 5px solid $oil;
        padding-top: 2rem;
        background-color: $white;
      }
    }

    @media #{$large-up} {
      margin-top: 3rem;
      padding-left: 2rem;
    }
  }

  .unit-features {
    @include clearfix;

    .unit-stats {
      @media #{$medium-up} {
        float: left;
        width: 50%;

        li {
          padding-top: 1.25rem;
          padding-bottom: 1.25rem;
        }
      }
    }
  }
}
