//
// Resource Page

.resources-list {
  .block-item {
    .button-on-small {
      @media #{$small-only} {
        padding-left: 1rem;
        padding-right: 1rem;
      }  
    }
  }

  .label {
    margin: 0 .125rem;
  }
}
