<div class="filter-row">
<div class="filter-group">
  <div class="filter-group_item">
    {{> forms.text-input--base placeholder="Application Number"}}
  </div>
  <div class="filter-group_item">
    {{> forms.select--base placeholder="Any Listing"}}
  </div>
  <div class="filter-group_item">
    {{> forms.text-input--base placeholder="First Name"}}
  </div>
  <div class="filter-group_item">
    {{> forms.text-input--base placeholder="Last Name"}}
  </div>
  <div class="filter-group_item">
    {{> forms.select--base placeholder="Submission Type"}}
  </div>
  <div class="filter-group_action">
    {{> buttons.button classes="small" text="Filter"}}
  </div>
</div>
</div>