{{> @version-bar }}
{{> @top-bar }}

<header class="lead-header bg-dark bg-gradient">
  <div class="row">
    <div class="medium-12 columns">
      <h1 class="lead-title t-sans c-white t-ch">歡迎光臨舊金山住房門戶網站！</h1>
    </div>
  </div>
</header>

<section class="row">
  <div class="medium-8 columns">
    <article class="page-content">
      <div class="content-section">
        <h2 class="t-sans t-ch">本網站目前提供下列功能:</h2>
        <ul class="t-delta t-light t-ch">
          <li>平價租屋列表.</li>
          <li>資格評估工具及家庭收入計算器.</li>
          <li>用於標記及與他人分享喜愛列表項目的工具.</li>
        </ul>
      </div>
      
      <hr class="tall">

      <div class="content-section">
        <p class="t-delta t-light t-ch">
          不久後會再增加更多功能及列表!
        </p>
        <p class="t-delta t-light t-ch">
          除本頁面及翻譯完成的申請表以外，住房入口網站一律採用英文，但我們計劃將陸續增加中文、西班牙文以及菲律賓文等語言服務。
        </p>
      </div>

      <hr class="tall">

      <div class="content-section">
        <p class="t-delta t-light t-ch">
          如需協助，建議您與 Asian, Inc. 聯絡並預約安排會說中文的住房諮詢人員。
        </p>

        {{#each resources.chinese}}
          {{> @block-item class="no-border"}}
        {{/each}}

        <p class="t-delta t-light t-ch">
          Asian Inc. 是 HUD 評鑑合格機構，負責提供中文的房屋租售諮詢服務，其諮詢人員均受過專業訓練，能夠提供與 市長住房與社區發展辦公室 (Mayor’s Office of Housing and Community Development) 住房計畫相關的資訊。
        </p>
      </div>

      <hr class="tall">

      <div class="content-section">
        <p class="t-delta t-light t-ch">
          如需瞭解其他住房資源，請參閱：
          <a href="http://www.sfmohcd.org/modules/showdocument.aspx?documentid=8952">http://www.sfmohcd.org/modules/showdocument.aspx?documentid=8953</a>
        </p>
      </div>

    </article>
  </div> 
</section>

<section class="row margin-bottom--2x">
  <div class="medium-12 columns">
    <div class="bg-dust">
      {{> @block-icon size="tall" icon="icon-mail.png" description="Get emailed whenever a new listing is posted." action="Sign Up Today"}}
    </div>
  </div>
</section>

{{> @footer}} 