@media print {
  button,
  .menu-icon,
  .top-bar,
  .banner-bar,
  .version-bar,
  .translate-bar,
  .sub-nav,
  footer img,
  .footer-section .inline-list,
  .button-stack--paginate,
  .button-pager,
  .round-icon,
  .app-card_nav {
    display: none;
  }

  body {
    font: 12px Georgia, "Times New Roman", Times, serif;
    // line-height: 1.3;
    text-align: left !important;
  }

  h1, .t-alpha {
    font-size: 20px;
  }

  h2, .t-beta {
    font-size: 14px;
  }

  h3, .t-gamma {
    font-size: 14px;
  }

  h4, .t-delta {
    font-size: 14px;
  }

  small, .t-small {
    font-size: 12px;
  }

  a,
  .button,
  .button.button-link.button-lined {
    border: 0;
    color: #000 !important;
    text-align: left !important;
  }

  .button {
    padding: 0  !important;
  }

  a:link:after {
    display: block;
    text-transform: none;
    font-size: 12px;
    // add full URL in front of relative links like "/listings"
    content: "https://housing.sfgov.org" attr(href);
  }
  a[href^="http"]:link:after {
    // if link already starts with http, then just print that
    content: attr(href);
  }

  .app-card_header,
  .app-card_question,
  .text-center {
    text-align: left !important;
  }

  .app-card_nav {
    padding: 0;
  }

  .page-accordion {
    .content-group_hours {
      margin-top: 30px;
    }

    .content-group_days {
      margin-bottom: 0;
    }
  }

  .property-hero_apply .label--flag {
    text-align: left;
    font-weight: bold;
  }

  .property-card_title.hide-for-medium-up {
    display: none;
  }

  .property-card_figure {
    text-align: left;
    .property-card_overlay {
      display: none;
    }
  }

  .property-card_action {
    display: none;
  }

  button.toggler {
    display: none;
  }

  // fixes firefox/safari printing bug
  .columns {
    float: none;
  }
}

@media screen {
  .show-for-print {
    &:not(.print-only):not(.ng-hide) {
      display: block !important;
    }
  }
  span.show-for-print {
    &:not(.print-only):not(.ng-hide) {
      display: inherit !important;
    }
  }
}

@media print {
  .show-for-print {
    display: block;
  }

  .ng-hide.show-for-print {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }
}

.print-only.show-for-print { display: none !important; }
