.f-color-chips {
	display: flex;
	flex-wrap: wrap;
}

.f-color-chip {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100%;
	border-top-width: 8em;
	border-top-style: solid;
	border-bottom-width: 0;
	border-bottom-style: solid;
	background-color: #fff;
	font-weight: 700;
	font-size: 0.75em;
	padding: 1em;
	margin-bottom: 2em;

	@media (min-width: 60em) {
		flex-basis: 13em;
	}

	.f-color-chip__color {
		background-color: #fff;
		content: attr(data-color);
		font-weight: 400;
	}
}

.color-chips { 
}

.color-chip {
	border: 2px solid darken($snow, 2%);
	padding-top: 4rem;
	margin-bottom: 1rem;

	.color-chip__name,
	.color-chip__hex {
		content: attr(data-color);
		background-color: #fff;
		padding: .5rem;
	}

	.color-chip__name {
		padding-bottom: 0;
	}

	.color-chip__hex {
		padding-top: 0;
	}	
}
