@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

$font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
// $font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$base-font-family: $font-family;
$sans-font-family: $font-family;
$body-font-family: $font-family;
$sans-font-family-semibold: $font-family;
$sans-font-family-bold: $font-family;
$alt-font-family: "Lato", Helvetica, Arial, Verdana, sans-serif;
$serif-font-family: "Droid Serif", Georgia, Times, serif;
$fancy-serif-font-family: "Playfair Display", Georgia, Times, serif;
$plain-font-family: Helvetica, Arial, Verdana, sans-serif;


$base-colors: (
	dark: hsl(0, 0%, 12%),
	medium: hsl(0, 0%, 46%),
	light: hsl(0, 0%, 80%),
	accent: hsl(0, 0%, 46%)
);

$theme-dark: (
	menu-background: map-get($base-colors, dark),
	menu-text: map-get($base-colors, light),
	normal: map-get($base-colors, medium)
);

$theme-light: (
	menu-background: hsl(0, 0%, 100%),
	menu-text: map-get($base-colors, medium),
	normal: map-get($base-colors, medium)
);

$theme: $theme-light;

$colors: map-merge($base-colors, $theme);

$menu-width: 14rem;

$oil:               #333;
$steel:             #767676;
$dust:              #f5f8f9;
$snow:              #f5f5f5;
$primary-color:     #0077da;

// mixins
@mixin clearfix {
	&:after {
		clear: both;
	}

	&:before,
	&:after {
		display: table;
		content: ' ';
	}
}

@mixin border-box {
	box-sizing: border-box;
}
