---
layout: angular
title: Angular
---

{{> headers.translate-header }}
{{> headers.version-header }}
{{> navigation.top-bar }}

<div class="p-relative" id="main-content">
  <section class="section-hero">
    <div class="accordion-offset accordion-offset--hero">
      {{> property-hero}}
    </div>
  </section>

      {{> property-accordion--angular applications_closed=false}}
      {{> content-panel--program}}

  <section class="bg-dust hide-for-print">
    <div class="accordion-offset">
      {{> blocks.block-icon size="tall" icon="icon-mail.png" description="Get emailed whenever a new listing is posted." action="Sign Up Today"}}
    </div>
  </section>
</div>

{{> footer}}
