//
// Footer

.footer-section {
  .city-logo {
    max-width: rem-calc(120);
  }

  // Footer navigation
  .inline-list {
    @media #{$small-only} {
      margin-top: 1rem;
      margin-left: 0;

       > li {
        display: block;
        float: none;
        padding: 1rem;
        margin-left: 0;
       }   
    }

    @media #{$medium-up} {
      float: right;
    }
  }
}
