@mixin image-replace($imageURL) {
  background: url($imageURL) no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.title-area {
  width: 100%;

  @media #{$medium-up} {
    width: 25%;
  }  
}

.name-logo {
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
  width: 100%;
  
  @media #{$medium-up} {
    margin-top: -(rem-calc(36)) !important;
    padding-bottom: rem-calc(10);
    padding-top: rem-calc(10);
    position: relative;
    z-index: 3;
  }

  a {
    @include image-replace("../images/logo-portal.png");
    background-position: center left;
    background-size: auto 100%;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    width: 100% !important;

    @media #{$medium-up} {
      background-position: center center;
      background-size: 110% auto;
      padding-bottom: rem-calc(10) !important;
      padding-top: rem-calc(10) !important;
    }
  }
}

.title-area {
  @media #{$medium-up} {
    width: 30%;
  }
}  