.nav-mobile {
  margin: 1rem rem-calc(30);
  width: rem-calc(300);

  li {
    margin-bottom: rem-calc(8);
  }

  a {
    color: $wash;
  }

  &_menu-icon {
    margin: 1rem 0 0 rem-calc(30);
    display: block;
  }
}
