//
// Mobile Nav
// Uses angular pageslide

.nav-mobile {
  margin: 1rem rem-calc(30);
  width: rem-calc(300);

  li {
    margin-bottom: rem-calc(8);
  }

  a {
    color: $wash;
  }
}

.nav-mobile_menu-icon {
  display: block;
  margin: 1rem 0 0 rem-calc(30);
}

.nav-mobile_nested-list {
  margin-left: 1rem;
  margin-top: 1.5rem;
}