.local-nav {
  padding-top: 1.5rem;
  
  dt, dd, li {
    @media #{$small-only} {
      float: none;
      padding: .25rem 0;
    }  
  }
}

.toggle-nav {

}

a.toggle-nav-link {
  border-bottom: 1px solid $smoke;
  display: block;
  padding: 1rem;

  @media #{$medium-up} {
    display: none;
  }
}