.local-nav {
  padding-top: 1.5rem;
  
  dt, dd, li {
    @media #{$small-only} {
      float: none;
      padding: .25rem 0;
    }  
  }
}

.toggle-nav {
  @media #{$small-only} {
    display: none;

    &.active {
      display: block;
    }
  }
}

a.toggle-nav-link {
  display: block;
  padding: 1rem;
  position: relative;

  &.active {
    border-bottom: 1px solid $smoke;
  }

  @media #{$medium-up} {
    display: none;
  }
}