// Center card templates

.center-body,
.dash-body,
.app-body {
  @media #{$medium-up} {
    background-color: $vapor;
  }
}

.center-container,
.dash-container,
.app-container {
  @media #{$medium-up} {
    background-color: $vapor;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  &.tall {
    @media #{$medium-up} {
      padding-bottom: 4rem;
      padding-top: 4rem;
    }
  }

  &.inner--3x {
    @include scut-padding(n 1rem);

    @media #{$medium-up} {
      @include scut-padding(n 2rem);
    }

    @media #{$large-up} {
      @include scut-padding(n 3rem);
    }
  }
}
