//
// Property hero
// Hero element at the top of single property

.property-hero {
  position: relative;
}

.property-hero_figure {
  position: relative;
  text-align: center;
  z-index: 1;
  line-height: 1;

  @media #{$medium-up} {
    background-color: $charcoal;
  }  
}

.property-hero_container {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
  overflow: hidden;

  @media print {
    display: none;
  }
}

.property-hero_thumb {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 768px;
}

.property-hero_title.offset {
  @include responsive-text-size('delta');
  font-family: $alt-font-family;
  letter-spacing: .2rem;
  text-transform: uppercase; 
  margin-bottom: 0;
  padding-top: .75rem;

  @media #{$medium-up} {
    @include responsive-text-size('beta');
    @include absolute(null,3.5rem,1.25rem,3.5rem);
    color: #fff;
    display: inline-block;
    z-index: 2;
  }

  @media print {
    text-align: left;
  }
}

.property-hero_favorite {
  margin-top: 1rem;

  @media #{$medium-up} {
    @include absolute(null,0,0,null);
  }

  @media print {
    display: none;
  }
}

.property-hero_content {
  padding: 1rem;

  @media #{$small-only} {
    text-align: center;
  }

  p {
    margin-bottom: 0;
  }
}

.property-hero_address {
  @include responsive-text-size('tiny');
  color: $oil;
  font-family: $alt-font-family;
  letter-spacing: $small-header-spacing;
  line-height: 1.5;
  text-transform: uppercase;
  
  @media #{$small-only} {
    text-align: center;
  }

  @media #{$medium-up} {
    font-weight: 700;
  }  
}

.property-hero_action {
  padding: 1rem;

  @media #{$medium-up} {
    padding-bottom: 0;
  }
}

.property-hero_stat-note {
  @include scut-padding(.5rem n n 1rem);
  margin-bottom: 1.5rem;
}

.property-hero_label {
  @include scut-center-transform(x);
  @include absolute(1rem,null,null,null);
  @include responsive-text-size('micro');
  @include scut-padding(.5rem 1rem);
  z-index: 3;

  @media #{$medium-up} {
    @include responsive-text-size('small');
    @include scut-padding(.625rem 1.25rem);
  }
}
