//
// Splash header
// Styles for top homepage element

.splash-header {
  position: relative;

  &.bg-image {
    @include bg-image;
  }
}

.hero-header {
  padding: 2rem 1rem;
  position: relative;
  z-index: 2;

  @media #{$medium-up} {
    padding: 4rem 1rem;
  }

  @media #{$xlarge-up} {
    padding: 6rem 1rem;
  }

  &.narrow {
    @media #{$medium-up} {
      padding: 4rem 8rem;
    }

    @media #{$xlarge-up} {
      padding: 6rem 11rem;
    }
  }
}

.hero-title {
  letter-spacing: -0.04em;
  @include responsive-text-size(mega);

  @media #{$large-up} {
    @include responsive-text-size(giga);
  }

  &.small {
    @include responsive-text-size(mega);
  }
}

.hero-title_highlight {
  text-decoration: underline;
  text-decoration-color: $warn;
}
