.dash-card {
  background-color: #fff;
  margin-bottom: 0;

  @media #{$medium-up} {
    @include rounded-block();
  }
}

.dash-card-inner {
  @include scut-padding(2rem);

  &.expand {
    @include scut-padding(n 1rem);
  }

  &.inset {
    @media #{$medium-up} {
      @include scut-padding(n 4rem);
      @include scut-margin(n 1rem);
    }  
  }

  &.full {
    @media #{$medium-up} {
      @include scut-padding(n 5rem);
      @include scut-margin(n 0);
    }  
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.dash-header {
  border-bottom: 1px solid $smoke;
  padding: 1rem;
  text-align: center;

  @media #{$medium-up} {
    padding: 2rem;
  }  

  &.expand {
    margin-left: -$column-gutter/2;
    margin-right: -$column-gutter/2;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.dash-title {
  @include responsive-text-size('gamma');
}

.dash-summary {
  @include responsive-text-size('small');
  color: $steel;

  @media #{$medium-up} {
    padding-left: 2rem;
    padding-right: 2rem;
  }  
}

.dash-footer {
  @media #{$medium-up} {
    border-bottom-left-radius: $form-card-radius;
    border-bottom-right-radius: $form-card-radius;
  } 
}  
