// Event Feed
// Vertical collection of content items with icons and dates

.event-feed {
  background: $mist;
}

.event {

}

.event-list {

}

.event-title {
  @include type-weight(semi);
  margin-bottom: .5rem;
}

.event-item {
  padding: 1rem;
  padding-left: 3rem;
  position: relative;
  border-top: 2px solid $smoke;

  &:first-of-type {
    border: none;
  }

  &.has-past {
    color: $steel;
  }

  &:nth-child(n+1) {
    .event-title {
      margin-bottom: 0;
    }
  }
}

.event-icon {
  @include absolute(0,null,null,0);
  width: 3rem;
  height: 3rem;
  margin-top: .25rem;

  .ui-icon {
    // @extend %center-xy;
    @include scut-center-transform;
  }
}

.event-address {
  display: inline-block;
  margin-bottom: 1rem;
}

.event-note {
  @include responsive-text-size('small');
}

.event-details, .event-links {
  padding-top: .5rem;

  li {
    @include responsive-text-size('small');
    padding-bottom: 1rem;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.event-links {
  padding-top: 1rem;
}
