// Lottery card object
// Flexible content container

.lottery-card {
  position: relative;
}

// card container
.lottery-card-inner,
.lottery-card-details {
  padding: 1rem;
}

.lottery-card-address {
  overflow: hidden;
}

.lottery-card-title {
  margin-bottom: 0;
}

.lottery-card-group {
  margin-bottom: 1rem;
}

.lottery-card-more {
  @include responsive-text-size('small');
  display: inline-block;
}

.lottery-card-date {
  @include responsive-text-size('small');
}

.lottery-card-footer {
  @include clearfix;
}

.lottery-card-link {
  @include responsive-text-size('small');
  margin-right: 1rem;
}

