//
// Modals

.reveal-modal {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
  min-height: auto;
  padding: 0;

  &.modal-small {
    padding: 0;

    @media #{$medium-up} {
      max-width: 25rem;
    }
  }
}

// Content containers
.modal-header,
.modal-inner,
.modal-footer {
  @include scut-padding(1rem 1.5rem);

  &.inset {
    padding: 2rem;
  }
}

.modal-header {
  padding-top: 1.5rem;
}

.modal-inner {
  &:last-of-type {
    border-bottom-right-radius: $global-radius;
    border-bottom-left-radius: $global-radius;
  }

  textarea {
    height: 6.25rem;
  }
}

.modal-footer {
  border-bottom-right-radius: $global-radius;
  border-bottom-left-radius: $global-radius;
}

// Buttons stack with no column classes
.modal-button-group {
  &.row {
    max-width: none;
  }

  .modal-button_item {
    @media #{$medium-up} {
      float: right;
      margin-left: 1rem;
    }
  }

  button,
  .button {
    margin: 0 auto .25rem;
    display: block;
    width: 100%;
  }
}

// Loading container for modal
.modal-loading {
  width: 100%;
  min-height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


// Close button
.close-reveal-modal {
  @include absolute(1.5rem,1.5rem,null,null);
  text-transform: uppercase;
}

// Scrolling panel
.overflow-panel {
  border: 1px solid $smoke;
  
  .result-set li {
    padding-left: 1rem;
    padding-right: 1rem;
    position: static;

    .right {
      padding-left: .75rem;
    }
  }
}

.overflow-panel_header {
  @include responsive-text-size('tiny');
  @include type-weight(bold);
  background-color: $smoke;
  overflow: hidden;
  text-transform: uppercase;

  .header {
    padding: .75rem;
  }
}

.overflow-panel_scroll {
  background-color: #fff;
  position: relative;

  @media #{$medium-up} {
    max-height: rem-calc(450);
    overflow-y: auto;
  }
}

.modal-overflow {
  @media #{$medium-up} {
    max-height: rem-calc(700);
    overflow-y: auto;
  }  
}

.modal-buckets {
  
}
