$siderail-width: rem-calc(340px);
$siderail-width-full: rem-calc(280px);
$siderail-padding: 3rem;
$siderail-padding-full: 2rem;

.page-accordion {
// Responsive layout
  .accordion {
    margin-top: 0
  }

  .accordion dd > a,
  .accordion dd > .content {
    @include grid-row();

    @media #{$medium-up} {
      padding-right: $siderail-width-full !important;
    }

    @media screen and (min-width: $row-width) {
      padding-right: $siderail-width !important;
    }
  }

  > .accordion > dd > a,
  .accordion-header.lead {
    @media #{$medium-up} {
      display: none !important;
    }
  }

  // .accordion dd.medium-accordion_open > a {
  //   display: none;
  // }

  // .accordion dd.medium-accordion_open .content {
  //   display: block;
  // }

  .content-lead {
    display: none;

    @media #{$medium-up} {
      display: block;
    }
  }

  > .accordion > dd > .content {
    @media #{$small-only} {
      .content-group {
        padding-left: 0;
        padding-right: 0;
      }
    }

    @media #{$medium-up} {
      display: block !important;
      padding: 0;
    }

    @media print {
      display: block !important;
    }  
  }

  // responsive right hand column
  .medium-right-column {
    @media #{$medium-up} {
      @include absolute(0,0,0,null);
      transform: translateX(0px);
      background-color: #fff;
      z-index: 3;

      .content {
        background-color: #fff;
        border: 1px solid $smoke;
        width: $siderail-width-full !important;
        margin: 0 !important;
        height: 100%;
      }

      .content-wrap {
        width: $siderail-width-full !important;
      }
    }

    @media screen and (min-width: $row-width) {
      transform: translateX(510px);
      right: 50%;

      .content {
        width: $siderail-width !important;
      }

      .content-wrap {
        width: $siderail-width !important;
      }
    }
  }

// Style
  > .accordion > dd {
    &:nth-child(even) {
      background-color: $dust;
    }
  }

  .content-lead {
    padding: 1rem 0;
  }

  .content-section {
    @media #{$medium-up} {
      padding: 2rem $siderail-padding-full 3rem 0;
    }

    @media screen and (min-width: $row-width) {
      padding-right: $siderail-padding;
    }  
  }

  .content-header,
  .listing-header {
    margin-top: 3rem;
  }
}

.accordion-offset {
  @include grid-row();

  @media #{$medium-up} {
    padding-right: $siderail-width-full+$siderail-padding-full;
  }

  @media screen and (min-width: $row-width) {
    padding-right: $siderail-width+$siderail-padding;
  }

  &--hero {
    @media #{$medium-up} {
      padding-top: $siderail-padding;
    }
  }
}
