//
// Block
// Larger component with padding on all sides

%block-expand {
  margin-left: -($column-gutter / 2);
  margin-right: -($column-gutter / 2);
}

.block {
  @include block();
  
  .expand {
    @extend %block-expand;
  }
}    

// Expand beyond outer margin (legacy)
.block-expand {
  .expand {
    @extend %block-expand;
  }
}

// Block modifier with icon
// Update required in app to remove BEM naming
.icon-block,
.block--icon {
  @include block();
}

// Block modifier with more responsive padding
// Update required in app to remove BEM naming
.tall-block,
.block--tall {
  @include block();

  @media #{$medium-up} {
    padding: 2rem 2rem;
  }
}

.short-block,
.block--short {
  @include block();
  padding: 1.5rem;

  @media #{$medium-up} {
    padding: 2rem;
  }
}

// Block icon element
.block-icon {
  padding: 1rem;
  margin-bottom: 1rem;

  img {
    border-bottom: 2px solid $primary;
  }
}

//
// Home Page

// Message with action

.welcome-block {
  @media #{$medium-up} {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }  
}