// Content card
// Content contained in a card element

.content-card {
  @include responsive-text-size('tiny');
  background-color: #fff;
  border: 2px solid $white-smoke;
  line-height: 1.25rem;
  padding: 1.25rem;
  margin-bottom: 1rem;

  @media print {
    padding: 1rem;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.content-card_title {
  @include responsive-text-size('tiny');
  font-family: $font-family;
  font-weight: 600;
  text-transform: uppercase;

  @media print {
    @include responsive-text-size('micro');
  }

  &.t-serif {
    @include responsive-text-size('delta');
    font-family: $serif-font-family;
    font-weight: normal;
    margin-bottom: .75rem;
    text-transform: none;

    @media print {
      @include responsive-text-size('small');
      margin-bottom: .25rem;
    }
  }
}

.content-card_ordered {
  display: clearfix;
  margin-bottom: 1rem;
}

.content-card_number {
  background-color: $white;
  border-radius: 50%;
  border: 2px solid $primary;
  color: $primary;
  float: left;
  font-weight: bold;
  padding: .5rem;
  margin-right: .5rem;
  margin-top: -4px;
  width: 2.5rem;
  white-space: nowrap;
  
  @media #{$medium-up} {
    margin-left: -2.5rem;
  }

  sup {
    font-weight: normal;
    left: -.125rem;
    top: -.35em;
  }
}

.content-grid {
  @media #{$medium-up} {
    @include clearfix;

    .content-item {
      float: left;
      width: 50%;
      padding-right: 1rem;

      &:nth-child(2n+1) {
        clear: left;
      }  
    }
  }

  &.wide-grid-margins {
    @media #{$medium-up} {
      .content-item {
        padding-right: 2rem;
        margin-bottom: 1rem;

        &:nth-child(2n+1) {
          clear: left;
        }
      } 
    }
  }
}
