.directory-header {
  padding: 1.5rem 1rem;
  background: $mist;

  @media #{$medium-up} {
  	padding: 4rem 2rem;
  }
}

.directory-header_title {
  @include type-weight(regular);
  font-family: $serif-font-family;
  letter-spacing: -0.04rem;
  margin-bottom: 1rem;

  @media #{$medium-up} {
  	text-align: left;
  }
}

.directory-header_cta,
.directory-header_primary {
  margin-bottom: 1rem;
}

.directory-header_primary,
.directory-header_sidebar {
  @include responsive-text-size(small);

  @media #{$large-up} {
    @include responsive-text-size(base);
  }

}

.directory-header_sidebar {
  @media #{$medium-up} {
    background-color: #fff;
    border: 2px solid $white-smoke;
    padding: 1rem;
    line-height: $base-line-height;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}