//
// Headers
//

// Larger page headers for top of page
.lead-header {
  padding: 2rem 0 1rem;
  text-align: center;
  position: relative;

  @media #{$medium-up} {
    padding: 3rem 0 2rem;
    text-align: left;
  }

  &.bg-gradient {
    @media #{$medium-up} {

      &:before {
        @include overlay-image;
        @include custom-linear-gradient(rgba(0,0,0, .2), rgba(0,0,0, .8));  
      }
    }
  }

  &.bg-image {
    background-color: $dark;

    @media #{$medium-up} {
      background-image: url('../images/sf-homes-wide.jpg');
      background-size: cover;
      background-position: bottom left;
    }
  }

  &.short {
    padding: 2rem 0 1rem;

    @media #{$medium-up} {
      padding: 2rem 0 1rem;
    }
  }
}

.lead-header_title {
  @include type-weight(semi);
  font-family: $alt-font-family;
  letter-spacing: $large-header-spacing;
  text-transform: uppercase;

  @media #{$small-only} {
    @include responsive-text-size('beta');
  }
    
  @media #{$medium-up} {
    @include type-weight(black);
  }
}

.lead-header_title--small {
  @extend .lead-header_title;
  @include responsive-text-size('gamma');
  margin-bottom: .5rem;
}

.lead-header_subtitle {
  
}

.lead-header_subtitle--caps {
  @include responsive-text-size('small');
  font-family: $alt-font-family;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.lead-header_group {
  position: relative;
  z-index: 2;
}

// Offset modifier for form cards
.shift {
  @media #{$medium-up} {
    &-offset--bottom {
      padding-bottom: 4rem;
    }

    &--top {
      margin-top: -4rem;
    }
  }
}

// Results values and actions modifier to lead header
.results-header {

}

.results-header_values {
  @include responsive-text-size('gamma');
  color: $steel;
  font-family: $alt-font-family;
  letter-spacing: $large-header-spacing;
  text-transform: uppercase;

  strong {
    color: $oil;
    font-family: $serif-font-family;
    letter-spacing: normal;
  }

  @media #{$small-only} {
    @include responsive-text-size('delta');
  }
}

