.loading {
  position: relative;

  &:before {
    @include absolute(0,0,0,0);
    background-color: rgba(255,255,255,.8);
    content: '';
    z-index: 102;
  }
  
  // used for full page overlay and fixed positioning
  &-overlay {
    @include absolute(0,0,0,0);
    min-height: rem-calc(40);

    .spinner {
      position: fixed;
    }
  }

  // used for smaller components
  &-panel {
    min-height: rem-calc(40);
  }

  .spinner {
    @include scut-center-transform;
    z-index: 103;
  }

  .footer-section & .spinner {
    display: none;
  }
}
