//
// Mobile Nav
// Uses angular pageslide

.nav-mobile {
  width: rem-calc(300);

  li {
    border-bottom: 1px solid $smoke;
    display: block;
  }

  a {
    @include scut-padding(1rem);
    color: $steel;
    display: block;

    &:hover {
      background-color: $dust;
    }
  }

  .ui-icon {
    margin-right: 1rem;
  }

  svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.nav-mobile_header {
  @include scut-padding(1rem);
  background-color: $primary;
}

.nav-mobile_menu-icon {
  display: block;

  svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}

.nav-mobile_nested-list {
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.nav-mobile_panel {
  background-color: $white;
}