.notice-status {
  background-color: $tint;
  padding: 1rem;
  padding-left: 3rem;
  position: relative;

  @media #{$medium-up} {
    padding-left: 1rem;
  }

  p {
    margin-bottom: 0;
  }
}  

.notice-label {
  @include type-weight(semi);
  margin-bottom: .25rem;
}

.notice-icon {
  @include absolute(0,null,null,0);
  width: 3rem;
  height: 3rem;
  margin-top: .25rem;

  .ui-icon {
    // @extend %center-xy;
    @include scut-center-transform;
  }

  @media #{$medium-up} {
    display: none;
  }
}  

.notice-timeline {
  @include clearfix;
  display: none;
  margin-top: 1rem;

  @media #{$medium-up} {
    display: block;
  }

  .timeline-icon {
    float: left;
    text-align: center;
    width: 20%;
    position: relative;
    padding-bottom: 1rem;

    &::after {
      @include triangle();
      @include absolute(null,null,0,50%);
      // @include translateX(-50%);
      transform: translateX(-50%);
      display: none;
    }

    .ui-icon {
      background-color: $mist;
      border-radius: 50%;
      border: 1px solid $smoke;
      display: inline-block;
      height: 2rem;
      width: 2rem;

      svg {
        margin-top: 0;
      }
    }
  }

  .timeline-label {
    @include responsive-text-size('quark');
    color: $steel;
    display: block;
    padding-top: .25rem;
  }
}

// Lottery statuses
.status-open {
  .time-open {
    &::after {
      display: block;
    }
  }
}

.status-closed {
  .time-close {
    &::after {

      display: block;
    }

    .ui-icon {
      background-color: $primary-tint;
    }
  }

  &.notice-status {

  }
}

.status-lottery {
  .time-lottery {
    &::after {
      border-bottom-color: $warn-tint;
      display: block;
    }

    .ui-icon {
      background-color: $warn-tint;
    }
  }

  &.notice-status {
    background: $warn-tint;
  }
}

.status-success {
  .time-results {
    &::after {
      border-bottom-color: $success-tint;
      display: block;
    }

    .ui-icon {
      background-color: $success-tint;
    }
  }

  &.notice-status {
    background: $success-tint;
  }
}

.status-results {
  .time-results {
    &::after {
      border-bottom-color: $splash-tint;
      display: block;
    }

    .ui-icon {
      background-color: $splash-tint;
    }
  }

  &.notice-status {
    background: $splash-tint;
  }
}

.status-filled {
  .time-filled {
    &::after {
      border-bottom-color: $primary-tint;
      display: block;
    }

    .ui-icon {
      background-color: $primary-tint;
    }
  }

  &.notice-status {
    background: $primary-tint;
  }
}
