$status-offset: 150px;

.status-list {

}

.status-list_item {
  
}

.status-list_tag {
  @include responsive-text-size('micro');
  @include scut-padding(.5rem .75rem);
  // border-top-left-radius: $button-radius;
  // border-top-right-radius: $button-radius;
  font-family: $alt-font-family;
  float: left;
  letter-spacing: .2em;
  margin-right: 1rem;
  text-transform: uppercase;
  width: 100%;

  @media #{$medium-up} {
    // border-bottom-left-radius: $button-radius;
    // border-bottom-right-radius: $button-radius;
    width: $status-offset;
  }

  &.is {
    @each $color-name, $color-value in $state-colors {
      &-#{"" + $color-name} {
        color: lighten($color-value, 5%) !important;
        border-left: 3px solid lighten($color-value, 5%) !important;
      }
    }
  }
}

.status-list_comment {
  overflow: hidden;
  width: 100%;
  float: left;
  background-color: $white;
  border: 1px solid $smoke;
  border-bottom-left-radius: $button-radius;
  border-bottom-right-radius: $button-radius;
  padding: .625rem 1rem;
  margin-bottom: .5rem;

  @media #{$medium-up} {
    border-top-left-radius: $button-radius;
    border-top-right-radius: $button-radius;
    width: calc(100% - 170px);
  }
}

.status-list_note {
  float: left;
  margin: 0;
}

.status-list_date {
  float: right;
  font-weight: $t-semi;
  margin: 0;
}

.status-list_footer {
  @media #{$medium-up} {
    padding-left: $status-offset;
    margin-left: 1rem;
  }
}
