//
// Sub nav
// Simple local navigation

.sub-nav {
  padding-bottom: rem-calc(4);

  dt, dd, li {
    a {
      background-color: $charcoal;
      border-radius: 3px;
      color: #fff;
      padding-left: 0.625rem;
      padding-right: 0.625rem;

      &:focus,
      &:hover {
        color: #fff;
      }

      &.disabled {
        background-color: transparent;
        color: $charcoal;
        cursor: default;
        pointer-events: none;
      }
    }

    &.active {
      a {
        &:focus,
        &:hover {
          color: #fff;
        }
      }
    }
  }

  dt, dd, li {
    margin-left: rem-calc(10);
  }
}

.application-form_nav {
  dd {
    @media #{$small-only} {
      margin-left: rem-calc(5);

      a.disabled {
        padding-left: rem-calc(2);
        padding-right: rem-calc(2);
      }
    }
  }
}
