.table-pagination {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;

  background: $mist;
  padding: 1rem;

  input,
  select {
    @media #{$medium-up} {
      margin-bottom: 0;
    }
  }
}

.table-pagination button {
  @extend .tertiary;
  width: 100%;

  @media #{$medium-up} {
    margin-bottom: 0;
  }
}

.table-pagination_action {
  width: 100%;
  text-align: center;
  align-items: center;

  @media #{$medium-up} {
    flex-basis: 8.5rem;
  }
}

.table-pagination_center {
  @include type-weight(semi);
  flex: 1.5;
  text-align: center;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: .875rem;

  @media #{$medium-up} {
    justify-content: flex-end;
  }
}

.table-pagination_pageinfo,
.table-pagination_pagesize {
  display: inline-block;
  white-space: nowrap;
  align-self: center;

  @media #{$medium-up} {
    margin-right: 1.5rem;
  }
}

.table-pagination_pagejump,
.table-pagination_pagerows {
  display: inline-block;
  align-self: center;

  @media #{$medium-up} {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.table-pagination_pagerows {
  select,
  input {
    width: 6.75rem;
  }
}

.table-pagination_pagejump {
  select,
  input {
    // width: 5rem;
  }
}

.ReactTable {
  .-pagination {
    @extend .table-pagination;
  }

  .-pagination .-previous,
  .-pagination .-next {
    @extend .table-pagination_action;
  }

  .-pagination .-center {
    @extend .table-pagination_center;
  }

  .-pagination .-pageInfo {
    @extend .table-pagination_pageinfo;
  }

  .-pagination .-pageJump {
    @extend .table-pagination_pagejump;
  }

  .-pagination .-pageSizeOptions {
    @extend .table-pagination_pagesize;
  }
}
