//
// Toggler
// Simple toggle element used to show/hide

.toggler {
  cursor: pointer;

  .ui-control {
    top: .75rem !important;

    @media print {
      display: none;
    }
  }

  // open state on larger containers
  &.active, {
    .ui-control {
      transform: rotate(180deg);
      top: .75rem;
    }
  }
}

.toggler,
.has-toggle,
.has-toggle--details {
  position: relative;
}

.toggle-box {
  padding: 1rem;
}

.toggle-box {
  border-bottom: 1px solid $primary;
}

.toggled {
  @media print {
    display: block !important;
  }
}

.toggle-box_label {
  @include responsive-text-size('tiny');
  @include type-weight(normal);
  color: $charcoal;

  strong {
    @include responsive-text-size('tiny');
    @include type-weight(bold);
    color: $oil;
    text-transform: uppercase;
  }
}

// Smaller read more elements
.toggle-more {
  .ui-icon {
    margin-left: .25rem;
  }

  &.open {
    display: inline-block;
    margin-top: 1rem;
    &-bottom {
      display: inline-block;
      margin-bottom: 1rem;
      margin-top: 0;
    }

    .ui-icon svg {
      transform: rotate(180deg);
    }
  }
}
