.local-nav-container {
  background: $primary;
}

.local-nav {
  @include clearfix;
  background: $primary;
  letter-spacing: 1.5px;

  @media #{$medium-up} {
    text-align: center;
  }  
}

.local-nav-item {
  @media #{$medium-up} {
    display: inline;
  }

  &.active {
    a {
      background-color: $deep;
    }
  }

  a {
    @include responsive-text-size('small');
    color: $white;
    font-family: $alt-font-family;
    font-weight: $font-weight-bold;
    display: block;
    padding: 1rem;
    text-transform: uppercase;

    @media #{$medium-up} {
      display: inline-block;
    }

    &:hover {
      background-color: $dark;
    }
  }
}

.toggle-nav {
  @media #{$small-only} {
    display: none;

    &.active {
      display: block;
    }
  }
}

a.toggle-nav-link {
  color: $white;
  display: block;
  font-family: $alt-font-family;
  letter-spacing: 1.5px;
  padding: 1rem;
  position: relative;
  text-transform: uppercase;

  &.active {
    border-bottom: 1px solid $smoke;

    svg {
      transform: rotate(180deg);
    }
  }

  @media #{$medium-up} {
    display: none;
  }
}