//
// Navigation Menu
// Desktop navigation based on foundation top bar

.top-bar {
  .name-logo {
    display: flex;

    a {
      @media #{$large-up} {
        height: 115px;
      }
    }
  }

  .name {
    height: auto;
  }
}

.top-bar-section {
  width: 70%;
  left: auto !important;
  height: 4.6875rem;
  float: right;

  ul.nav-menu {
    @media #{$medium-up} {
      width: auto;
      display: flex;
    }

    @media #{$small-only} {
      display: none;
    }

    li {
      background: transparent;
      width: auto;
      height: 4.6875rem;
      display: flex;

      @media #{$large-up} {
        max-width: 180px;
        width: auto;
      }
    }

    li > a,
    li:not(.has-form) a:not(.button) {
      @include scut-padding(2.5rem 1rem 1rem 1rem);
      background: transparent;
      font-size: 0.75rem;
      line-height: 1rem;
      text-transform: uppercase;
      border-bottom: 3px solid transparent;
      display: flex;
      align-self: flex-end;

      @media #{$large-up} {
        @include scut-padding(n 1.5rem nn 1.5rem);
        font-size: 0.8125rem;
      }

      &:hover {
        border-bottom-color: $primary;
      }
    }
  }

  ul.dropdown {
    box-shadow: 0px 2px 0px 6px rgba(0,0,0,0.03);

    li > a,
    li:not(.has-form) a:not(.button) {
      border-bottom-width: 0;
      padding-top: 1rem;
      text-transform: capitalize;

      &:hover {

      }
    }
  }

  .dropdown-item {
    border-bottom: 1px solid $smoke;

    &:last-of-type {
      border-bottom-width: 0;
    }

    &.has-icon {
      .ui-icon {
        margin-right: .5rem;
        margin-left: -.5rem;
      }
    }
  }

  .has-dropdown > a:before {
    @include absolute(50%,1rem,null,null);
    background-image: none, url("../images/arrow-down.svg"), url("../images/arrow-down.png");
    background-position: right 0 center;
    background-repeat: no-repeat;
    background-size: .75rem;
    content: '';
    display: block;
    height: 1rem;
    width: 1rem;
  }

  // override one rule from mm.foundation to get this to display properly
  .has-dropdown > a + .dropdown {
    left: auto !important;
  }
}
