.translate-bar {
  @include scut-padding(.625rem n);
  min-height: 2.1875rem;

  .translate-bar_notice-column {
    @media #{$xlarge-up} {
      padding-left: 0 !important;
    }
  }

  .translate-bar_notice {
    @media #{$small-only} {
      line-height: 1.25;
      margin-bottom: 10px !important;
    }
  }

  .translate-bar_message,
  .translate-bar_learn {
    @media #{$small-only} {
      font-size: 0.75rem;
    }
  }

  .translate-bar_languages {
    margin: 0 !important;

    > li {
      margin-left: 2rem;
    }

    @media #{$small-only} {
      > li {
        font-size: 0.9rem;
      }
    }
  }

  a {
    color: $silver;
    &.active, &:hover {
      color: $white;
    }
  }
}
