{{> headers.version-bar }}
{{> navigation.top-bar }}

{{> headers.lead-header title="Household Income Calculator" background="dark" color="white" classes="bg-gradient"}}

<div class="row margin-top--2x show-for-medium-up"></div>

<section class="row margin-bottom--2x">
  <div class="medium-6 medium-centered columns">
    <form class="form-card">
      <header class="padding text-center">
        <h2 class="t-base t-alt-sans t-caps t-black">Alright, here's your total annual income.</h2>
      </header>

      <div class="form-section expand border-top">
        <div class="form-group border-bottom">
          {{> forms.income-source-item}}
        </div>

        <div class="form-group border-bottom">
          {{> forms.income-source-item}}
        </div>
      </div>

      <footer class="form-card_footer">
        <div class="padding padding-top--2x padding-bottom--2x bg-dust border-top--primary">
          <p class="t-base t-alt-sans t-caps t-black no-margin">
            Total Household Income
            <span class="t-bold right">$25,200/yr</span>
          </p>
       </div>
      </footer>
    </form>

    {{> buttons.button-stack--paginate l-classes="button-link button-lined small-text-center expand-small" r-classes="primary right expand-small"}}
  </div>
</section>

{{> footer}}  