//
// Borders


// Border radius.
.radius {border-radius: .3em;}

.border {
  &-bottom {
    border-bottom: 1px solid $steel;
  }

  &-top {
    border-top: 1px solid $smoke;
  }

  &-left {
    border-left: 1px solid $steel;
  }

  &-right {
    border-right: 1px solid $steel;
  }

  &-bottom--primary {
    border-bottom: 1px solid $primary;
  }

  &-top--primary {
    border-top: 1px solid $primary;
  }

  &-left--primary {
    border-left: 1px solid $primary;
  }

  &-right--primary {
    border-right: 1px solid $primary;
  }
}

.no-border {
  border: none !important;
}