//
// Borders


// Border radius.
.radius { border-radius: $global-radius; }

.radius-bottom {
  border-bottom-left-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
}

.border {
  &-bottom {
    border-bottom: 1px solid $smoke;
  }

  &-top {
    border-top: 1px solid $smoke;
  }

  &-left {
    border-left: 1px solid $smoke;
  }

  &-right {
    border-right: 1px solid $smoke;
  }

  &-bottom--primary {
    border-bottom: 1px solid $primary;
  }

  &-top--primary {
    border-top: 1px solid $primary;
  }

  &-left--primary {
    border-left: 1px solid $primary;
  }

  &-right--primary {
    border-right: 1px solid $primary;
  }
}

.no-border {
  border: none !important;
}

.no-border-on-small {
  @media #{$small-only} {
    border: none !important;
  }
}
