//
// Extends
//

%quotemarks {
  p:after,
  p:before { 
    background-repeat: no-repeat; 
    background-position: 0 0; 
    display: inline-block; 
    content: ''; 
    width: 1.5rem; 
    height: 2rem;
  }

  p:before { 
    vertical-align: top; 
    margin-right: 1rem; 
  }

  p:after { 
    vertical-align: bottom; 
    margin-left: 1rem; 
  }
}

%expand {
  margin-left: -($column-gutter/2);
  margin-right: -($column-gutter/2);
}

%box-shadow,
.box-shadow {
  box-shadow: -3px 0px 3px -1px rgba(0, 0, 0, 0.1);
}

%center-xy {
  @include transform(translate3D(-50%, -50%, 0));
  position: absolute;
  left: 50%;
  top: 50%;
}
