//
// Grid
//

.row {
  &.expand {
    margin-left: -($column-gutter / 2);
    margin-right: -($column-gutter / 2);
    max-width: none;
    width: auto;
  }

  &.full-width {
    max-width: none;
  }

  // Applies responsive padding
  &.inner--3x {
    @include scut-padding(n 1rem);

    @media #{$medium-up} {
      @include scut-padding(n 2rem);
    }

    @media #{$large-up} {
      @include scut-padding(n 3rem);
    }
  }

  &.offset-up--4x {
    @media #{$large-up} {
      @include scut-margin(-4rem n n);
      z-index: 10;
      position: relative;
    }
  }
}

.large-9.columns.max-width {
  max-width: rem-calc(848);
}

.large-12.columns.max-width {
  max-width: rem-calc(1180);
}

.fixed-width.columns {
  &.medium-6 {
    @media #{$medium-up} {
      width: rem-calc(512);
    }
  }

  &.medium-8 {
    @media #{$medium-up} {
      width: rem-calc(682);
    }
  }
}

.main-content {
  max-width: 100vw;
}
