//
// Grid
//

.row {
  &.expand {
    margin-left: -($column-gutter / 2);
    margin-right: -($column-gutter / 2);
    max-width: none;
    width: auto;
  }
}

.fixed-width.columns {
  &.medium-6 {
    @media #{$medium-up} {
      width: rem-calc(512);
    }
  }

  &.medium-8 {
    @media #{$medium-up} {
      width: rem-calc(682);
    }
  }
}
