// Lists //

.inline-group {
  @include clearfix;
  
  li {
    float: left;
  }
}

.dl-two-column {
  @include clearfix;

  @media #{$medium-up} {
    dt {
      float: left;
      padding-right: 1rem;
      text-align: right;
      width: 40%;
    }

    dd {
      float: left;
      width: 60%;
    }
  }
}

.numbered-list {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;

  li {
    position: relative;
    display: block;
    counter-increment: list;
    margin: 0 0 1rem 2rem;

    &:before {
      display: inline-block;
      position: absolute;
      top: 0;
      left: -2rem;
      text-align: center;
      content: counter(list);
      border-radius: 50%;
      color: $charcoal;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      box-shadow: inset 0 0 0 1px $oil;
    }

    &:last-of-type {
      margin-bottom: 0.5rem;
    }
  }

  @media #{$large-up} {
    li {
      margin: 0 0 1.5rem 2.5rem;

      &:before {
        @include responsive-text-size(base);
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        top: -0.25rem;
        left: -2.5rem;
      }
    }
  }

}