// Lists //

.inline-group {
  @include clearfix;
  
  li {
    float: left;
  }
}

.dl-two-column {
  @include clearfix;

  @media #{$medium-up} {
    dt {
      float: left;
      padding-right: 1rem;
      text-align: right;
      width: 40%;
    }

    dd {
      float: left;
      width: 60%;
    }
  }
}
