//
// Mixins
//

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

// Hides text from display but is still accessible to screen readers.
@mixin sr-only() {
  position: absolute;
  left: -999em;
}

// Prevents long links and urls from wrapping
@mixin link-wrap {
  white-space: pre-wrap; /* css-3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

// Adds text columns to unordered lists and data liste elements without extra divs
@mixin text-columns($column-count: 2, $column-gap: 50px) {
  -moz-column-count: $column-count;
  -moz-column-gap: $column-gap;
  -webkit-column-count: $column-count;
  -webkit-column-gap: $column-gap;

  ul, dl {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
  }
}

// Layout element with padding top and bottom
@mixin slat($slat-padding: 1rem) {
  border-bottom: 1px solid $smoke;
  position: relative;
  padding-bottom: $slat-padding;
  padding-top: $slat-padding;

  @media #{$medium-up} {
    padding-bottom: ($slat-padding*2);
    padding-top: ($slat-padding*2);
  }

  &:last-of-type {
    border-bottom: 0;
  }
}

// Layout element with padding on all four sides
@mixin block($block-padding: 2rem) {
  padding: $block-padding;
  text-align: center;

  button, .button {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media #{$medium-up} {
    padding-top: ($block-padding*2);
    padding-bottom: ($block-padding*3);
  }
}

// ELement with border and rounded corners.
@mixin rounded-block() {
  border: 1px solid $smoke;
  border-radius: $form-card-radius;
}

// Using due to errors from compass mixin
@mixin custom-linear-gradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

// Adds full screen image to pseudo element
@mixin overlay-image() {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}    

// Adds css only triangle element
@mixin triangle($border-width: 0.5em 0.375em) {
  content: '';
  display: block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: $border-width;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: $tint;
  border-top-width: 0;
}

// Hides text and replaces with background image
@mixin image-replace($imageURL) {
  background: url($imageURL) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
}

@mixin bg-image($position: center) {
  background: $dark url('../images/bg@400.jpg') $position;
  background-size: cover;
  @media screen and (min-width: em-calc(600)) {
    background-image: url('../images/bg@600.jpg');
  }
  @media screen and (min-width: em-calc(600)) and (min-resolution: 2),
         screen and (min-width: em-calc(1000)) {
    background-image: url('../images/bg@1200.jpg');
  }
  @media screen and (min-width: em-calc(1000)) and (min-resolution: 2) {
    background-image: url('../images/bg@2400.jpg');
  }
}
