//
// BaseType
//

@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

$base-font-size:      16px;
$base-line-height:    24px;

// Fixed Mobile font sizes
$h1-font-size: rem-calc(32);
$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(22);
$h4-font-size: rem-calc(20);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;

// Fixed Desktop font sizes
$h1-font-size-large: rem-calc(40);
$h2-font-size-large: rem-calc(28);
$h3-font-size-large: rem-calc(24);

$font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
$base-font-family: $font-family;
$sans-font-family: $font-family;
$body-font-family: $font-family;
$sans-font-family-semibold: $font-family;
$sans-font-family-bold: $font-family;
$alt-font-family: "Lato", Helvetica, Arial, Verdana, sans-serif;
$serif-font-family: "Droid Serif", Georgia, Times, serif;
$fancy-serif-font-family: "Playfair Display", Georgia, Times, serif;
$plain-font-family: Helvetica, Arial, Verdana, sans-serif;

$font-weight-normal: 400;
$type-weight: (
  light: 300,
  regular: 400,
  semi: 600,
  bold: 700,
  black: 800
);

$large-header-spacing: .1rem;
$small-header-spacing: .2rem;

// Color
// - - - - - - - - - - - - - - - - - - - - - - - - -
//

$white:             #fff !default;
$snow:              #f9f9f9 !default;
$vapor:             #f6f6f6 !default;
$white-smoke:       #f5f5f5 !default;
$silver:            #b3b3b3;
$smoke:             #dedee0;
$gainsboro:         #ddd !default;
$iron:              #ccc !default;
$base:              #aaa !default;
$aluminum:          #999 !default;
$jumbo:             #888 !default;
$steel:             #767676;
$monsoon:           #777 !default;
$charcoal:          #555 !default;
$tuatara:           #30383a;
$jet:               #222 !default;
$black:             #000 !default;
$wash-color:        #efefef;
$ebony:             #242c2e;
$oil:               #333;
$mist:              #f7f7f7;
$ghost:         $wash-color;
$wash:          $wash-color;
$dust:              #f5f8f9;

// Brand Colors
$primary-color:     #0077da;
$secondary-color:   #f90;
$attention:         #00bed5;
$splash:            #ff6627;
$royal:             #b85ed5;
$panic:             #f60f60;
$bright:            #008fff;
$lush:              #99cd00;
$primary:    $primary-color;
$secondary:$secondary-color;

$primary-tint:      lighten($primary-color, 50%);
$secondary-tint:    lighten($secondary-color, 40%);
$attention-tint:    #c8f1ff; // lighten($attention, 50%);
$splash-tint:       lighten($splash, 30%);
$royal-tint:        lighten($royal, 30%);
$lush-tint:         lighten($lush, 50%);

$bright:            #008fff;
$deep:              #0067be;
$dark:              #205493;
$tint:              $primary-tint;

$success-color:     #2e8540;
$success:    $success-color;
$warn:              #fdb81e;
$warning-color:       $warn;
$alert-color:       #e31c3d;
$alert:        $alert-color;
$alert-dark:        #b51630;

$success-tint:      lighten($success, 45%);
$warn-tint:         lighten($warn, 30%);
$alert-tint:        lighten($alert, 40%);

$facebook:          #4862a3;
$twitter:           #55acee;
$linkedin:          #0074a1;

$colors: (
  primary: $primary,
  secondary: $secondary,
  wash: $wash,
  alert: $alert,
  alert-dark: $alert-dark,
  success: $success,
  ghost: $ghost,
  snow: $snow,
  vapor: $vapor,
  white: $white,
  silver: $silver,
  smoke: $smoke,
  gainsboro: $gainsboro,
  iron: $iron,
  base: $base,
  aluminum: $aluminum,
  jumbo: $jumbo,
  monsoon: $monsoon,
  steel: $steel,
  charcoal: $charcoal,
  tuatara: $tuatara,
  oil: $oil,
  jet: $jet,
  ebony: $ebony,
  deep: $deep,
  tint: $tint,
  warn: $warn,
  attention: $attention,
  mist: $mist,
  royal: $royal,
  splash: $splash,
  bright: $bright,
  dark: $dark,
  lush: $lush,
  primary-tint: $primary-tint,
  secondary-tint: $secondary-tint,
  attention-tint: $attention-tint,
  splash-tint: $splash-tint,
  royal-tint: $royal-tint,
  lush-tint: $lush-tint,
  alert-tint: $alert-tint,
  warn-tint: $warn-tint,
  success-tint: $success-tint,
  dust: $dust
);

// Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

$row-width: rem-calc(1024);
$total-columns: 12;
$column-gutter: rem-calc(30);

// Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Here we define the breakpoints which will become the upper border for each media size.
// The function em-calc() calculates the em-value from a px-value.
$small-breakpoint:  em-calc(768)  !default;
$medium-breakpoint: em-calc(960) !default;
$large-breakpoint:  em-calc(1024) !default;
$xlarge-breakpoint: em-calc(1920) !default;

// Here we define the lower and upper bounds for each media size
$small-range:   (0, $small-breakpoint) !default; /* 0, 640px */
$medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint) !default; /* 641px, 1024px */
$large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint)  !default; /* 1025px, 1440px */
$xlarge-range:  ($large-breakpoint  + em-calc(1), $xlarge-breakpoint) !default; /* 1441px, 1920px */
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999)) !default; /* 1921px, ... */

$small-top: $small-breakpoint;
$medium-bottom: $small-breakpoint + em-calc(1);
$medium-top: $medium-breakpoint;
$large-bottom: $medium-breakpoint + em-calc(1);
$large-top: $large-breakpoint;
$xlarge-bottom: $large-breakpoint + em-calc(1);
$xlarge-top: $xlarge-breakpoint;

$breakpoints: (
  small:    $small-top,
  medium:   $medium-bottom,
  large:    $large-bottom,
  x-large:  $xlarge-top
);

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
$include-html-global-classes: $include-html-classes;

$global-radius:         4px;

// Forms
$fieldset-border-width: 0;
$form-label-small-transform: capitalize;
$fieldset-padding: 0;
$form-spacing: rem-calc(20);
$form-label-font-size: rem-calc(16);
$input-placeholder-font-color: $steel;
$input-font-size: rem-calc(16);
$input-border-radius: $global-radius;
$input-box-shadow: none;
$input-bg-color: $snow;
$input-border-color: $iron;

/* Buttons */

// Button colors.
$base-button-color:     $primary;
$base-button-bg:        #fff;
$btn-primary-border:    darken($base-button-bg, 5%);
$button-font-tny: rem-calc(10);
$button-font-sml: rem-calc(11);
$button-font-med: rem-calc(13);
$button-font-lrg: rem-calc(13);
$button-border-width: 2px;

// Accordion
$accordion-navigation-bg-color: $dust;
$accordion-navigation-font-color: $dark;

// Top Bar Variables
$topbar-bg-color: #fff;
$topbar-height: rem-calc(75);
$topbar-link-color: $tuatara;
$topbar-link-color-hover: $ebony;
$topbar-link-color-active: $ebony;
$topbar-link-color-active-hover: $ebony;
$topbar-link-bg: #fff;
$topbar-link-bg-hover: $mist;
$topbar-link-bg-color-hover: $mist;
$topbar-menu-link-color: $ebony;
$topbar-menu-icon-color: $ebony;

// Alert Boxes
$alert-border-width: 0;
$alert-font-color: #333;
$alert-font-size: .9rem;

// We use these to style the error states for inputs and labels
$input-error-message-padding: rem-calc(6 0 6) !default;
$input-error-message-top: -1px !default;
$input-error-message-font-size: rem-calc(12) !default;
$input-error-message-font-weight: $font-weight-normal !default;
$input-error-message-font-style: normal;
$input-error-message-font-color: $alert;
$input-error-message-bg-color: transparent;
$input-error-message-font-color-alt: $oil !default;
$input-disabled-bg: $smoke;

// Modal
$reveal-max-width: rem-calc(720);
$reveal-modal-padding: rem-calc(20);
$reveal-close-font-size: rem-calc(14);
$reveal-close-top: rem-calc(20);
$reveal-close-color: $primary;

// Sub Nav
$sub-nav-font-color: $steel;
$sub-nav-padding: rem-calc(3 10);

// We use these to control the background and border styles
$panel-bg: #fff;
$panel-border-size: 0;

// We use these to set default inner padding and bottom margin
$panel-margin-bottom: 1rem;
$panel-padding: 1rem;

// We use these to set default font colors
$panel-font-color: $oil;
$panel-font-color-alt: $white !default;

$panel-header-adjust: false;
$callout-panel-link-color: $primary-color !default;
$callout-panel-bg: scale-color($primary-color, $lightness: 94%) !default;

// Tables
$table-border-size: none;
$table-even-row-bg: $dust;
$table-foot-bg: $white;

// Tables

// These control the background color for the table and even rows
$table-even-row-bg: $dust;

// These control the table cell border style
$table-border-size: none;

// These control the table head styles
$table-head-bg: $white-smoke;
$table-head-font-size: rem-calc(13);
$table-head-font-color: $oil;
$table-head-font-weight: 700;
$table-head-padding: rem-calc(24 20);


// These control the row padding and font styles
$table-row-padding: rem-calc(20 20);
$table-row-font-color: $charcoal;
$table-padding-small: .5rem;
$table-value-weight: 600;

// Accordions

// $accordion-navigation-padding: rem-calc(16);
$accordion-navigation-bg-color: #fff;

// Breadcrumbs
$crumb-bg: scale-color($smoke, $lightness: 55%);

// Reveal
// $reveal-modal-bg: transparent;
// $reveal-position-top: rem-calc(100);
// $reveal-default-width: 100%;
$reveal-max-width: 50rem;
// $reveal-modal-padding: rem-calc(20);
// $reveal-box-shadow: 0 0 10px rgba($black,.4);
